@charset "utf-8";


.feed {
    min-height: 100%;
    box-sizing: border-box;
    #upload {
        width: 72%;
        .file-input {
          display: none;
        }
        .upload-image {
          padding-top: 1rem;
          width: 250px;
          height: 250px;
          img {
            width: 100%;
            height: 100%;
          }
        }
    }
    p {
        font-size: 14px;
        margin-bottom: 0px;
    }
    .feedList {
        margin: 0 0 4% 0;
        display: block;
    }
    .inputName {
        margin-bottom: 0px !important;
        font-size: 14px;
        font-weight: 510;
    }
    .form-control {
        width: 60% !important;
    }
    .emoji-wysiwyg-editor {
        width: 40vw !important;
        height: 26vh !important;
    }
    .emoji-picker-icon {
        right: 0px;
        left: 41vw;
    }
    i.emoji-picker-icon.emoji-picker {
        background: url('../../images/emoji.png');
        background-size: contain;
    }

    .feedTag {
        margin-top: 3vh;
    }
    .tag {
        padding: 5px;
        margin: 1%;
    }
    .tag:hover {
        border: 1px solid rgba(196, 183, 196, 0.733);
    }
    .ti-input {
        border: none !important;
    }
    #hashTag{
        .ti-tag[data-v-61d92e31]{
            background-color: rgb(116, 97, 115);
            margin: 1px;
            padding: 5px;
        }
        .ti-tag:before {
            content: url('../../images/hashTag.png');
            margin-right: 2px;
        }
    }
    #peopleTag {
        .ti-tag[data-v-61d92e31]{
            background-color: rgb(192, 173, 191);
            margin: 1px;
            padding: 5px;
        }
        .ti-tag:before {
            content: url('../../images/peopleTag3.png');
            margin-right: 2px;
        }
    }
    .ti-icon-close[data-v-61d92e31]:before {
        color: rgb(221, 206, 223);
    }
    input[type="radio"]:checked + label {
        background-color: #c7acc4;
    }
    .top_label {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 0 0 0 0;
        border: 2px solid #a57da1;
        vertical-align: middle;
        // background: url(checkbox.svg) left top no-repeat;
        // background-size: cover;
        cursor: pointer;
    }
    input[type="radio"] {
        display: none;
    }
    #openList {
        display: inline-block;
        height: 15px;
        margin-left: 30%;
    }
    #openText {
        float: left;
        line-height: 1.1em;
        color:  #a57da1;
        font-size: 15px;
        font-weight: 700;
        margin-right: 20px;
    }
    .openSelect {
        float: left;
        margin-right: 90px;
        line-height: 0.65em;
        vertical-align: middle;
    }
    .top_label > span {
        margin-left: 17px;
        font-size: 15px;
    }
}