<template>
  <div class="user" id="userInfo" >
        <div class="wrapC">
            <h1> 카페가입 정보 </h1>
            <div class="infoList"> 
                <label for="email">가입할카페번호</label>
                <p>가입 카페번호 : {{this.cafeid}}</p>
            </div>
            <div class="infoList">
                <label for="nickname">닉네임</label>
                <p>가입시 닉네임 : {{this.nickname}}</p>
            </div>
            <div>
                <label for="profileimg">프로필 사진</label>
                <img width="200px" height="200px" :src="this.profileimg">
            </div>
            <div>
                <button class="bottomBtn btn-style btn--back" v-on:click="join">
                    가입하기
                </button>
            </div>
            
        </div>
  </div>
</template>

<script>
import CafeApi from '../../apis/CafeApi'
import UserApi from '../../apis/UserApi'
import VueCookies from "vue-cookies";


export default {
    data () {
        return {
            uid: 0,
            nickname: '',
            profileimg:'',
            usertitle:'',
            cafeid: 1,
            error: {
                nickname: false,
            },
            token: '',
        }
    },
    created(){
        this.token = VueCookies.get("lululalatoken");
        let {token,uid} = this;
        let data = {token,uid};
        

        UserApi.getUser(data,res=>{
            if(res.data.status){
                this.uid = res.data.object["uid"];
                this.profileimg = res.data.object["profileimg"];
                this.nickname = res.data.object["nickname"]; 
                this.$session.set('userEmail',this.email); 
            }
        },error=>{  
            alert("유저 정보를 불러올수 없습니다. ");
           
        })

    },
    mounted() {
        
        
    },
    methods: {
   
        join(){
             this.token = VueCookies.get("lululalatoken");
            let {token,uid,nickname,profileimg,cafeid} = this;
            let data = {token,uid,nickname,profileimg,cafeid};
            console.log(data);
            CafeApi.insertCafeUser(data,res=>{                      
                            console.log(data);
                            if(res.data.status){
                                alert("☆★ 랄라의 가입을 환영합니다 !! ★☆ ");
                                this.$router.push('/cafe/Lululala1');
                               
                            }
                                //this.$router.push({name : 'JoinSucc', params : {email : this.email}});
                            else{ 
                                this.loginFailMsg = "회원가입에 실패하였습니다.. 흑흑 8-8";
                            }

                        },error=>{  
                            //요청이 끝나면 버튼 활성화
                            
                            this.isSubmit = true;
                        })
        },
        update() {
            this.$router.push('/user/UpdateUser');
        },
        deleteUser() {
            //모달로 이메일 확인 한번 받고 토큰 확인...?
            UserApi.requestDelete(res=>{
                //토큰이 유효하면 실어보내기
                if(res.status){
                    alert("회원 탈퇴가 완료되었습니다.");
                }
                else
                    alert("로그인 세션이 만료되었습니다. 재로그인 후 탈퇴를 진행 해 주세요!");

            },
            error=>{
                
                alert("회원 탈퇴 과정에 오류가 생겼습니다. 룰루랄라에 문의해 주세요.");
            })

        }
    }
}
</script>

<style>

</style>