<template>
    <div class="user cafeform">
        <div class="cafeTitleImg">카페 메인 사진
        <h1>카페 제목</h1>
        </div>
        <p>
            가입자 수 좋아요
        </p>
        <p>
            이 카페의 최신 글
        </p>
        <div>
            <li v-for="(cafefeed, $index) in cafefeeds" :key="$index" style="display:block;">
                <router-link v-bind:to="{name:'Posts', params: { cafefeed: cafefeed}}" class="hov btn--text">
                    <p>
                        {{cafefeed.title}}
                    </p>
                </router-link>
            </li>
        </div>
        <button class="btn" style="height:33px;" @click="createPost">
            글쓰기
        </button>
        <div @click="goback" class="btn" style="height:33px" >뒤로가기</div>

    </div>
</template>

<script>
    import '../../assets/css/cafe/cafe.scss'
    import FeedApi from '../../apis/FeedApi'
    import UserApi from '../../apis/UserApi'
    import CafeApi from '../../apis/CafeApi'
    import VueCookies from "vue-cookies";

    export default {
        mounted() {
            // let {nickname, profileImg, feedImg, feedTime} = this;
            // let data = {nickname, profileImg, feedImg, feedTime};
            this.token = VueCookies.get("lululalatoken");
            let {token,uid} = this;
            let data = {token,uid};
          
            UserApi.getUser(data,res=>{
              
                if(res.data.status){ 
                    this.uid = res.data.object["uid"]; 
                    

                    this.nickname = res.data.object["nickname"]; 
                    this.profileimg = res.data.object["profileimg"]; 

                    let {cafeid} = this;

                    let data = {cafeid,};
                    CafeApi.requestCafeFeed(data,res=>{
      
                        
                        if(res.data.status){
                            this.cafefeeds = res.data.object.cafefeedlist; 
                        

                            // if (this.feedidx < this.feeds.length) {
                            //     this.page += 1;
                                
                            //     
                            //     for (var j=this.feedidx; j<(this.feedidx+this.feedViewPerPage); j++){
                            //         if (j >= this.feeds.length){
                            //             break;
                            //         }
                            //         this.feedlist.push(this.feeds[j]);
                            //     }
                            //     this.feedidx += this.feedViewPerPage;
                            // }
                        }
                        
                    },error=>{  
                        alert("피드 불러오기 에러! 룰루랄라에 문의해주세요,,, ");
                        
                    })
                }
                            

                },error=>{  
                    alert("피드 불러오기 에러! 룰루랄라에 문의해주세요,,, ");
                   
                })
        },
    data() {
        return {
            uid: '',
            nickname: '',
            profileimg: '',
            cafeid: 9,
            cafefeeds: [],
            isEmptyCafeFeeds: false,
        }
    },
    methods: {
        createPost() {
            this.$router.push({name:"CreatePost", params: {cafeid : this.cafeid}});
        },
        goback(){
            this.$router.go(-1)
        }
    }
}

</script>

<style lang="scss">
    .cafeTitleImg{
        background-color: indianred;
        width: 100vw;
        height: 20vh;
    }
</style>
