<template>
    <div class="user cafeform" id="pageNotFound">
        <div class="cafeTitleImg">카페 메인 사진
        <h1>카페 제목</h1>
        </div>
        <h1>게시판 제목</h1>
        
        <div class="cafeContents">카페 메인 사진
        <p>글제목</p>
        <p>글제목</p>
        <p>글제목</p>
        <p>글제목</p>
        <p>글제목</p>
        <p>글제목</p>
        <p>글제목</p>
        <p>글제목</p>
        <p>글제목</p>
        <p>글제목</p>
        <p>글제목</p>
        <p>글제목</p>
        <p>글제목</p>
        <p>글제목</p>
        <p>글제목</p>
        <p>글제목</p>
        <p>글제목</p>
        <p>글제목</p>
        <p>글제목</p>
        <p>글제목</p>
        <p>글제목</p>
        <p>글제목</p>
        </div>
    </div>
</template>

<script>
    import '../../assets/css/cafe/cafe.scss'

    export default {

    }

</script>

<style lang="scss">
    .cafeTitleImg{
        background-color: indianred;
        width: 100vw;
        height: 20vh;
    }
    .cafeContents{
        background-color: indianred;
        width: 100vw;
        height: 50vh;
        overflow: scroll;
    }
</style>
