<template>
    <div class="user cafeform" id="pageNotFound">
        <h1> 카페 만들기</h1>
        <p>
        카페 명<input v-model="cafename">
        </p>
        <p>
        한줄소개<input v-model="cafeIntro">
        </p>
        <p>
        카페 프로필<input v-model="postPeopleTag">
        </p>

        <button class="btn" @click="createCafe" style="height:33px">만들기</button>
    </div>
    
</template>

<script>
    import '../../assets/css/cafe/cafe.scss'
    import FeedApi from '../../apis/FeedApi'
    import UserApi from '../../apis/UserApi'
    import CafeApi from '../../apis/CafeApi'
    import VueCookies from "vue-cookies";
    var _date = new Date()

    export default {
        components: {
        },
        mounted() {
            this.token = VueCookies.get("token");
            let {token,uid} = this;
            let data = {token, uid};
           
            UserApi.getUser(data,res=>{
                   
                        if(res.data.status){ 
                            this.uid = res.data.object["uid"]; 
                        }
            })
        },
        data() {
            return {
                cafename : '',
                cafeIntro : '',
                postPeopleTag : '',
            }
        },
        methods: {
            createCafe(){
                let {cafename, cafeIntro, postPeopleTag} = this;
                let data = {
                    ownerid : this.uid,
                    cafename,
                    membercnt : 0,
                    createdate : _date,
                    intro : cafeIntro,
                    searchcount : 0,
                    profileimg : null,
                }
                CafeApi.createCafe(data,res=>{   
                             
                    if(res.data.status){
                        this.$router.push('/cafe/MyCafe');
                    }
                    else{ 
                        this.createFailMsg = "카페 만들기에 실패하였습니다.. 흑흑 8-8";
                    }
                },error=>{                     
                    
                    this.isSubmit = true;
                })
                
            }
        }
    }

</script>

<style lang="scss">
    .cafeTitleImg{
        background-color: indianred;
        width: 100vw;
        height: 20vh;
    }
    .cafeContents{
        background-color: indianred;
        width: 100vw;
        height: 50vh;
        overflow: scroll;
    }
</style>
