<template>
    <div class="user cafeForm" id="pageNotFound">
        <cu-set
        :cafeid="cafeid"
        >
        </cu-set>
        <h1>내 카페 목록 {{this.uid}}</h1>
        <div class="rightmenu"></div>
        <!-- <div class="cafeSearch"> 이곳에 검색이 들어갑니다.

        </div> -->
        
        <router-link v-bind:to="{name:'CreateCafe'}" class="hov btn--text">
            <div class="createCafe">
                카페 만들기
            </div>
        </router-link>
         <router-link v-bind:to="{name:'CafeJoin'}">  
            <div class="CafeJoin">
                카페 가입하기
            </div>
         </router-link>
        <!-- carousel로 바꿀예정 -->
        <div class="contents"> 
            <div class="myCafe"> 이곳에 내 카페 목록이 들어갑니다.
                <carousel
                class = "cafeList"
                :perPage = "4"
                paginationPosition = "bottom-overlay"
                >
                    <slide class="cafeBlock">
                    <router-link v-bind:to="{name:'Lululala1'}">
                        <img src="../../assets/images/lala1.png" alt="" srcset="">
                        <p class="cafeTitle">카페 제목</p>
                    </router-link>
                    </slide>
                    <slide class="cafeBlock">
                    <router-link v-bind:to="{name:'Lululala2'}">
                        <img src="../../assets/images/lala2.png" alt="" srcset="">
                        <p class="cafeTitle">카페 제목</p>
                    </router-link>
                    </slide>
                    <slide class="cafeBlock">
                    <router-link v-bind:to="{name:'Lululala3'}">
                        <img src="../../assets/images/lala3.png" alt="" srcset="">
                        <p class="cafeTitle">카페 제목</p>
              
                       </router-link>
                    </slide>
                    <slide class="cafeBlock">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2Fg6Xmo9j6U0IhO%2Fgiphy.gif%3Fcid%3D6104955e611d53308c2b38b6c47c05617758a1a7e8340a58%26rid%3Dgiphy.gif" alt="" srcset="">
                    </slide>
                    <slide class="cafeBlock">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2Fg6Xmo9j6U0IhO%2Fgiphy.gif%3Fcid%3D6104955e611d53308c2b38b6c47c05617758a1a7e8340a58%26rid%3Dgiphy.gif" alt="" srcset="">
                    </slide>
                </carousel>
            </div>
            <div class="hotCafe"> 이곳에 실시간 인기 카페가 들어갑니다.
                
                <carousel
                class = "cafeList"
                :perPage = "4"
                paginationPosition = "bottom-overlay"
                >
                    <slide class="cafeBlock">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2Fg6Xmo9j6U0IhO%2Fgiphy.gif%3Fcid%3D6104955e611d53308c2b38b6c47c05617758a1a7e8340a58%26rid%3Dgiphy.gif" alt="" srcset="">
                    </slide>
                    <slide class="cafeBlock">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2Fg6Xmo9j6U0IhO%2Fgiphy.gif%3Fcid%3D6104955e611d53308c2b38b6c47c05617758a1a7e8340a58%26rid%3Dgiphy.gif" alt="" srcset="">
                    </slide>
                    <slide class="cafeBlock">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2Fg6Xmo9j6U0IhO%2Fgiphy.gif%3Fcid%3D6104955e611d53308c2b38b6c47c05617758a1a7e8340a58%26rid%3Dgiphy.gif" alt="" srcset="">
                    </slide>
                    <slide class="cafeBlock">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2Fg6Xmo9j6U0IhO%2Fgiphy.gif%3Fcid%3D6104955e611d53308c2b38b6c47c05617758a1a7e8340a58%26rid%3Dgiphy.gif" alt="" srcset="">
                    </slide>
                    <slide class="cafeBlock">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2Fg6Xmo9j6U0IhO%2Fgiphy.gif%3Fcid%3D6104955e611d53308c2b38b6c47c05617758a1a7e8340a58%26rid%3Dgiphy.gif" alt="" srcset="">
                    </slide>
                    <slide class="cafeBlock">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2Fg6Xmo9j6U0IhO%2Fgiphy.gif%3Fcid%3D6104955e611d53308c2b38b6c47c05617758a1a7e8340a58%26rid%3Dgiphy.gif" alt="" srcset="">
                    </slide>
                    <slide class="cafeBlock">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2Fg6Xmo9j6U0IhO%2Fgiphy.gif%3Fcid%3D6104955e611d53308c2b38b6c47c05617758a1a7e8340a58%26rid%3Dgiphy.gif" alt="" srcset="">
                    </slide>
                    <slide class="cafeBlock">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2Fg6Xmo9j6U0IhO%2Fgiphy.gif%3Fcid%3D6104955e611d53308c2b38b6c47c05617758a1a7e8340a58%26rid%3Dgiphy.gif" alt="" srcset="">
                    </slide>
                    <slide class="cafeBlock">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2Fg6Xmo9j6U0IhO%2Fgiphy.gif%3Fcid%3D6104955e611d53308c2b38b6c47c05617758a1a7e8340a58%26rid%3Dgiphy.gif" alt="" srcset="">
                    </slide>
                    <slide class="cafeBlock">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2Fg6Xmo9j6U0IhO%2Fgiphy.gif%3Fcid%3D6104955e611d53308c2b38b6c47c05617758a1a7e8340a58%26rid%3Dgiphy.gif" alt="" srcset="">
                    </slide>
                </carousel>

            </div>
            <div class="recomCafe"> 이곳에 카페추천이 들어갑니다.
                
                <carousel
                class = "cafeList"
                :perPage = "4"
                paginationPosition = "bottom-overlay"
                >
                    <slide class="cafeBlock">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2Fg6Xmo9j6U0IhO%2Fgiphy.gif%3Fcid%3D6104955e611d53308c2b38b6c47c05617758a1a7e8340a58%26rid%3Dgiphy.gif" alt="" srcset="">
                        
                    </slide>
                    <slide class="cafeBlock">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2Fg6Xmo9j6U0IhO%2Fgiphy.gif%3Fcid%3D6104955e611d53308c2b38b6c47c05617758a1a7e8340a58%26rid%3Dgiphy.gif" alt="" srcset="">
                    </slide>
                    <slide class="cafeBlock">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2Fg6Xmo9j6U0IhO%2Fgiphy.gif%3Fcid%3D6104955e611d53308c2b38b6c47c05617758a1a7e8340a58%26rid%3Dgiphy.gif" alt="" srcset="">
                    </slide>
                    <slide class="cafeBlock">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2Fg6Xmo9j6U0IhO%2Fgiphy.gif%3Fcid%3D6104955e611d53308c2b38b6c47c05617758a1a7e8340a58%26rid%3Dgiphy.gif" alt="" srcset="">
                    </slide>
                    <slide class="cafeBlock">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2Fg6Xmo9j6U0IhO%2Fgiphy.gif%3Fcid%3D6104955e611d53308c2b38b6c47c05617758a1a7e8340a58%26rid%3Dgiphy.gif" alt="" srcset="">
                    </slide>
                    <slide class="cafeBlock">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2Fg6Xmo9j6U0IhO%2Fgiphy.gif%3Fcid%3D6104955e611d53308c2b38b6c47c05617758a1a7e8340a58%26rid%3Dgiphy.gif" alt="" srcset="">
                    </slide>
                    <slide class="cafeBlock">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2Fg6Xmo9j6U0IhO%2Fgiphy.gif%3Fcid%3D6104955e611d53308c2b38b6c47c05617758a1a7e8340a58%26rid%3Dgiphy.gif" alt="" srcset="">
                    </slide>
                    <slide class="cafeBlock">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2Fg6Xmo9j6U0IhO%2Fgiphy.gif%3Fcid%3D6104955e611d53308c2b38b6c47c05617758a1a7e8340a58%26rid%3Dgiphy.gif" alt="" srcset="">
                    </slide>
                </carousel>
            </div>
        </div>
        
    </div>
</template>

<script>
    import '../../assets/css/cafe/cafe.scss'
    import { Carousel, Slide } from 'vue-carousel';
    import FeedApi from '../../apis/FeedApi'
    import UserApi from '../../apis/UserApi'
    import CafeApi from '../../apis/CafeApi'
    import VueCookies from "vue-cookies";

    export default {
        components:{
            Carousel,
            Slide
        },
        methods:{
            leftScroll(){

            },
            rightScroll(){

            },
            
        },
        props: {
            title: {
            type: String,
            require: false,
            },
            sidebarTitle: {
            type: String,
            require: false,
            },
            headerInvisible:{
            type: Boolean,
            require: false,
            },
            sidebarAvailable:{
            type: Boolean,
            require: false,
            },
        },
        mounted() {
            this.$emit('update:title', "")
            this.$emit('update:sidebarTitle', "")
            this.$emit('update:headerInvisible', false)
            this.$emit('update:sidebarAvailable', true)
            this.token = VueCookies.get("lululalatoken");
            let {token,uid} = this;
            let data = {token,uid};
            
    
            UserApi.getUser(data,res=>{
              
                if(res.data.status){ 
                    this.uid = res.data.object["uid"]; 
                    this.nickname = res.data.object["nickname"]; 
                    this.profileimg = res.data.object["profileimg"]; 
                    data.uid = this.uid
                    CafeApi.searchMyCafe(data,res=>{
                     
                        if(res.data.status){ 
                            console.log("");
                        }
                    },error=>{  
                        alert("피드 불러오기 에러! 룰루랄라에 문의해주세요,,, ");
                      
                    })
                }
            },error=>{  
                alert("피드 불러오기 에러! 룰루랄라에 문의해주세요,,, ");
       
            })







        },
        data() {
            return {
                    cafeid:0,
                    uid: '',
                    nickname: '',
                    profileimg: '',
            }
        }
    }

</script>