<template>
    <div class="user cafeform" id="pageNotFound">
        <div class="cafeTitleImg">카페 메인 사진
        <h1>카페 제목 </h1>
        </div>
        {{this.updateinputVisible}}
        <h1>{{this.cafefeed.title}}</h1>
        {{this.nickname}} 님의 글
        <hr>
        <div v-html="this.cafefeed.contents"></div>
        <div @click="updateCafeFeed" class="btn" style="height:33px" >글수정</div>
        <div @click="deleteCafeFeed()" class="btn" style="height:33px" >글삭제</div>

        <br>
        댓글<input v-model="postComment">
        <div @click="insertCafeComment" class="btn" style="height:33px" >댓글쓰기</div>
        <br>
        
        <li v-for="(comment, $index) in comments" :key="$index" style="display:block;">
                <div  style="display:inline;">
                    {{comment.nickname}} 님의 댓글 : 
                    {{comment.contents}}
                    <!-- {{this.updateinputVisible}}
                    {{this.updateinputVisible[$index]}}
                    <input v-if="updateinputVisible[$index]"> -->
                    <div @click="updateCafeComment(comment.cid, $index)" class="btn" style="height:33px">수정</div>
                    <div @click="deleteCafeComment(comment.cid)" class="btn" style="height:33px">삭제</div>
                </div>

        </li>
        <div @click="goback" class="btn" style="height:33px" >뒤로가기</div>
    </div>
</template>

<script>
    import '../../assets/css/cafe/cafe.scss'
    import VueCookies from "vue-cookies";

    import FeedApi from '../../apis/FeedApi'
    import UserApi from '../../apis/UserApi'
    import CafeApi from '../../apis/CafeApi'
    var _date = new Date()

    export default {
        mounted() {
            // getuser
            this.cafefeed = this.$route.params.cafefeed

            this.token = VueCookies.get("token");
            let {token} = this;
            let datas = {token};

            UserApi.getUser(datas,res=>{
                if(res.data.status){
                    this.uid = res.data.object["uid"];
                    this.nickname = res.data.object.nickname
                    
                }
            },error=>{
               
                alert("로그인 상태 오류.. 다시 로그인 해주세요");
            })
                let {cafefeed} = this;
                let data = {
                    cfid: cafefeed.cfid,
                    uid: cafefeed.uid,
                    imgurl: cafefeed.imgurl,
                    contents: cafefeed.contents,
                    writedate: cafefeed.writedate,
                    title: cafefeed.title,
                    cafeid: cafefeed.cafeid,
                    open: cafefeed.open,
                }
                CafeApi.searchCafeComment(data,res=>{   
                    if(res.data.status){            
                        this.comments = res.data.object.cafecommentlist
                    }
                    else{ 
                        this.createFailMsg = "피드 등록에 실패하였습니다.. 흑흑 8-8";
                    }
                },error=>{                     
                  
                    this.isSubmit = true;
                })
        },
        data() {
            return {
                cafefeed : {},
                postComment : '',
                comments: [],
                uid:1,
                nickname:'',
                updateinputVisible: [],
            }
        },
        methods: {
            goback(){
                this.$router.go(-1)
            },
            updateCafeFeed(){
                this.$router.push({name:"UpdatePost", params: {cafefeed : this.cafefeed}});
            },
            insertCafeComment(){
               
                
                let data = {
                    fid : this.cafefeed.cfid,
                    uid : this.cafefeed.uid,
                    contents: this.postComment,
                    createDate: _date,
                    comments: [],
                }
                CafeApi.insertCafeComment(data,res=>{   
                 
                    if(res.data.status){
                        this.$router.go(-1);
             
                    }
                    else{ 
                        this.createFailMsg = "댓글 등록에 실패하였습니다.. 흑흑 8-8";
                    }
                },error=>{                     
                   
                    this.isSubmit = true;
                })
            },
            updateCafeComment(cid, idx){
                this.updateinputVisible[idx] = !this.updateinputVisible[idx]
              
                
                
                // let data = {
                //     fid : this.cafefeed.cfid,
                //     uid : this.cafefeed.uid,
                //     contents: this.postComment,
                //     createDate: _date,
                //     comments: [],
                // }
                // CafeApi.insertCafeComment(data,res=>{   
                          
                //     if(res.data.status){
                //         this.$router.go(-1);
              
                //     }
                //     else{ 
                //         this.createFailMsg = "댓글 등록에 실패하였습니다.. 흑흑 8-8";
                //     }
                // },error=>{                     
                
                //     this.isSubmit = true;
                // })
            },
            deleteCafeComment(cid){
    
                
                let data = {
                    fid : this.cafefeed.cfid,
                    uid : this.cafefeed.uid,
                    contents: this.postComment,
                    createDate: _date,
                    comments: [],
                    cid : cid,
                }
                CafeApi.deleteCafeComment(data,res=>{   
                               
                    if(res.data.status){
                        this.$router.go(-1);
                  
                    }
                    else{ 
                        this.createFailMsg = "피드 등록에 실패하였습니다.. 흑흑 8-8";
                    }
                },error=>{                     
                  
                    this.isSubmit = true;
                })
            },
            deleteCafeFeed(){
                
                
                let data = {
                    cfid : this.cafefeed.cfid,
                }
                CafeApi.deleteCafeFeed(data,res=>{   
                    console.log(data)              
                    if(res.data.status){
                        this.$router.go(-1);
                        console.log(res);
                    }
                    else{ 
                        this.createFailMsg = "피드 등록에 실패하였습니다.. 흑흑 8-8";
                    }
                },error=>{                     
                    console.log("글 작성 에러,,안됫당,,");
                    this.isSubmit = true;
                })
            },

        },
        watch: {
            comments: function(v){
                
                for (var i = 0 ; i < this.comments.length ; i++) {
                    console.log("글 작성 에러,,안됫당,,");

                    this.updateinputVisible.push(false)
                }

            }
        }

    }

</script>

<style lang="scss">
    .cafeTitleImg{
        background-color: indianred;
        width: 100vw;
        height: 20vh;
    }
    .cafeContents{
        background-color: indianred;
        width: 100vw;
        height: 50vh;
        overflow: scroll;
    }
</style>
