<template>
    <div class="user cafeform" id="pageNotFound">
        <div class="cafeTitleImg">카페 메인 사진
        <h1>카페 제목{{this.$route.params.cafeid}}</h1>
        </div>
        <h1 ondragstart="dragStart(event)">글 쓰기</h1>
        글제목
        <div>
            <input v-model="title">
        </div>
        <VueTrix 
        v-model="editorContent" 
        placeholder="Enter content" 
        />
        
        tag :  
        <vue-tags-input
        class="hashinput"
        v-model="tag"
        :tags="tags"
        @tags-changed="newTags => tags = newTags"
        placeholder="태그입력"
        />
        <button class="btn" style="height:30px;" @click="updatePost">글 수정하기</button>
        <div @click="goback" class="btn" style="height:33px" >뒤로가기</div>

    </div>
</template>

<script>
    import VueTagsInput from '@johmun/vue-tags-input';
    import '../../assets/css/cafe/cafe.scss'
    import VueTrix from "vue-trix";

    import FeedApi from '../../apis/FeedApi'
    import UserApi from '../../apis/UserApi'
    import CafeApi from '../../apis/CafeApi'
    import VueCookies from "vue-cookies";
    var _date = new Date()

    export default {
        components: {
            VueTrix,
            VueTagsInput,
        },
        data() {
            return{
                editorContent:'',
                tag: '',
                tags: [],
                uid: '',
                nickname: '',
                profileimg: '',
                cafeid: 0,
                imgurl: '',
                open: 0,
                title: 'ddddddddddddddddd',
                cafefeed: {},
            }
        },
        methods: {
            updatePost(){
                let {uid,imgurl,open, title} = this;
                let data = {
                    cafeid: this.$route.params.cafeid,
                    title,
                    contents: this.editorContent,
                    uid,
                    writedate: _date,
                    updatedate: _date,
                    imgurl,
                    open,
                }
                console.log(data)
                CafeApi.updateCafeFeed(data,res=>{   
                    console.log(data)              
                    if(res.data.status){
                        this.$router.go(-1);
                        console.log(res);
                    }
                    else{ 
                        this.createFailMsg = "피드 등록에 실패하였습니다.. 흑흑 8-8";
                    }
                },error=>{                     
                    console.log("글 작성 에러,,안됫당,,");
                    this.isSubmit = true;
                })
                
            },
            goback(){
                this.$router.push({name:"Posts", params: {cafefeed : this.cafefeed}});

            }
        },
        mounted() {
            this.token = VueCookies.get("token");
            let {token,uid} = this;
            let data = {token, uid};
            
            console.log("보내는 데이터");
            console.log(data);
            UserApi.getUser(data,res=>{
                     console.log(res);
                        if(res.data.status){ 
                            this.uid = res.data.object["uid"]; 
                        }
            })
            this.cafefeed = this.$route.params.cafefeed
            this.title = this.cafefeed.title
            this.editorContent = this.cafefeed.contents
        },
    }

</script>

<style lang="scss">
    .cafeTitleImg{
        background-color: indianred;
        width: 100vw;
        height: 20vh;
    }
    .cafeContents{
        background-color: indianred;
        width: 100vw;
        height: 50vh;
        overflow: scroll;
    }
</style>
