<template>
  <div class="feed" id="feedUpload">
      <div class="feedList">
          <div id="openList">
            <div id="openText">{{this.openText}}</div>
            <div class="openSelect">
                <input type="radio" id = "open0"  value="0" v-model="open">
                <label class="top_label" for="open0"><span>전체공개</span></label>
            </div>
            <div class="openSelect">
                <input type="radio" id = "open1" value="1" v-model="open">
                <label class="top_label" for="open1"><span>팔로우공개</span></label>
            </div>
            <div class="openSelect">
                <input type="radio" id = "open2" value="2" v-model="open">
                <label class="top_label" for="open2"><span>비공개</span></label>
            </div>
          </div>
          
          <div>       
            <label class="inputName">IMAGE</label>
            <div class="input-group" id="upload">
                <span class="input-group-text" @click="onClickFile"><i class="fa fa-paperclip"></i></span>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Input Image URL or  Drag & Drop or Select"
                    v-model="filename"
                    @dragover.prevent
                    @dragenter.prevent
                    @drop.prevent="onDrop">
                
                <input name="photoImage" type=file class="file-input" accept="image/*" ref="postImage" @change="fileSelect">
            </div>
            <div v-show="imageSrc" class="upload-image">
                <img :src="imageSrc" style="max-width:30vw;max-height:30vw;">
            </div>
        </div>
      </div>
      <div class="feedList">
            <div>
              <label class="inputName">WRITE</label>
              <VueEmoji ref="emoji" class="myText" @input="onInput" :value="myText" />
            </div>
       </div>

        <div class="feedTag">
            <div class="tag" id="hashTag">
                <label class="inputName" for="hashtag"># HASH TAG</label>
                <vue-tags-input class="hashinput" v-model="hashtag"
                :hashtags="hashtags" @tags-changed="newTags => hashtags = newTags"
                placeholder="태그입력"
                /> 
            </div>

            <div class="tag" id="peopleTag">
                <label class="inputName" for="peopletag">@ PEOPLE TAG</label>
                <vue-tags-input class="hashinput" v-model="peopletag"
                :peopletags="peopletags" @tags-changed="newpTags => peopletags = newpTags"
                placeholder="태그입력"
                @before-adding-tag="checkTag"
                />
            </div>
        </div>
        
        <button class="btn-style btn--back" @click="uploadPost" style="width:90%">등록</button>
</div>
</template>

<script>
    import axios from 'axios'
    import '../../assets/css/profile.scss'
    import '../../assets/css/user.scss'
    import '../../assets/css/style.scss'
    import '../../assets/css/feed/feedUpload.scss'
    import FeedApi from '../../apis/FeedApi'
    import UserApi from '../../apis/UserApi'
    import VueEmoji from 'emoji-vue'
    import VueCookies from "vue-cookies";
    import VueTagsInput from '@johmun/vue-tags-input';
    const api = '//hn.algolia.com/api/v1/search_by_date';
    
    export default {
        components: {
            VueEmoji,
             VueTagsInput,
        },
        props: {
            title: {
            type: String,
            require: false,
            },
            sidebarTitle: {
            type: String,
            require: false,
            },
        },
        data: () => {
            return {
                email:'',
                uid: 0,
                open: 0,
                // post를 위한 속성변수들
                postImage : '',
                postHashTag : '',
                postPeopleTag : '',
                postWrite : '',
                filename: '',
                imageSrc: '',
                myText: '',
                
                inputcontent:'',
                imgurl:'',
                hashtag: '',
                peopletag: '',
                hashtags: [],
                peopletags: [],
                openText: "전체공개",
            }
        },
        mounted() {
            this.token = VueCookies.get("token");
            let {token,uid} = this;
            let data = {token, uid};
            
            console.log("보내는 데이터");
            console.log(data);
            UserApi.getUser(data,res=>{
                     console.log(res);
                        if(res.data.status){ 
                            this.uid = res.data.object["uid"]; 
                        }
            })
        },
        watch: {
            open: function (v) {
                 if(this.open == 1)
                    this.openText = "팔로우공개";
                else if(this.open == 2)
                    this.openText = "비공개";
                else
                    this.openText = "전체공개";
                }
        },
        methods:{
            checkTag(obj) {
                console.log(typeof(obj.tag.text))
                console.log(obj.tag.text)
                UserApi.requestUserInfo(obj.tag.text,res=>{
                console.log(res)
                    
                    if (res.data !== ''){
                        obj.addTag();

                    }
                    else{
                        alert("없는 사용자 입니다.");
                    }
                }, error=>{
                        alert("없는 사용자 입니다.");
                })


            },
            fileSelect(){ // data의 이미지 속성에 접근하여 데이터 담아주는 함수
                this.inputImageFile(event.target.files)
                this.postImage = this.$refs.postImage.files[0];
                
                const URL = 'http://192.168.100.72:8080/lululala/feed/uploadfile'; 

                var formData = new FormData();
                var content = '<a id="a"><b id="b">hey!</b></a>'; // the body of the new file...
                var blob = new Blob([content], { type: "application/json"});
                formData.append("webmasterfile", blob);
                formData.append("postImage", this.postImage);
                console.log(formData);
                axios
                .post(URL, formData)
                .then(
                  response => {
                      console.log('image upload response > ', response)
                      this.imgurl = response.data.data;
                    }
                )
           },

            uploadPost(event) {
                let hashStr = '';
                for(var i=0; i<this.hashtags.length; i++){
                    hashStr += this.hashtags[i].text;
                    if(i==this.hashtags.length-1) break;
                    hashStr += ',';
                }
                let peopleStr = '';
                for(var j=0; j<this.peopletags.length; j++){
                    peopleStr += this.peopletags[j].text;
                    if(j==this.peopletags.length-1) break;
                    peopleStr += ',';
                }
                this.hashtag = hashStr;
                this.peopletag = peopleStr;
                alert(this.hashtag+", "+this.peopletag);
                let {uid, content, inputcontent, hashtag, peopletag, imgurl, open} = this;
                let data = {
                    contents : inputcontent,
                    imgurl,
                    hashtag,
                    peopletag,
                    uid,
                    open
                }
                FeedApi.createFeed(data,res=>{   
                    console.log(data)              
                    if(res.data.status){
                        this.$router.push('/user/MainFeed');
                        console.log(res);
                    }
                    else{ 
                        this.createFailMsg = "피드 등록에 실패하였습니다.. 흑흑 8-8";
                    }
                },error=>{                     
                    console.log("글 작성 에러,,안됫당,,");
                    this.isSubmit = true;
                })
            },

            readURL(input){
                if(input.files && input.files[0]){
                    var reader = new FileReader();
                    reader.onload = function(e){
                    }
                 }   
            },

            onDrop (event) {
                this.inputImageFile(event.dataTransfer.files)
            },
            onClickFile(event) {
                 this.$refs.postImage.click()
            },
            onFileChange(event) {
                this.inputImageFile(event.target.files)
            },
            inputImageFile (files) {
                if (files.length) {
                    let file = files[0]
                    if (!/^image\//.test(file.type)) {
                        alert('이미지 파일만 등록이 가능합니다')
                        return false
                    }
                    this.filename = file.name
                    this.preview(file)
                }
            },
            onClickUpload () {
                this.preview (this.filename)
            },
            preview (file) {
                if (typeof file === 'string') {
                  this.imageSrc = file
                } else {
                    let vm = this
                    let reader = new FileReader()
                    reader.onload = () => {
                        vm.imageSrc = reader.result
                    }
                    reader.readAsDataURL(file)
                }
            },
            
            onInput(event) {
                this.inputcontent = event.data

            },
            clearTextarea(){
                this.$refs.emoji.clear()
            },  
            
        }
    }
</script>