<template>
    <div id="kakao-login">
            <img src="../../images/KakaoTalk.png"
            @click="loginWithKakao"
            />
        <!-- <a href="http://developers.kakao.com/logout"></a> -->
    </div>
    
</template>

<script>

import Kakao from '../../../../kakao'
import UserApi from '../../../apis/UserApi';
import axios from 'axios';
    export default {
        data: () => {
            return {
                kakao_access_token: '',
                email : '',
                headers : {},
                info:{},
            }
        },
        mounted(){

        },
        methods: {
            fukakaologout(){
                
            },
            loginWithKakao() {
            // 로그인 창을 띄웁니다. 
                Kakao.Auth.login({
                    success: function(authObj) {
                        this.kakao_access_token=authObj;
                        Kakao.API.request({
                            //호출할 API URL
                            url : "/v2/user/me",
                            
                            //파일 첨부가 필요한 API에서 이용하는 파일 파라미터
                            //files : FileList | Array[File] | Array[Blob]

                            //API 호출이 성공할 경우 결과를 받을 콜백 함수
                            success : function(res){
                                this.email = res.kakao_account["email"]
                                console.log(this.email);
                                let {email} = this;
                                let data = {email};
                                UserApi.kakaologin(data,res=>{
                                    console.log(res)



                                    this.$router.push({name:"MainFeed"});
                                    

                                },error=>{  
                                    alert("로그인 에러! 룰루랄라에 문의해주세요,,, ");
                               
                                })

                                
                            },
                            
                            //API 호출이 실패할 경우 결과를 받을 콜백 함수
                            fail : function(errorObj){
                                console.log(errorObj);
                            },
                            
                            //API 호출이 성공하거나 실패할 경우 항상 호출할 콜백 함수
                            always : function(resultObj , errorObj){

                            },
                            
                            data :{//API에 전달할 파라미터
                                
                            }
                            
                        }); 
                    },
                    fail: function(err) {
                        alert(JSON.stringify(err));
                    }

                });
            }

        }
    }
</script>