.cafeForm{
    @media (min-width: 900px){
        
        margin-top: 5vh;
    }
    .contents{
        overflow: scroll;
        height: 70vh;
    }
} 
*{
    

}


@media (max-width: 900px){ //폰 화면
    .cafeSearch{
        height: 5vh;
        top:0vh;
        width: 40vw;
        background-color: yellowgreen;
        position: fixed;
        right: 0;
        overflow-x: hidden;
    }
    .createCafe{
        height: 5vh;
        top:5vh;
        width: 40vw;
        background-color: yellowgreen;
        position: fixed;
        right: 0;
        overflow-x: hidden;
        
    }
    .myCafe{
        width: 100vw;
        height: 30vh;
        background-color: rgba(238, 130, 238, 0.571);
    }
    .hotCafe{
        width: 100%;
        height: 30vh;
        background-color: rgba(188, 143, 143, 0.782);

    }
    .recomCafe{
        width: 100%;
        height: 30vh;
        background-color: rgba(245, 222, 179, 0.66);
    }
    .cafeList{
        white-space: nowrap;/* 가로스크롤시 중요한 속성 */
        overflow-x: auto;
        overflow-y: hidden;
        background: #efefef;
        margin-top: 2vh;
        width: 100vw;

    }
    .cafeBlock{
        display: inline-block;
        height: 25vh;
        background-color: aqua;
        text-align: center;
        img{
            width: 20vh;
            height: 20vh;
            margin-top: 1vh;
            margin-bottom: 1vh;
        }
    }
    p{
        text-align: center;
    }
}

@media (min-width: 900px){ //웹 화면
    .cafeSearch{
        margin-top: 5vh;
        height: 5vh;
        top:0vh;
        width: 40vw;
        background-color: yellowgreen;
        position: fixed;
        right: 0;
        overflow-x: hidden;
    }
    .myCafe{
        width: 100vw;
        height: 30vh;
        background-color: rgba(238, 130, 238, 0.571);
    }
    .hotCafe{
        width: 100%;
        height: 30vh;
        background-color: rgba(188, 143, 143, 0.782);

    }
    .recomCafe{
        width: 100%;
        height: 30vh;
        background-color: rgba(245, 222, 179, 0.66);
    }
    .cafeList{
        white-space: nowrap;/* 가로스크롤시 중요한 속성 */
        overflow-x: auto;
        overflow-y: hidden;
        background: #efefef;
        margin-top: 2vh;
        width: 100vw;

    }
    .cafeBlock{
        display: inline-block;
        width: 20vh;
        height: 25vh;
        background-color: aqua;
        text-align: center;
        img{
            width: 20vh;
            height: 20vh;
            margin-top: 1vh;
            margin-bottom: 1vh;
            margin-left: 3vh;
            margin-right: 3vh;
        }
    }
    p{
        text-align: center;
    }
}