@charset "utf-8";
$c100: 100%;
$h100: 100%;

/* COLOR */

$ssafy: #b17ea4;
$black: #707070;
$red: rgb(194, 26, 26);
$grey: #CCCCCC;

/* FONT */

$font-size__1: 1.786em; /*25px*/
$font-size__2: 1.429em; /*20px*/
$font-size__3: 1.286em; /*18px*/ 
$font-size__4: 1em; /*14px*/
$font-size__5: 0.857em; /*12px*/

/*12px*/

$f100:100;
$f200:200;
$f300:300;
$f400:400;
$f500:500;
$f600:600;
$f700:700;
$f900:900;
@mixin wrap {
    width: 100%;
    float: left;
}

@mixin div {
    width: 100%;
    float: left;
    height: 1px;
}

@mixin ellipsis {
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
    word-wrap:normal;
}

@mixin background-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin input-with-label {
    @include wrap;
    box-sizing: border-box;
    background: #fff;
}

@mixin select-custom {
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 50px;
    border-radius: 3px;
    padding:0 40px 0 20px;
    background-image: url('../../assets/images/select-arrow.png');
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: 95%;
    cursor: pointer;
    outline: none;
    width: 100%;
}

@mixin ellipsisMulti($line) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

// 스켈레톤
$base-color: #ddd;
$shine-color: #e8e8e8;
$animation-duration: 1.6s;
$avatar-offset: 52 + 16;

@mixin background-gradient {
    background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px);
    background-size: 600px
}

@keyframes shine-lines {
    0% {
        background-position: -100px
    }
    40%, 100% {
        background-position: 140px
    }
}

@keyframes shine-avatar {
    0% {
        background-position: -100px + $avatar-offset
    }
    40%, 100% {
        background-position: 140px + $avatar-offset
    }
}
