
.mainfeed{
    
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    ::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
    
    margin: 4vw 10vw 10vw 10vw;
    height: 100%;
    width: auto;
    background-color: white;
    display: flex;
    .left{
        margin: 3vw;
        display: none;
        top:0;
        position: sticky;
        @media (min-width: 900px){
            display:inline-block;
        }
        // @media (min-width: 1500px){
            
        // }
        background-color:white;
        width: 250px;
        height: 100%;
        .user_info{
            height: 10vh;
            //background-color: rgba(128, 110, 136, 0.26);
            margin-bottom: 5vh;
            .myproimg{
                float: left;
                max-height: 5vh;
                max-width: 30vw;
                border-radius: 40px;
                margin-top: 2.5vh;
                margin-left: 4vw;
            }
            .myusername{
                float: left;
                padding-top: 3vh;
                text-indent: 1em;
                p {
                    font-weight: 600;
                }
            }
        }
        .curation{
            height: auto;
            min-height: 8vh;
            background-color: rgba(123, 102, 129, 0.103);
            margin-bottom: 1vh;
            .curationheader{
                height: 15%;
                padding: 8px;
                border-bottom: 1px solid rgb(255, 255, 255);
                color: rgb(82, 73, 85);
                font-weight: 700;
                font-size: 14px;
                text-align: center;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
            .curationcontent{
                height: 85%;
                padding: 9px 8px 1px 8px;
                font-size: 12px;
                text-align: center;
            }
        }
        .cafe{
            height: auto;
            min-height: 8vh;
            background-color:rgba(123, 102, 129, 0.103);
            margin-bottom: 1vh;
            .cafeheader{
                height: 15%;
                padding: 8px;
                border-bottom: 1px solid rgb(255, 255, 255);
                color: rgb(82, 73, 85);
                font-weight: 700;
                font-size: 14px;
                text-align: center;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
            .carousel-inner{
                .lalaTitle {
                    font-size: 16px;
                    font-weight: 600;
                }
                .lalaMent {
                    color: rgb(255, 255, 255);
                    font-size: 10px;
                    font-weight: 300;
                }
                p {
                    margin-bottom: 0;
                }
            }
            .carousel-caption{
                padding: 5px;
            }
            .carousel-indicators {
                margin: 30vw 0 0 0 !important;
            }
            .carousel-indicators {
                li {
                    width: 10px;
                    height: 1px;
                }
            }
        }
    }
    .right{
        width:100%;
        height: 90vh;
        overflow-x: hidden;
        
        @media (min-width: 900px){
            width:100%;
            margin-left: 0vw;
            margin-right: 0vw;
        }
        @media (min-width: 1500px){
            
        }
        .posts{
            @media (min-width: 900px){
                margin-left: 30vw;
            }
            @media (min-width: 1500px){
                
            }
            width: 100%;
            margin-left: 42vw;
            // .maintab{
            //     text-align: center;
            //     position: relative;
            // }
            .vue-tabs{
                position: relative;
                transform: translate(-48%, 0%);
                margin-bottom: 15vh;
                .nav-tabs-navigation{
                    width: 100%;
                    position: relative;
                    margin-bottom: 1vw;
                }
                .nav-tabs-wrapper {
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                    border: 0;
                    align-items: stretch;
                    display: flex;
                    justify-content: space-around;
                }
                .tab-container{
                    overflow: hidden !important;
                    width: 100%;
                    transform: translate(2%, 0%);
                }
                .v-tab {
                    font-size:4pt;
                }
                ul {
                    width: 100%;
                }
                li {
                    float: left;
                    margin-bottom: 1px;
                    width: 47%
                }
                .board{
                    float: left;
                    margin-bottom: 1px;
                    width: 31%
                }
                .list{
                    float: left;
                    margin-bottom: 5vh;
                    width: 80%;
                    //border: 1px solid lightgray;
                    margin-left:50px;
                }
                .feedProfile {
                   text-indent: 0.5em;
                   display: inline-block;
                   width: 100%;
                   line-height: initial;
                   vertical-align: middle;
                }
                #menus{
                    text-align: center;
                    display: inline-block;
                    margin-left:0.5vw;
                    margin-right:0.5vw;
                    // border-radius: 5px;
                    overflow: hidden;
                    
                    img{
                        @media (min-width: 900px){
                            width:17vw;
                            height:17vw;
                        }
                        @media (min-width: 1500px){
                            
                        }
                        width:23vw;
                        height:23vw;
                        overflow: hidden;
                    }
                }
                .title_bottom{
                    color:black;
                    display: none;
                    visibility: hidden;
                }
            }
            #usermenu{img{
                    widows: 100%;
                    height:47.5vw;
                    margin-top: 2vh;
                }
                width: 100%;
                //width:90vw;
                //height:90vw;
                .feedImg{
                    width:100%;
                    img{
                        width: 100%;
                        height:47.5vw;
                        margin-top: 2vh;
                    }
                }
                
                #usermenuicon{
                    margin-top: 2vh;
                    margin-bottom: 2vh;
                }
            }
            .usermenuicon {
                margin: 2px;
                padding: 1px;
                font-size: 24px;
                text-align: left;
               
            }
            #comment {
                font-size: 22px;
            }
            .usermenuicon:hover {
                color: rgb(160, 133, 163);
            }
            #likeHeart {
                color: rgb(185, 63, 63);
            }
            .proimg {
                width: 55px;
                height: 55px;
                border-radius: 100px;
                float: left;
                //margin-left: 1vw;
            }
            .nicknameDiv {
                font-weight: 800;
                font-size: 17px;
                margin-top: 18px;
            }
            .nicknameContents {
                font-weight: 800;
                margin-right: 2vw;
                float: left;
            }
            .content {
                float: left;
                font-size: 18px;
                display: inline-flex;
                //vertical-align: middle;
                .contentsNickname {
                   // float: left;
                    width: 5px;
                    //margin-right: 5px;
                    font-weight: 800;
                    font-size: 17px;
                }
                .contentsText {
                   // float: left;
                    //width: 5px;
                    margin-left: 50px;
                    color: rgb(41, 41, 41);
                    font-size: 15px;
                    margin-top: 3px;
                }
            }

            #writeTime {
                font-size: 13px;
                color: rgb(150, 150, 150);
            }
            //알람 배지 설정
            // .md-badge.md-theme-default {
            //     right: 4vw;
            //     top: 22vh;
            // }
            // .infos {
            //     float:left;
            //     width:32%;
            //     border:1px black solid;
            //     border-radius:3px;
            // }
            // .sub-tabs {
            //     float:left;
            //     width:32%;
            //     height:40px;
            //     border:3px black solid;
            //     border-radius:6px;
            // }
        }
    }
}

@media (min-width: 900px){
    .profilemain{
        //margin-top: 10vh;
        margin-left: 5vw;
        margin-right: 20vw;
        margin-top: 1vw;
        width: 45vw;
        background-color: white;
        display: flex;
        
        .tab-content{
            overflow-y: scroll;
            height: 70vh;
            
        }
        .myinfo{
        //margin-top: 5vw;
        //background-color: red;
        height: 700px;
        width: 500px;
        background-color: rgba(139, 130, 139, 0.075);

        //display: flex;
        .infoheader{
            width: 500px;
            height:100px;
            display: flex;
                .mypagename{
                    width: 250px;
                    //margin-left: 2vw;
                    margin-top:20px;
                    font-size: 20px;
                }
                .follow{
                    display: -webkit-box;
                    //margin-top: 35px;
                        margin-top: 37px;
                    width:195px;
                    .followers{
                        font-size: 1em;
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                    .followernum{
                        font-size: 1.2em;
                        font-weight: bolder;
                        margin-left: 5px;
                    }
                    .followings{
                        margin-right: 5px;
                        margin-left: 25px;
                    }
                    .followingnum{
                        font-size: 1.2em;
                        font-weight: bolder;
                        margin-left: 5px;
                    }
                    .followBtn{
                        //margin-top: 30px;
                        margin-left: 15px;
                        width: 40px;
                        height: 30px;
                        .btn-outline-secondary {
                            color: #6c757d;
                            border-color: #6c757d;
                        }
                    }
                }
                .settingbtn{
                
                    .settingimg{
                        max-width: 20px;
                        max-height: 20px;
                        margin-bottom: 5px;
                    }
                }
                
        }

            
        .profileimg{
            
            margin-top: 50px;
            text-align: center;
            //margin-left:150px;
            .myimg{
                //margin-left:75px;
                width: 200px;
                height: 200px;
                margin-top: 20px;
                border-radius: 120px;
                margin-bottom: 50px;
            }
            
            } 
            .mynickname{
                text-align: center;
                font-size : 35px;
                font-weight: 600;
                p{
                    font-weight: 550;
                }
            }
            .message{
                text-align: center;
            }
            .profileinfo{
                display: relative;
                width: 600px;
                margin-top:20px;
                
                
            .message{
                margin-top: 10px;
                margin-left:6vw;
            }
            
            }

        }  
        .hometab{
            text-align: center;
            position: relative;
        }
        .peopleprofeed{
            //width:45vw;
                .vue-tabs{
                    position: relative;
                    //left:49vw;
                    margin-left: 32vw;
                    transform: translate(-48%, 0%);
                    margin-bottom: 15vh;
                    //margin-top:20vh;
                    .nav-tabs-navigation{
                        width: 55vw;
                        position: relative;
                        margin-left: 1vw;
                        margin-top: 2vw;
                        margin-bottom: 4vw;
                    }
                    .nav-tabs-wrapper {
                        width: 100%;
                        margin: 0 auto;
                        text-align: center;
                        border: 0;
                        align-items: stretch;
                        display: flex;
                        justify-content: space-around;
                        margin-bottom: -1px;
                    }
                    .tab{
                        // border: 2px black solid;
                        border-radius: 6px;
                    }
                    .tab-container{
                        overflow: hidden !important;
                        //width: 90%;
                       // transform: translate(2%, 0%);
                    }
                    ul {
                        width: 100%;
                    }
                    li {
                        float: left;
                        margin-bottom: 1px;
                        width: 44%
                    }
                    .board{
                        float: left;
                        margin-bottom: 1px;
                        width: 30%
                    }
                    .list{
                        float: left;
                        margin-bottom: 20vh;
                        width: 100%
            
                    }
                    .postTab {
                        margin-left: 5vw;
                    }
                    .feedBoard {
                        
                        #menus{
                            width:16vw;
                            height:16vw;
                            text-align: center;
                            display: inline-block;
                            margin-left:0.5vw;
                            margin-right:0.5vw;
                            overflow: hidden;
                            
                            img{
                                width:16vw;
                                height:16vw;
                                overflow: hidden;
                            }
                        }
                    }
                    
                    .title_bottom{
                        color:black;
                        display: none;
                        visibility: hidden;
                    }
                }
                #usermenu{
                    width:90vw;
                    height:90vw;
            
                    .feedImg {
                        width:90vw;
                        height:90vw;
                    }
                }
                #usermenuicon{
                    width:90vw;
                    height:10vw;
                    margin-top: 5px;
                    border-radius: 10px;
                    font-size: 7vw;
                    text-align: left;
                    color: blue;
                }
            
                //알람 배지 설정
                .md-badge.md-theme-default {
                    right: 4vw;
                    top: 22vh;
                }
                .proimg{
                    width: 15vw;
                    height: 15vw;
                    border-radius: 50px;
                }
                .infos {
                    float:left;
                    width:32%;
                    border:1px black solid;
                    border-radius:3px;
                }
                .sub-tabs {
                    float:left;
                    width:32%;
                    height:40px;
                    border:3px black solid;
                    border-radius:6px;
                }
        }
        .profeed{
            //width:45vw;
                .vue-tabs{
                    -ms-overflow-style: none; /* IE and Edge */
                    scrollbar-width: none; /* Firefox */
                    ::-webkit-scrollbar {
                        display: none; /* Chrome, Safari, Opera*/
                    }
                    position: relative;
                    //left:49vw;
                    margin-left: 32vw;
                    transform: translate(-48%, 0%);
                    margin-bottom: 15vh;
                    //margin-top:20vh;
                    .nav-tabs-navigation{
                        width: 55vw;
                        position: relative;
                        margin-left: 1vw;
                        margin-top: 2vw;
                        margin-bottom: 4vw;
                    }
                    .nav-tabs-wrapper {
                        width: 100%;
                        margin: 0 auto;
                        text-align: center;
                        border: 0;
                        align-items: stretch;
                        display: flex;
                        justify-content: space-around;
                        margin-bottom: -1px;
                    }
                    .tab{
                        // border: 2px black solid;
                        border-radius: 6px;
                    }
                    .tab-container{
                        overflow: hidden !important;
                        //width: 90%;
                       // transform: translate(2%, 0%);
                    }
                    .tab-content{
                        overflow-y: scroll;
                        height: 70vh;
                        
                    }

                    ul {
                        width: 100%;
                    }
                    li {
                        float: left;
                        margin-bottom: 1px;
                        width: 30%
                    }
                    .board{
                        float: left;
                        margin-bottom: 1px;
                        width: 30%
                    }
                    .list{
                        float: left;
                        margin-bottom: 20vh;
                        width: 100%
            
                    }
                    .postTab {
                        margin-left: 5vw;
                    }
                    .feedBoard {
                        
                        #menus{
                            width:16vw;
                            height:16vw;
                            text-align: center;
                            display: inline-block;
                            margin-left:0.5vw;
                            margin-right:0.5vw;
                            overflow: hidden;
                            
                            img{
                                width:16vw;
                                height:16vw;
                                overflow: hidden;
                            }
                        }
                    }
                    
                    .title_bottom{
                        color:black;
                        display: none;
                        visibility: hidden;
                    }
                }
                #usermenu{
                    width:90vw;
                    height:90vw;
            
                    .feedImg {
                        width:90vw;
                        height:90vw;
                    }
                }
                #usermenuicon{
                    width:90vw;
                    height:10vw;
                    margin-top: 5px;
                    border-radius: 10px;
                    font-size: 7vw;
                    text-align: left;
                    color: blue;
                }
            
                //알람 배지 설정
                .md-badge.md-theme-default {
                    right: 4vw;
                    top: 22vh;
                }
                .proimg{
                    width: 15vw;
                    height: 15vw;
                    border-radius: 50px;
                }
                .infos {
                    float:left;
                    width:32%;
                    border:1px black solid;
                    border-radius:3px;
                }
                .sub-tabs {
                    float:left;
                    width:32%;
                    height:40px;
                    border:3px black solid;
                    border-radius:6px;
                }
            }

    }
}

@media (max-width: 900px){
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    ::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
    .profilemain{
        margin-left: 5vw;
        margin-right: 20vw;
        margin-top: 3vh;
      
        width: 90vw;
        height: 85vh;
        background-color: white;
        display: block;
        overflow: scroll;
        overflow-x: hidden;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        ::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera*/
        }
        .myinfo{
        //margin-top: 5vw;
        //background-color: red;
        height: 60vh;
        width: 100%;
        background-color: rgba(99, 88, 99, 0.075);

        //display: flex;
     
        .infoheader{
            width: 500px;
            height:100px;
            // display: block;
            display: inline-flex;
                .mypagename{
                    width: 50vw;
                    margin-left: 2vw;
                    margin-top:50px;
                    p {
                        font-size: 50px;
                    }
                }
                .follow{
                    display: inline-flex;
                    width:90vw;
                    font-size: 30px;

                    .followers{
                        margin-left: 5px;
                    }
                    .followernum{
                        margin-left: 3px;
                    }
                    .followings{
                        margin-left: 25px;
                    }
                    .followingnum{
                        margin-left: 3px;
                    }
                }
                .settingbtn{
                
                    position: relative;
                    top: -3vh;
                    left: 80vw;
                    .settingimg{
                        max-width: 30px;
                        max-height: 30px;
                        margin-bottom: 5px;
                    }
                }
                
        }

            
        .profileimg{
            
            margin-top: 50px;
            
            //margin-left:150px;
            .myimg{
                margin-left:50%;
                transform: translate(-10vh);
                width: 20vh;
                height: 20vh;
                border-radius: 200px;
            }
            
            } 
            .mynickname{
                text-align: center;
                font-size : 35px;
                font-weight: 600;
                p{
                    font-weight: 550;
                }
            }
            .message{
                text-align: center;
            }
            .profileinfo{
                display: relative;
                width: 600px;
                margin-top:20px;
                
                
            //background-color: green;
            .message{
                margin-top: 10px;
                margin-left:6vw;
            }
            
            }

        }
        
        .hometab{
            text-align: center;
            position: relative;
        }
        .peopleprofeed{
            width:90vw;
                .vue-tabs{
                    position: relative;
                    margin-bottom: 15vh;
                    .nav-tabs-navigation{
                        width: 90vw;
                        position: relative;
                        margin-left: 1vw;
                        margin-bottom: 4vw;
                    }
                    .nav-tabs-wrapper {
                        width: 100%;
                        margin: 0 auto;
                        text-align: center;
                        border: 0;
                        align-items: stretch;
                        display: flex;
                        justify-content: space-around;
                        margin-bottom: -1px;
                    }
                    .tab{
                        // border: 2px black solid;
                        border-radius: 6px;
                    }
                    .tab-container{
                        overflow: hidden !important;
                        width: 55vw;
                        transform: translate(2%, 0%);
                    }
                    ul {
                        width: 100%;
                    }
                    li {
                        float: left;
                        margin-bottom: 1px;
                        width: 31%
                    }
                    .board{
                        float: left;
                        margin-bottom: 1px;
                        width: 30%
                    }
                    .list{
                        float: left;
                        margin-bottom: 5vh;
                        width: 100%
            
                    }
                    #menus{
                        color:rgb(255, 255, 255);
                        width:16vw;
                        height:16vw;
                        text-align: center;
                        display: inline-block;
                        margin-left:0.5vw;
                        margin-right:0.5vw;
                        // border-radius: 5px;
                        overflow: hidden;
                        
                        img{
                            width:16vw;
                            height:16vw;
                            overflow: hidden;
                        }
                    }
                    .title_bottom{
                        color:black;
                        display: none;
                        visibility: hidden;
                    }
                }
                #usermenu{
                    width:90vw;
                    height:90vw;
            
                    img{
                        width:90vw;
                        height:90vw;
                    }
                }
                #usermenuicon{
                    width:90vw;
                    height:10vw;
                    margin-top: 5px;
                    border-radius: 10px;
                    font-size: 7vw;
                    text-align: left;
                    color: blue;
                }
            
                //알람 배지 설정
                .md-badge.md-theme-default {
                    right: 4vw;
                    top: 22vh;
                }
                .proimg{
                    width: 15vw;
                    height: 15vw;
                    border-radius: 50px;
                }
                .infos {
                    float:left;
                    width:32%;
                    border:1px black solid;
                    border-radius:3px;
                }
                .sub-tabs {
                    float:left;
                    width:32%;
                    height:40px;
                    border:3px black solid;
                    border-radius:6px;
                }
        }
        .profeed{
            width:90vw;
                .vue-tabs{
                    position: relative;
                    margin-bottom: 15vh;
                    .nav-tabs-navigation{
                        width: 90vw;
                        position: relative;
                        margin-left: 1vw;
                        margin-bottom: 4vw;
                    }
                    .nav-tabs-wrapper {
                        width: 100%;
                        margin: 0 auto;
                        text-align: center;
                        border: 0;
                        align-items: stretch;
                        display: flex;
                        justify-content: space-around;
                        margin-bottom: -1px;
                    }
                    .tab{
                        // border: 2px black solid;
                        border-radius: 6px;
                    }
                    .tab-container{
                        overflow: hidden !important;
                        width: 55vw;
                        transform: translate(2%, 0%);
                    }
                    ul {
                        width: 100%;
                    }
                    li {
                        float: left;
                        margin-bottom: 1px;
                        width: 31%
                    }
                    .board{
                        float: left;
                        margin-bottom: 1px;
                        width: 30%
                    }
                    .list{
                        float: left;
                        margin-bottom: 5vh;
                        width: 100%
            
                    }
                    #menus{
                        color:rgb(255, 255, 255);
                        width:16vw;
                        height:16vw;
                        text-align: center;
                        display: inline-block;
                        margin-left:0.5vw;
                        margin-right:0.5vw;
                        // border-radius: 5px;
                        overflow: hidden;
                        
                        img{
                            width:16vw;
                            height:16vw;
                            overflow: hidden;
                        }
                    }
                    .title_bottom{
                        color:black;
                        display: none;
                        visibility: hidden;
                    }
                }
                #usermenu{
                    width:90vw;
                    height:90vw;
            
                    img{
                        width:90vw;
                        height:90vw;
                    }
                }
                #usermenuicon{
                    width:90vw;
                    height:10vw;
                    margin-top: 5px;
                    border-radius: 10px;
                    font-size: 7vw;
                    text-align: left;
                    color: blue;
                }
            
                //알람 배지 설정
                .md-badge.md-theme-default {
                    right: 4vw;
                    top: 22vh;
                }
                .proimg{
                    width: 15vw;
                    height: 15vw;
                    border-radius: 50px;
                }
                .infos {
                    float:left;
                    width:32%;
                    border:1px black solid;
                    border-radius:3px;
                }
                .sub-tabs {
                    float:left;
                    width:32%;
                    height:40px;
                    border:3px black solid;
                    border-radius:6px;
                }
            }

    }
}
@media (min-width: 900px){
    .modal{
        float:left;
        padding-top: 20vh !important;
        padding-bottom: 5vh!important;
        padding-left: 20vw !important;
        padding-right: 13vw !important;
        overflow: hidden;
        // width: 60vw !important;
        .feedModal {
            background-color:rgb(255, 255, 255);
            width: 75%;
            height: 85%;
            padding: 10px;
            margin-left: 70px;
            // float:left;
        }
        #feedimg{
            width:28vw;
            height: 28vw;
            max-height: 58vh;
            .feedimg{
               height: 28vw;
               max-height: 58vh;
               width: 28vw;
               margin-top: 1.9vh;
            }
        }
        .userProfile {
            font-weight: 800;
        }
        
        .feedModalContents {
            display: flex;
            height: 20vh;
        }
        .feedModalContent {
            margin: 15px;
            width: 35%;
            margin-left: 3vw;
           // height: 20vh;
           hr {
            margin-top:10px !important;
           }
        }
        .ulList {
            padding: 0;
        } 
        #userContent {
            margin-bottom: 15px;
        }
        #writer {
         float: left;
            span{
               // vertical-align: top;
            }
        }
        #writerContent {
            font-size: 14px;
            padding-top: 12px;
            #tag {
                display: block;
                color: rgb(155, 124, 155);
            }
        }
        #userContent {
            height: auto;
            margin-bottom: 7px;
        }
        .userNickname {
            font-weight: 900;
            margin-right: 10px;
           
            img{
                width:43px;
                height:43px;
                border-radius: 100px;
                margin-right: 6px;
                margin-top: 5px;
            }
            .nickname{
                float: left;
            }
        }

        #content {
            width: 100%;
            height: 32vh;
            max-height: 31vh;
            font-size:13px;
            overflow-y:scroll;
            margin-left: 5px;
            margin-top: 15px;
            margin-bottom: 8px;
            img{
                width:30px;
                height:30px;
                border-radius: 100px;
                margin: 0 3px 3px 0;
            }
            #commentDelete {
                float: right;
                margin: 10px 10px 0 0;
                color: rgb(155, 124, 155);
            }
            li {
                margin-bottom: 5px;
            }
            ul {
                max-height: 5vh;
            }
        }
        #icons{
            margin-left: 4px;
            margin-top: 15px;
            margin-bottom: 12px;
            line-height: 1.1 !important;
            .likeIcon {
                font-size: 25px;
                display: inline;
            }
            #like {
                color: rgb(189, 29, 29);
            }
            #likeMentDiv {
                margin: 15px 10px;
            }
            #likeMent {
                font-size: 12px;
                color: rgb(148, 148, 148);
            }
           
        }
        #comment {
            width: 100%;
            height:6vh;
            margin-top: 5px;
            .commentwrite { 
                width: 83%;
                height: 35px;
                margin: 3px;
                font-size: 15px;
                background-color: rgba(191, 175, 192, 0.432);
                border: none;
            }
            button {
                width: 11%;
                margin-right: 1%;
                font-size: 15px;
            }
           
        }
        #writeTime {
            margin-left: 3px;
            font-size: 12px;
            color: rgb(148, 148, 148);
        }
        .info{
           // font-size: 3vh;
            padding-left: 1vw !important;
            padding-right: 1vw !important;
            background-color:rgb(255, 255, 255);
            width: 80vw;
            height: 50vh;
            max-height: 50vh !important;
            min-height: 50vh !important;
            hr{
                margin-top: 1vh !important;
                margin-bottom: 1vh !important;
                border: 0.5px solid rgba(138, 137, 137, 0.616);
            }
        }
    }
}

@media (max-width: 900px){
    .modal{
        float:left;
        height: 90%;
        padding: 1vh 10vh!important;
        overflow: hidden;
        .feedModal {
            background-color:rgb(255, 255, 255);
            width: 100%;
            height: 100%;
            min-width: 60vw !important;
        }
        #title {
            height:7vh;
            font-size: 15px;
            margin-bottom: 5px;
            padding: 10px;
            img {
                width:45px;
                height:45px;
                border-radius: 100px;
                margin-right: 5px;
            }
        }
        #feedimg{
            width:100%;
            height: 63vw;
            // min-height: 0vh !important;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .feedModalContent {
            margin: 10px 30px;
        }
        .ulList {
            padding: 0;
        } 
        #writer {
            float: left;
        }
        #writerContent {
            font-size: 14px;
            padding-top: 12px;
            #tag {
                color: rgb(155, 124, 155);
            }
        }
        #userContent {
            margin-bottom: 7px;
        }
        .userNickname {
            font-weight: 900;
            margin-right: 10px;
            img{
                width:45px;
                height:45px;
                border-radius: 100px;
                margin-right: 6px;
                margin-top: 5px;
            }
            .nickname{
                float: left;
            }
        }

        #content{
            margin-top: 15px;
            height: 15vh;
            font-size: 13px;
            overflow-y:scroll;
            img{
                width:30px;
                height:30px;
                border-radius: 100px;
                margin: 0 3px 6px 0;
            }
            #commentDelete {
                float: right;
                margin: 10px 10px 0 0;
                color: rgb(155, 124, 155);
            }
        }
        #icons{
            margin-bottom: 12px;
            line-height: 1.1 !important;
            .likeIcon {
                font-size: 25px;
                display: inline;
            }
            #like {
                color: rgb(189, 29, 29);
            }
            #likeMentDiv {
                margin: 15px 10px;
            }
            #likeMent {
                font-size: 12px;
                color: rgb(148, 148, 148);
            }
           
        }
        
        #comment {
            width: 100%;
            height:6vh;
            margin-top: 5px;
            .commentwrite { 
                width: 85%;
                height: 35px;
                margin: 3px;
                font-size: 15px;
                background-color: rgba(191, 175, 192, 0.432);
                border: none;
            }
            button {
                width: 11%;
                margin-right: 1%;
                font-size: 15px;
            }
           
        }
        #writeTime {
            font-size: 12px;
            color: rgb(148, 148, 148);
        }
    }
}