@charset "utf-8";

#follower {
    padding-top: 15vh !important;
    padding-left: 25vw !important;
    
    background-color: rgba(0, 0, 0, 0.596);
    #followerList {
        width: 50vw;
        height: 70vh;
        background-color: white !important;
        .hed{
            text-align: center;
            font-size: 2rem;

        }
        #list {
            height: 60vh;
            padding: 10%;
            overflow-y: hidden;
        }
        li {
            padding: 5%
        }
        #profileImg {
            height: 40px;
            width: 40px;
            border-radius: 100px;
            margin-right: 10%;
        }
    }
    .scrolls {
        height: 100%;
        overflow-y:scroll; 
    }
    #colose {
        bottom: 15%;
        // width: 30vw;
        // height: 10vh;
    }
}