.footer{
    position: fixed;
    left:0px; 
    bottom:0px; 
    width:100%; 
    height: 7vh !important;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.705);
    font-size: 3vh;
    z-index: 1000;

    #foot{
        height: 100%;
        margin-top: 2vh;
    }

    a {
        margin-left:8vw;
        margin-right:8vw;
    }
    
    span {
        color: rgb(134, 134, 134);
    }

    span:hover {
        color: rgb(153, 101, 155);
    }
}