
$color: #a85858;
.header{
    position: relative;
    width:100%; 
    height: 10vh !important;
    text-align: center;
    color: #8b7092;
    background-color: #88758d5e !important;
    font-size: 10px;
    color: rgb(173, 173, 173);
   // z-index: 1000;
    
    // .ti-arrow-left {
    //     float: left;
    //     margin-top: 1.5vh;
    //     margin-left: 1.5vw;
    // }
    .lulutemp{
        float: left;
        height: 7vh !important;
        // text-align: center;
        .lululala{
            float: left;
            max-height: 100%;
            margin-left: 6vw;
            // width: auto;
            // margin-left:10vw;
             margin-top: 1.5vh;
            // margin-bottom: 4vh;
        }
    }
    #lululalaLogo {
      width: 80px;
      height: 30px;
      margin-top: 3vh;
    }
    .headerMenu {
      float: right;
      margin-right: 7vw;
    }
    .temp{
        float: left;
        height: 3vh !important;
        text-align: center;
        margin-top: 1vh;
        .user{
            float: left;
            max-height: 100%;
            width: 24px;
            height: 16px;
            margin-top: 3vh;
            margin-left: 50vw;
        }
        .curation{
            float: left;
            max-height: 100%;
            width: 24px;
            height: 24px;
            margin-top: 3vh;
            margin-left: 3vw;
        }
        .like{
            float: left;
            max-height: 100%;
            width: 23px;
            height: 23px;
            margin-top: 3vh;
            margin-left: 3vw;
        }
        @media (min-width: 900px){
          .userimage{
            margin-left: 60vw;
          }
        }
        @media (min-width: 1500px){

        }

    }
    
    h4{
        text-align: center;
        margin-top: 1vh;
    }
    #head{
        margin-top: 1vh;
    }  
    .search-form {
        //display: none;
        @media (max-width: 900px){
            width: 30vw;
        }
        @media (min-width: 900px){
          //display:block;
      }
        @media (min-width: 1500px){
            
        }
        position: absolute;
        top: 50%;
        left: 50%;
        width: 350px;
        height: 35px;
        border-radius: 40px;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
        transform: translate(-50%, -50%);
        background: #fff;
        transition: all 0.3s ease;
      
        &.focus {
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
        }
      }
      
      .search-input {
        position: absolute;
        top: 8px;
        left: 70px;
        font-size: 14px;
        background: none;
        color: #5c5c5c;
        width: 195px;
        height: 20px;
        border: none;
        appearance: none;
        outline: none;
      
        &::-webkit-search-cancel-button {
          appearance: none;
        }
      }
      
      .search-button {
        position: absolute;
        right: 15px;
        height: 30px;
        width: 20px;
        top: 0.4vh;
        padding: 0;
        margin: 0;
        border: none;
        background: none;
        outline: none!important;
        cursor: pointer;
        
        & svg {
          width: 20px;
          height: 20px;
          fill: #5a6674;
        }
      }
      
      .search-option {
        position: absolute;
        text-align: right;
        top: 2px;
        //right: 15px;
        left: 15px;
      
        div {
          position: relative;
          display: inline-block;
          margin: 0 1px;
          cursor: pointer;
          
          input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.01;
            cursor: pointer;
          }
          label {
            use{
            }
          }
          span {
            position: absolute;
            display: block;
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            background: rgb(177, 170, 179);
            color: #fff;
            font-size: 9px;
            letter-spacing: 1px;
            line-height: 1;
            text-transform: uppercase;
            padding: 4px 7px;
            border-radius: 12px;
            top: -18px;
            transition: all .2s ease-in-out;
            
            &::after {
              content: '';
              position: absolute;
              bottom: -3px;
              left: 50%;
              transform: translateX(-50%);
              border-top: 4px solid rgb(177, 170, 179);
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              transition: all .2s ease-in-out;
            }
          }
          
          &:hover span {
            opacity: 1;
            top: -21px;
          }
          
          label {
            display: block;
            cursor: pointer;
          }
          
          svg {
            height: 33px;
            width: 30px;
            fill: rgb(177, 170, 179);
            opacity: 0.6;
            transition: all .2s ease-in-out;
            pointer-events: none;
          }
          
          &:hover svg {
            opacity: 1;
          }
          
          input:checked + label svg {
            fill: $color;
            opacity: .9;
          }
          
          input:checked + label span {
            background: $color;
            
            &::after {
              border-top-color: $color;
            }
          }
        }
      
      
      }
}
