
/*라벨은 원하는대로 커스텀하고*/

.fileRegiBtn label {
	display: inline-block; 
	padding: .5em .75em; 
	color: #ffffff; 
	font-size: inherit; 
	line-height: normal; 
	vertical-align: middle; 
	background-color: #FC7D01; 
	cursor: pointer; 
	border: 1px solid #ebebeb; 
	border-bottom-color: #e2e2e2; 
	border-radius: .25em;
}

/*파일선택시 선택된 파일명이 붙는것을 가려준다*/
.fileRegiBtn input[type="file"]{
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0;
}
#upload {
    width: 72%;
    
    
    .file-input {
      display: none;
    }
    .upload-image {
      padding-top: 1rem;
      width: 250px;
      height: 250px;
      img {
        width: 100%;
        height: 100%;
      }
    }
}