

    .swiper-wrapper{
        position: fixed !important;

    }
//사이드바

.side-menu {
    font-size: 18px;
    min-width: 100px;
    width: 70%;
    max-width: 320px;
    height: 100%;
    background-color: rgba(44, 24, 49, 0.623) !important;
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: left;
}
.side-menuList{
    margin: 20px;
    height: 10vh;
}

 * {
    .right{
        overflow: scroll;
    }
    @media (min-width: 900px){
        touch-action: none;
    }
    // .swiper-container{
    //     overflow: visible !important;
    // }
    // .swiper-wrapper {
    //     background-color: #2C8DFB;
    // }
    #side-menu3 {
        float: rignt;
        padding: 10px;
        margin: 10px;
    }
    .content {
    width: 100%;
    //overflow: scroll;
    
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
        ::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera*/
        }
    }
    .menu-button {
    position: fixed;
    width: 2vw;
    height: 2vw;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: salmon;
    border-radius: 5px;
    font-size: 2vw;
    }
    .menu-button .bar:nth-of-type(1) {
    margin-top: 0px;
    }
    .menu-button .bar:nth-of-type(3) {
    margin-bottom: 0px;
    }
    .bar {
    position: relative;
    display: block;
    width: 50px;
    height: 5px;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: .3s;
    transition: .3s;
    }
    .menu-button:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(1.5px) rotate(-4.5deg);
    -ms-transform: translateY(1.5px) rotate(-4.5deg);
    transform: translateY(1.5px) rotate(-4.5deg);
    }
    .menu-button:hover .bar:nth-of-type(2) {
    opacity: .9;
    }
    .menu-button:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-1.5px) rotate(4.5deg);
    -ms-transform: translateY(-1.5px) rotate(4.5deg);
    transform: translateY(-1.5px) rotate(4.5deg);
    }
    .cross .bar:nth-of-type(1) {
    -webkit-transform: translateY(15px) rotate(-45deg);
    -ms-transform: translateY(15px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
    }
    .cross .bar:nth-of-type(2) {
    opacity: 0;
    }
    .cross .bar:nth-of-type(3) {
    -webkit-transform: translateY(-15px) rotate(45deg);
    -ms-transform: translateY(-15px) rotate(45deg);
    transform: translateY(-15px) rotate(45deg);
    }
    .cross:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(13.5px) rotate(-40.5deg);
    -ms-transform: translateY(13.5px) rotate(-40.5deg);
    transform: translateY(13.5px) rotate(-40.5deg);
    }
    .cross:hover .bar:nth-of-type(2) {
    opacity: .1;
    }
    .cross:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-13.5px) rotate(40.5deg);
    -ms-transform: translateY(-13.5px) rotate(40.5deg);
    transform: translateY(-13.5px) rotate(40.5deg);
    }
    .backdark{
    z-index: 100;
    }
}
