@charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import './common';
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css");

* {
    font-family: 'NanumBarunGothic', sans-serif;
    word-break: keep-all;
    padding: 0;
    margin: 0;
    // background-color: ghostwhite;
}

html {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 7vh !important;
    padding-bottom: 7vh !important;
    padding: 0;
    font-size: 14px;
    min-height: 80vh;
    background-color: #fafafa;
    //background-image: url( "../images/background.png" );
    background-size: cover !important ;
    overflow-x: hidden;
    overflow-y: hidden;

}


/*html {margin: 0; padding: 0; height: 100%;}*/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}

a {
    transition: 0.2s ease;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        cursor: pointer;
    transform: rotate(0.1deg);
    }
    transform: rotate(0.1deg);
}

p,
span {
    transform: rotate(0.1deg);
}

input {
    background:transparent;
    font-size: 1em;
    height: 50px;
    line-height: 1em;

    border: 1px solid $grey;
    padding:0 20px;
    box-sizing: border-box;
    transition: 0.7s;
    outline:none;
    &::placeholder {
        color: #333;
        opacity: .5;
        font-weight: $f600;
        font-size: 12px;
    }
    &:-ms-input-placeholder {
        color: #333;
        opacity: .5;
        font-weight: $f600;
        font-size: 12px;
    }
    &:-ms-input-placeholder {
        color: #333;
        opacity: .5;
        font-weight: $f600;
        font-size: 12px;
    }
    &:-webkit-autofill {
        /*  -webkit-text-fill-color: #333;*/
        transition: background-color 5000s ease-in-out 0s;
        &:hover,
        &:focus input:-webkit-autofill {
            /*  -webkit-text-fill-color: #333;*/
            transition: background-color 5000s ease-in-out 0s;
        }
    }
    &:focus {
        outline: 0;
    }
    &:hover {
        border:2px solid #000;
    }
}


.ti-new-tag-input-wrapper { //해시 태그 크기 조절 폼
    display: flex;
    flex: 1 0 auto;
    padding: 3px 5px;
    margin: 2px;
    font-size: .85em; }
.ti-new-tag-input-wrapper input {
    flex: 1 0 auto;
    min-width: 100px;
    border: none;
    padding: 0px;
    margin: 0px;
    height: 15px;
 }
select:-webkit-autofill {
    /*  -webkit-text-fill-color: #333;*/
    transition: background-color 5000s ease-in-out 0s;
    &:hover textarea:-webkit-autofill:focus {
        /*  -webkit-text-fill-color: #333;*/
        transition: background-color 5000s ease-in-out 0s;
    }
}

select:-webkit-autofill {
    /*  -webkit-text-fill-color: #333;*/
    transition: background-color 5000s ease-in-out 0s;
    &:hover,
    &:focus {
        /*  -webkit-text-fill-color: #333;*/
        transition: background-color 5000s ease-in-out 0s;
    }
}

input {
    &[type=button],
    &[type=submit],
    &[type=radio] {
        -webkit-appearance: none;
    }
}

button {
    border: none;
    font-size: 1em;
    font-weight: 400;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

textarea {
    vertical-align: top;
    border: none;
    font-size: 1em;
    resize: none;
}

.wrap {
    width: 100%;
    float: left;
}

.wrapB {
    padding: 0 10px;
    box-sizing: border-box;
}

.wrapC {
    padding: 0 20px;
    box-sizing: border-box;
}

.m30 {
    margin-bottom: 30px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.pcNone {
    display: none;
}

.moNone {
    display: block;
}


/*GAP*/

.div {
    width: 100%;
    float: left;
    height: 1px;
}


/*FONT*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
    line-height: 1.5em;
    
}

h1 {
    font-size: 1.786em !important; /*25px*/
}
h2 {
    font-size: 1.429em !important; /*20px*/
}
h3 {
    font-size: 1.286em !important; /*18px*/
}
h4 {
    font-size: 1em !important; /*14px*/
}
h5 {
    font-size: 0.857em !important; /*12px*/
}

p {
    font-weight: 400;
    line-height: 1.7em;
    padding: 0;
    margin: 0;
}

.font-l {
    font-size: 1.2em;
}


/*18px*/

.font-m {
    font-size: 1.067em;
}


/*16px*/

.font-s {
    font-size: 0.933em;
}


/*14px*/

.font-xs {
    font-size: 0.867em;
}


/*13px*/

.font-xxs {
    font-size: 0.8em;
}


/*12px*/

.f100 {
    font-weight: 100;
}

.f200 {
    font-weight: 200;
}

.f300 {
    font-weight: 300;
}

.f400 {
    font-weight: 400;
}

.f500 {
    font-weight: 500;
}

.f600 {
    font-weight: 600;
}

.t_transform{
    transform: rotate(.1deg);
}

.t_center {
    text-align: center;
}

.t_left {
    text-align: left;
}

.t_right {
    text-align: right;
}

.italic {
    font-style: italic;
}


/* COL */

.c10 {
    width: 10%;
}

.c13 {
    width: 13%;
}

.c15 {
    width: 15%;
}

.c20 {
    width: 20%;
}

.c24 {
    width: 24%;
}

.c25 {
    width: 25%;
}

.c30 {
    width: 30%;
}

.c33 {
    width: 33.3%;
}

.c40 {
    width: 40%;
}

.c45 {
    width: 45%;
}

.c48 {
    width: 48%;
}

.c49 {
    width: 49%;
}

.c49_6 {
    width: 49.6%;
}

.c49_8 {
    width: 49.8%;
}

.c50 {
    width: 50%;
}

.c55 {
    width: 55%;
}

.c60 {
    width: 60%;
}

.c65 {
    width: 65%;
}

.c70 {
    width: 70%;
}

.c75 {
    width: 75%;
}

.c80 {
    width: 80%;
}

.c90 {
    width: 90%;
}

.c100 {
    width: 100%;
}

.c_center {
    margin: 0 auto;
}

.c_middle {
    display: table-cell;
    vertical-align: middle;
}

.h100 {
    height: 100%;
}


/* FONT COLOR*/

.cWhite {
    color: #fff;
}

.cBlack {
    color: #000;
}

.cBlack--light1 {
    color: #4a4a4a;
}

.cBlack--light2 {
    color: #6a6a6a;
}

.cBlack--light3 {
    color: #888888;
}

.cBlack--light4 {
    color: #a7a7a7;
}

.red {
    color: red;
}


/* BG COLOR */

.bBlack {
    background-color: #292929;
}

.bWhite {
    background-color: #fff;
}

.bWhite--light1 {
    background-color: #efefef;
}


/*position*/

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.static {
    position: static;
}

.position_top {
    top: 0;
}

.position_left {
    left: 0;
}

.position_bottom {
    bottom: 0;
}

.position_right {
    right: 0;
}

@font-face { 
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

/************/


/***button***/


/************/


/*button default*/

.btn-style {
    &:not([disabled]) {
        &:hover,
        &:focus,
        &.active {
            box-shadow: none;
            -webkit-box-shadow: none;
        }
    }
    &.disabled{
        background: #beacba !important;
    }
    font-weight: 500;
    font-size: 1em;
    color: white;
    background:rgb(103, 94, 105) !important;
    color: white !important;
    text-align:center;
    cursor:pointer;
    height: 1.1rem;
    line-height: 5px;
    border-radius: 3px;
    box-shadow: 8px 8px 15px rgba(0,
            0,
            0,
            0.35);
}

.btn--back {
    width: $c100;
    background-color:#997d91;
    border-radius: 3px;
    font-weight: $f500;
    box-shadow: none;
    height: 50px;
    line-height: 50px;
}

.btn-bottom {
    width: calc(100% - 40px);
    background: #000;
    color: #fff;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: $f600;
    position: fixed;
    left: 20px;
    bottom: 17px;
    cursor: pointer;
    transform: rotate(.1deg);
    &.disabled {
        background: $grey;
        cursor: default;
    }
}

.add-item-btn {
    @include wrap;
    display: block;
    padding:15px 0;
    font-weight: $f600;
    text-align: left;
    transform: rotate(.1deg);
    color:$ssafy;
}

.btns-bottom {
    width: calc(100% - 40px);
    position: fixed;
    left: 20px;
    bottom: 17px;
    cursor: pointer;
    button {
        height: 50px;
        color:#fff;
        text-align: center;
        line-height: 50px;
        font-weight: $f600;
        background: #000;
        @include wrap;
        &:first-of-type {
            box-sizing: border-box;
            color:#000;
            border:1px solid #000;
            background: #fff;
            margin-bottom:10px;
        }
        &.half {
            width: 50%;
            float:left;
            background:#fff;
            color:#000;
            margin-bottom:0;
            border:1px solid #000;
            border-radius: 3px 0 0 3px;
            &:last-of-type {
                border-radius: 0 3px 3px 0;
            }
            &.highlight {
                background: #000;
                color:#fff;
                font-weight: $f400;
            }
            &.disabled {
                background: $grey;
                cursor: default;
                border-color:$grey;
            }
        }
        &.disabled {
            background: $grey;
            cursor: default;
        }
    }
}

.btn--back-round--red {
    background-color: #F44337;
    &:hover {
        background-color: #e09ebd;
    }
}

.btn--back-round--black {
    background-color: #000;
}

.btn--back-round--blue {
    background-color: #103653;
    &:hover {
        background-color: #062136;
        box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.35) !important;
    }
}

.btn--bolder--white {
    border: 1px solid #fff;
    background-color: transparent;
    &:hover {
        box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.35) !important;
    }
}

.btn--text:hover {
    font {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    }
}

.container {
    //padding-top:90px;
    @include wrap;
    box-sizing: border-box;
    min-height: 100vh;
    >div {
        padding-top: 80px;
        &.tab_wrap {
            padding-top: 50px;
        }
    }
}

.tab_wrap {
    @include wrap;
    .tab {
        @include wrap;
        margin-bottom: 25px;
        > a {
            border:1px solid $grey;
            display: inline-block;
            box-sizing: border-box;
            border-left: none;
            text-align: center;
            font-weight: $f600;
            font-size: $font-size__5;
            color:rgba(0, 0, 0, .5);
            height: 50px;
            line-height: 50px;
            transition: .2s;
            background: #eee;
            cursor: pointer;
            &:first-of-type {
                border-left: none;
            }
            &:last-of-type {
                border-right: none;
            }
            &:hover {
                color:#000;
                background: #fff;
            }
            &.router-link-exact-active, &.active {
                color:#000;
                background: #fff;
                border-bottom: 2px solid #000;
            }
            span {
                color:$ssafy;
            }
        }
        &.tab2 {
            a {
                width: 50%;
            }
        }
        &.tab3 {
            a {
                width: 33.333%;
            }
        }

    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: #fff;
    z-index: 99;
    .title {
        float: left;
        color: #333;
        line-height: 1em;
        transform: rotate(.1deg);
        font: {
            size: 1em;
            weight: $f600;
        }
    }
    img {
        &.menu {
            width: 30px;
        }
    }
}

.header-back-btn {
    @include wrap;
    padding: 18px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    img {
        width: 10px;
        float: left;
        margin-right: 20px;
        margin-top: 1px;
        cursor: pointer;
    }
}

.comment-list {
    .header-back-btn {
        @include wrap;
        padding: 18px 20px;
        box-sizing: border-box;
        border-bottom: 1px solid #eee;
        h4 {
            width: calc(100% - 90px);
        }
        img {
            width: 10px;
            float: left;
            margin-right: 20px;
            margin-top: 1px;
        }
    }
}



.profile-image {
    @include background-img;
    height: 40px;
    width: 40px;
    border-radius: $c100;
    &.small {
        width: 30px;
        height: 30px;
    }
}

.grey-back {
    background: #eee;
    height: 100vh;
}

@keyframes slidein {
    from {
      margin-left: 5vw;
      width: 300%
    }
  
    to {
      margin-left: 2.5vw;
      width: 100%;
    }
}
.input-with-label {
    @include wrap;
    position: relative;
    margin-bottom: 10px;
    input[type="text"],
    input[type="password"] {
        @include wrap;
        height: 50px;
        line-height: 1em;
        padding: 0 15px 0 105px;
        box-sizing: border-box;
        color: rgb(82, 81, 81);
        border: 1px solid rgba(5, 5, 5, 0);
        //border-radius: 3px;
        &:hover, &:focus {
            border:0.3px solid rgba(114, 76, 105, 0.363);
        }
        &.error {
            border-radius: 0;
            //@extend:none;
            border: 1px solid $red;
            transition: 2s;
        }
        &.complete {
            border-radius: 0;
            border:none;
            //border-bottom: 1px solid $ssafy;
        }
        &.disabled {
            //background: #eee;
            color:#333;
            font-weight: $f600;
            &:hover, &:focus {
                border:1px solid #000;
            }

        }
    }
    input[type="password"] {
        padding-right:50px;
    }
    label {
        position: absolute;
        left: 15px;
        top: 19px;
        color: rgb(63, 63, 63);
        font-weight: $f600;
        font-size: $font-size__5;
    }


    h4 {
        @include ellipsis;
    }


    .error-text {
        @include wrap;
        color: $red;
        margin-top: 3px;
        margin-left: 10px;
        font-size: 12px;
        animation-duration: 1s;
        animation-name: slidein;
    }

    .eyes-icon {
        position: absolute;
        font-size: 1em;
        right:10px;
        top:15px;
        .fa-eye {
            font-size:20px;
            width:auto;
            color:rgba(0, 0, 0, .3);
        }
        &.active {
            .fa-eye {
                color:$ssafy;
            }
        }

    }
}
.cuSetTitle{
    padding-top: 150px;
}
.curationInput{
    width: 50vw;
    margin:() auto;     
    .input-with-label-curation {
        @include wrap;
        position: relative;
        margin-bottom: 10px;
        input[type="text"],
        input[type="password"] {
            @include wrap;
            height: 50px;
            line-height: 1em;
            padding: 0 15px 0 105px;
            box-sizing: border-box;
            color: rgb(82, 81, 81);
            border: 1px solid rgba(5, 5, 5, 0);
            //border-radius: 3px;
            &:hover, &:focus {
                border:0.3px solid rgba(114, 76, 105, 0.363);
            }
            &.error {
                border-radius: 0;
                //@extend:none;
                border: 1px solid $red;
                transition: 2s;
            }
            &.complete {
                border-radius: 0;
                border:none;
                //border-bottom: 1px solid $ssafy;
            }
            &.disabled {
                //background: #eee;
                color:#333;
                font-weight: $f600;
                &:hover, &:focus {
                    border:1px solid #000;
                }

            }
        }
        input[type="password"] {
            padding-right:50px;
        }
        label {
            position: absolute;
            left: 15px;
            top: 19px;
            color: rgb(63, 63, 63);
            font-weight: $f600;
            font-size: $font-size__5;
        }


        h4 {
            @include ellipsis;
        }


        .error-text {
            @include wrap;
            color: $red;
            margin-top: 3px;
            margin-left: 10px;
            font-size: 12px;
            animation-duration: 1s;
            animation-name: slidein;
        }

        .eyes-icon {
            position: absolute;
            font-size: 1em;
            right:10px;
            top:15px;
            .fa-eye {
                font-size:20px;
                width:auto;
                color:rgba(0, 0, 0, .3);
            }
            &.active {
                .fa-eye {
                    color:$ssafy;
                }
            }

        }
    }
}
#errorterm {
    @include wrap;
        color: $red;
        margin-top: 3px;
        margin-left: 10px;
        margin-bottom: 30px;
        font-size: 12px;
}

.label-with-input {
    @include wrap;
    margin-bottom: 15px;
    label {
        font {
            size: $font-size__4;
            font-weight: $f600;
        }
        margin-bottom: 10px;
        display: block;
    }
    input[type="text"] {
        @include wrap;
        &.error {
            border-color: $red;
        }
    }
    &:last-of-type {
        margin-bottom: 0;
    }

    .error-text {
        @include wrap;
        color: $red;
        margin-top: 3px;
        background-color: rgb(196, 34, 34);
    }
}

.header-back-btn {

    h4 {
        @include ellipsis;
        line-height: 1em;
        float:left;
    }

    button {
        font-size: $font-size__5;
        color:$ssafy;
        font-weight: $f600;
        transform: rotate(.1deg);
        float:right;
        line-height: 1em;
        margin-top: 3px;
    }
}


// 체크박스
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked){
    position: absolute;
    left: -9999px;
}



[type="checkbox"]:checked+span,
[type="checkbox"]:not(:checked)+span,
[type="radio"]:checked+span,
[type="radio"]:not(:checked)+span{
    position: relative;
    padding-left: 38px;
    cursor: pointer;
    display: inline-block;
    color: #666;
    font-weight: $f600;
    line-height: 30px;
}

[type="checkbox"]:checked+span,
[type="radio"]:checked+span{
    color:#000
}

[type="checkbox"]:checked+span:before,
[type="checkbox"]:not(:checked)+span:before,
[type="radio"]:checked+span:before,
[type="radio"]:not(:checked)+span:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 100%;
}

[type="checkbox"]:checked+span:before,
[type="radio"]:checked+span:before{
    background: $ssafy;
    border:1px solid $ssafy;
}

[type="checkbox"]:not(:checked)+span:after,
[type="checkbox"]:checked+span:after,
[type="radio"]:not(:checked)+span:after,
[type="radio"]:checked+span:after{
    content: '';
    width: 14px;
    height: 15px;
    background-image: url('../../assets/images/check_w.png');
    background-size: cover;
    position: absolute;
    top: 6px;
    left: 7px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="checkbox"]:not(:checked)+span:after,
[type="radio"]:not(:checked)+span:after{
    background-image: url('../../assets/images/check_b.png');
}


/*사이드바*/
.side-menu {
    .side-menu-overlay{
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .8);
        transition:.2s;
        display: none;
    }
    &.open {
        .side-menu-overlay{
            display: block;
        }
        .side-menu-box {
            left:0;
            z-index: 1;
        }

    }
    .side-menu-box {
        position: fixed;
        width: 70vw;
        height: 100%;
        background: #fff;
        left: -70vw;
        transition: .2s;
    }

    .top-info {
        position: relative;
        .notification-btn {
            position: absolute;
            right:20px;
            top:20px;
            text-align: right;
            float: right;
            z-index: 1;
            a {
                .fa-bell {
                    color: #000;
                    font-size: 20px;
                    width: auto;
                    &.disabled {
                        color:#ddd;
                    }
                }
            }
            .count {
                position: absolute;
                color:#fff;
                background: $ssafy;
                width: 23px;
                height: 23px;
                border-radius: 23px;
                text-align: center;
                font-size: 9px;
                box-sizing: border-box;
                padding-top: 6px;
                left:-17px;
            }
        }
    }
    .user-info {
        @include wrap;
        padding : 20px 0 30px;
        .profile-img {
            @include background-img;
            width: 60px;
            height: 60px;
            border-radius: $c100;
        }
        strong {
            font {
                size: 1.143em;
                font-weight: $f600;
            }
            color:#000;
            margin: 15px 0 5px 0;
            display: block;
        }
        .id {
            margin-bottom: 15px;
            font-size: $font-size__5;
            color:#707070
        }
        .followStatic {
            div {
                float: left;
                font-size: $font-size__5;
                a {
                    color:#000;
                }
                &.following {
                    margin-right: 20px;
                }
            }
            .static {
                float:right;
                color:#000;
                font-size: $font-size__5;
                font-weight: $f600;
            }
        }
    }
    .feeds {
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
    }
    .feeds, .friend-feed {
        padding: 25px 0;
    }
    ul {
        li {
            @include wrap;
            margin-bottom: 10px;
            a {
                padding: 5px 0;
                display: block;
                font-size: $font-size__3;
                color:#000;
                font-weight: $f600;
                span {
                    display: block;
                }
                &.disabled {
                    color:rgba(0, 0, 0, .2)
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .setting {
        position: absolute;
        bottom: 20px;
        padding:0 20px;
        left:0;
        @include wrap;
        box-sizing: border-box;
        .fa-cog {
            width: auto;
            color:#000;
            font-size: 20px;
            &.disabled {
                color:rgba(0, 0, 0, .2);
            }
        }
        .language {
            float:right;
            font-weight: $f600;
            font-size: $font-size__5;
            color:#000;
            margin-top: 4px;
        }
        .creator {
            float:right;
            font-weight: $f600;
            font-size: $font-size__5;
            color:#000;
            margin-top: 4px;
            margin-left: 10px;
        }
        .logout-btn {
            float:right;
            font-weight: $f600;
            font-size: $font-size__5;
            color:#000;
            margin-top: 4px;
            margin-left: 10px;
            transform: rotate(.1deg);
        }
    }
}

/*검색이 함께 있는 헤더*/

.header-with-search {
    padding: 10px;
    width: calc(100% - 20px);
    float: left;
    border-bottom: 1px solid $grey;
    .title {
        margin-top: 9px;
    }
    .menu {
        width: 30px;
        height: 30px;
        @include background-img;
        border-radius: $c100;
        float: left;
        margin-right: 10px;
    }
    .btn--search {
        float: right;
        color: #333;
        margin-top: 5px;
        .fa-search {
            font-size: $font-size__1 / 1.3;
        }
    }
}


/*메인*/

.feed {
    h1 {
        font: {
            weight: $f600;
        }
        margin-bottom: 20px;
    }
    .swipe-feed {
        @include wrap;
        li {
            @include wrap;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .feed-list {
        @include wrap;
        margin-top: 60px;
        li {
            @include wrap;
            border-bottom: 1px solid $grey;
            padding-bottom: 15px;
            margin-bottom: 15px;
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

// 팝업
.dialog-popup {
    position: fixed;
    box-sizing: border-box;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    padding-top: 80px;
    color:#000;
    font-weight: $f600;
    h1 {
        font-weight: $f600;
        span {
            color:$red;
        }
    }
}

// 검색 컴퍼넌트
.search-component {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #f4f4f4;
    left: 0;
    top:0;
    display: none;
    z-index: 1;
    &.open {
        display: block;
    }
    .search-top {
        position: relative;
        background: #fff;
        input {
            position: absolute;
            height: 50px !important;
            border:none;
            width: calc(100% - 100px);
            top:0;
            left:50px;
            padding:0;
            background: #fff;
        }
        button {
            .fa-search {
                font-size: 1.37em;
                width: auto;
                position: absolute;
                padding:15px 10px;
                right: 0;
                top:0;
            }
        }
    }
    .feed-list-result {
        background: #fff;
        padding-top: 30px;
        box-sizing: border-box;
        height: calc(100vh - 50px);
        .feed-list {
            @include wrap;
            li {
                border:none;
            }

        }
    }
    .search-result-list {
        @include wrap;
        height: calc(100vh - 50px);
    }
    .search-category {
        padding:20px 10px 10px;
        box-sizing: border-box;
        h5 {
            color:#787878;
            float:left;
            font-weight: $f600;
        }
        button {
            float:right;
            font-weight: $f600;
            color:$red;
            font-size: $font-size__5;
        }

    }
    .no-search-list {
        @include wrap;
        box-sizing: border-box;
        padding:10px 10px 35px;
        font-weight: $f600;
        transform: rotate(.1deg);
    }
    ul.search-result-ul {
        @include wrap;
        background: #fff;
        li {
            @include wrap;
            border-bottom: 1px solid #eee;
            box-sizing: border-box;
            .user-list-item {
                padding:15px 10px;
                box-sizing: border-box;
                margin:0;
                .profile-image.small {
                    width: 40px; height: 40px;
                }
            }
        }
        &.keywords {
            li {
                font-size: 1em;
                color:#000;
                font-weight: $f600;
                padding:15px 10px;
            }
        }
    }
}

.no-follower {
    h4 {
        font-weight: $f600;
        margin-bottom: 30px;
        transform: rotate(.1deg);
    }
    button {
        font-size: $font-size__5;
        transform: rotate(.1deg);
        font-weight: $f600;
        color:$ssafy;
    }
}

// 토스트
.toasted-container .toasted .action {
    color:$ssafy!important;
    font-weight: $f600;
    transform: rotate(.1deg);
}

@media (min-width: 900px) { // 웹 화면 기준 사이즈 조절
    body{
        max-height: 60vh !important;
        padding-top: 7vh !important;
        
    }
    #profile {
        .photo{
            width: 180px;
        }
        .info-num{
            width: 100px;
        }
        .info-name{
            width: 100px;
        }
    }
    .wrapB {
        max-width: 580px;
        width: 100%;
        margin:0 auto;
        padding:0 30px;
    }
    .wrapC {
        max-width: 580px;
        width: 100%;
        margin:0 auto;
    }
    .curationwrap{
        max-width: 580px;
        width: 100%;
        text-align: center;
        margin:() auto;
        margin-top: 150px;
        // margin-left: 220px;
        // margin-top: 50px;
    }
    .container {
        width: 580px;
        float: none;
        margin:0 auto;
    }
    // .header {
    //     width:580px;
    //     left: calc(50% - 290px);
    //     .header-with-search {
    //         border: none;
    //         padding:10px 30px;
    //         .btn--search {
    //             display: none;
    //         }
    //         .menu {
    //             display: none;
    //         }
    //     }
    //     .header-back-btn {
    //         border:none;
    //     }
    //     .side-menu {
    //         width: calc(50% - 290px);
    //         left:0;
    //         border-right:1px solid #eee;
    //         position: fixed;
    //         > div.side-menu-box {
    //             width: 300px;
    //             float:right;
    //             position: relative;
    //             height: 100vh;
    //             left: 0;
    //             .side-menu-overlay {
    //                 display: none;
    //             }
    //             .feeds {
    //                 border:none;
    //             }
    //         }
    //     }
    //     .search-component.isPc {
    //         display: block;
    //         width: calc(50% - 290px);
    //         right:0;
    //         left: auto;
    //         background: #fff;
    //         border-left:1px solid #eee;
    //         > div {
    //             width: 300px;
    //             float: left;
    //             position: relative;
    //             height: 100vh;
    //             .search-top {
    //                 .header-back-btn {
    //                     h4, button, img {
    //                         display: none;
    //                     }
    //                 }
    //                 input {
    //                     left: 15px;
    //                 }
    //             }
    //             ul {
    //                 li {
    //                     background: #f4f4f4;
    //                 }
    //             }
    //         }

    //     }
    // }
    // .footer {
    //     width:580px;
    //     left: calc(50% - 290px);
    // }


}