@charset "utf-8";
@import './common';


.md-card{
    background-color: rgba(0, 0, 0, 0) !important ;
    box-shadow: none !important;
    .backdark{
        background-color:  rgba(0, 0, 0, 0);

        .md-theme-default{
            background-color:  rgba(0, 0, 0, 0);

        }

    }
}
.curationtitle{
    color:#000;
    font-weight: $f600;
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
}
.user {
    @include wrap;
    min-height: 100%;
    box-sizing: border-box;
    
    .md-card{
        background-color: rgba(0, 0, 0, 0);
        .backdark{
            background-color:  rgba(0, 0, 0, 0);

            .md-theme-default{
                background-color:  rgba(0, 0, 0, 0);
    
            }

        }
    }
    .backdark{
        background-color:  rgba(0, 0, 0, 0);

        .md-theme-default{
            background-color:  rgba(0, 0, 0, 0);

        }

    }

    .md-theme-default{
        background-color:  rgba(0, 0, 0, 0);

    }

    h1 {
        color:#000;
        font-weight: $f600;
        margin-bottom: 30px;
    }
 
    /*로그인*/
    &#login {
        
        .loginimg{
            display: none;

        }
        @media (min-width: 900px) { // 웹 화면 기준 사이즈 조절
            text-align: center;
            
            .loginimg{
                display: inline-block;
                height: 100vh;
                ;
                img{
                    width: 40vw;
                }
            }
            .wrapC {
                    max-width: 500px;
                    width: 100%;
                    float: right;
                    padding-right: 4vw;
            }
            
        }
        @media (min-width: 1500px) { // 웹 화면 기준 사이즈 조절
            
            text-align: center;
            .loginimg{

                // .carousel-inner{
                //     .lalaTitle {
                //         font-size: 16px;
                //         font-weight: 600;
                //     }
                //     .lalaMent {
                //         color: rgb(255, 255, 255);
                //         font-size: 10px;
                //         font-weight: 300;
                //     }
                //     p {
                //         margin-bottom: 0;
                //     }
                // }
                // .carousel-caption{
                //     padding: 5px;
                // }
                // .carousel-indicators {
                //     margin: 30vw 0 0 0 !important;
                // }
                // .carousel-indicators {
                //     li {
                //         width: 10px;
                //         height: 1px;
                //     }
                // }



                



                display: inline-block;
                height: 100vh;
                img{
                    width: 40vw;
                }
            }
            .wrapC {
                    max-width: 800px;
                    width: 100%;
                    float: right;
                    padding-right: 4vw;
            }
        }
        margin-top:50px;
        h1 {
            font-family: 'Cafe24Oneprettynight';
            margin-bottom: 30px;
            color: #744768;
            text-align: center;
        }
        .ment {
            font-size: 12px;
            color: #a36293;
           //color: #4d4d4d;
            text-align: right;
            margin: 10px;
        }
        .btn--login {
            margin-top: 5px;

            &:not([disabled]) {
                animation:
                    pulse 3s ease infinite alternate, 
                
            }
        }
        .text {
            @include wrap;
            p {
                color: #787878;
                float: right;
                font-size: $font-size__5;
                margin-right: 10px;
            }
            // .bar {
            //     height: 1px;
            //     background-color: $grey;
            //     float: right;
            //     margin-top: 9px;
            //     margin-bottom: 20px;
            // }
        }
        .sns-login {
            margin: 20px 0;
            text-align: right;
            // .bar {
            //     width: calc(100% - 100px);
            // }
            .btn--naver, #kakao-login, .google-login {
                display: inline-block;
            }
            #kakao-login {
                margin: 0 10px;
            }
            // #naverIdLogin_loginButton {
            //     img {
            //         width: 55px;
            //         height: 55px;
            //         border-radius: 55px;
            //     }
            // }
        }
        .add-option {
            // .bar {
            //     width: calc(100% - 40px);
            // }
            .wrap {
                margin-bottom: 10px;
            }
            p {
                float: left;
            }
            a {
                float: right;
                color: #744768;
                font-size: 12px;
                font-weight: $f400;
            }
        }
    }
    &#userInfo {
        margin-top:50px;
        h1 {
            font-family: 'Cafe24Oneprettynight';
            margin-bottom: 30px;
            //color:#000;
            color: #744768;
            text-align: center;
        }
        .ment {
            font-size: 12px;
            color: #a36293;
            text-align: right;
            margin: 10px;
        }
        .infoList {
            img {
                width: 200px;
                height: 200px;
            }
        }
    }
    &#updateUser {
        margin-top:50px;
        h1 {
            font-family: 'Cafe24Oneprettynight';
            margin-bottom: 30px;
            //color:#000;
            color: #744768;
            text-align: center;
        }
        .ment {
            font-size: 12px;
            color: #a36293;
            text-align: right;
            margin: 10px;
        }
        #nicknameCheckBtn {
            margin-right: 5%;
        }
    }
    //회원가입
    &#join {
        margin-top:50px;
        h1 {
            font-family: 'Cafe24Oneprettynight';
            margin-bottom: 30px;
            //color:#000;
            color: #744768;
            text-align: center;
        }
        .ment {
            font-size: 12px;
            color: #a36293;
            text-align: right;
            margin: 10px;
        }
        #term {
           font-size: 11px;
            color: rgb(82, 81, 81);
        }
        .form-wrap {
            @include wrap;
            margin-bottom: 15px;
            span {
                font-size: 1em;
                position: absolute;
                right:10px;
                top:15px;
                .fa-eye {
                    font-size: 20px;
                    width: auto;
                    color:rgba(0, 0, 0, .3);

                }
                &.active {
                    .fa-eye {
                        color:$ssafy;
                    }
                }
            }
        }
        .btn--mailsend{
            float: right;
            font-size: 12px;
            font-weight: $f600;
            color: rgb(128, 62, 108)
        }
        .go-term {
            float:right;
            color:#000;
            font-weight:$f600;
            margin-top: 5px;
            font-size: $font-size__5;
        }
        input[type=password] {
            padding-right: 50px;
        }
    }

    //회원가입 메일인증
    &#joinMailConfirm {
        margin-top:50px;
        text-align: center;
        h1 {
            font-family: 'Cafe24Oneprettynight';
            margin-bottom: 30px;
            //color:#000;
            color: #744768;
            text-align: center;
        }
        
        .content {
            //margin: 10%;
        }
        p {
            margin-top: 2%;
        }
        #confirm {
            //margin: 20%;
            margin-left: 40px;
            margin-bottom: 50px;
        }
        button {
            font-size: 13px;
            margin: 2%;
        }
    }
    // 비밀번호 변경
    &#changePassword {
         h1 {
            margin-top : 30px;
            font-family: 'Cafe24Oneprettynight';
            margin-bottom: 30px;
            //color:#000;
            color: #744768;
        }
        .btn--passsend{
            margin-top : 150px;
            margin-bottom: 10px;
        }
        .form-wrap {
            @include wrap;
            margin-top: 40px;
            span {
                font-size: 1em;
                position: absolute;
                right:10px;
                top:15px;
                .fa-eye {
                    font-size: 20px;
                    width: auto;
                    color:rgba(0, 0, 0, .3);

                }
                &.active {
                    .fa-eye {
                        color:$ssafy;
                    }
                }
            }
            input[type=password] {
                padding-right: 50px;
            }
        }
    }

    // 탈퇴
    &.secession {
        .terms {
            color:#333;
            font-weight: $f600;
            a {
                color:$ssafy;
            }
        }
    }

    // 만든이
    &.creator {
        h5 {
            color:#787878;
            margin-bottom: 20px;
            font-weight: $f600;
        }
    }

    // 약관
    #terms {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        top:0;
        background: #fff;
        z-index: 99;
        padding-top: 50px;
        box-sizing: border-box;
        overflow: auto;
        padding-bottom: 90px;
    }
}

// 하단 버튼 absolute 해제
@media (max-height: 650px) {
    .user {
        //회원가입
        &.join {
            .btn-bottom {
                position: inherit; @include wrap; margin-top: 60px; margin-bottom: 20px;
            }
        }
    }
}


$module: 'modal';
.#{$module} {
  // This is modal bg
  background-color: rgba(0, 0, 0, 0.726);
  //border-radius: 30px;
  &#joinmodal{
    padding-top: 0vh !important;
    padding-bottom: 0% !important;
    padding-left: 0vw !important;
    padding-right: 0vw !important;
  }
  top: 0 !important; right: 0 !important; bottom: 0 !important; left: 0 !important;
  position: absolute !important;
  overflow: auto !important;
  display: block !important;
  padding: 0 !important;
  margin: 0 !important;
  //This is modal layer
  &__dialog{
    position: absolute;
    background: rgba(112, 81, 106, 0.767);
    height: 80vh;
    //border: 1px solid $ssafy;
    border-radius: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .user{
      width: 70vw;
      margin-left: 15vw;
    //   background-color: darkgray;
  }
  .curation {
      width: 100vw;
      margin-left: 0vw;
    //   background-color: white;
  }
  &__header {
    //background-color: rgb(112, 80, 111);
    font-family: 'Cafe24Oneprettynight';
    font-size: 28px;
    color:rgb(241, 239, 239);
    font-weight: 500;
    line-height: 2;
    text-align: center;
    padding: 16px 16px 10px 30px;
    position: relative;
  }
  &__body {
    background-color: rgb(224, 218, 223);
    padding: 5px;
    color:black;
    min-height: 150px;
    max-height: 55vh;
    overflow-y: scroll;
  }
  hr {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  &__footer {
    padding: 15px;
    margin-left: 5px;
    margin-top: 10px;
    //padding-top: 2px;
    color:white;
    height: 40px;
  }
}


//사이드바
.backdark {
    .side-menu {
        font-size: 18px;
        min-width: 100px;
        width: 70%;
        max-width: 320px;
        height: 100%;
        background-color: #2C8DFB!important;
        color: #fff;
        text-align: center;
    }
    .content {
    width: 100%;
    }
    .menu-button {
    position: absolute;
    top: 0px; left: 0px;
    padding: 15px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: #2C8DFB;
    text-align: center;
    /*margin: 14px;
    border-radius: 5px;*/
    }
    .menu-button .bar:nth-of-type(1) {
    margin-top: 0px;
    }
    .menu-button .bar:nth-of-type(3) {
    margin-bottom: 0px;
    }
    .bar {
    position: relative;
    display: block;
    width: 50px;
    height: 5px;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: .3s;
    transition: .3s;
    }
    .menu-button:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(1.5px) rotate(-4.5deg);
    -ms-transform: translateY(1.5px) rotate(-4.5deg);
    transform: translateY(1.5px) rotate(-4.5deg);
    }
    .menu-button:hover .bar:nth-of-type(2) {
    opacity: .9;
    }
    .menu-button:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-1.5px) rotate(4.5deg);
    -ms-transform: translateY(-1.5px) rotate(4.5deg);
    transform: translateY(-1.5px) rotate(4.5deg);
    }
    .cross .bar:nth-of-type(1) {
    -webkit-transform: translateY(15px) rotate(-45deg);
    -ms-transform: translateY(15px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
    }
    .cross .bar:nth-of-type(2) {
    opacity: 0;
    }
    .cross .bar:nth-of-type(3) {
    -webkit-transform: translateY(-15px) rotate(45deg);
    -ms-transform: translateY(-15px) rotate(45deg);
    transform: translateY(-15px) rotate(45deg);
    }
    .cross:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(13.5px) rotate(-40.5deg);
    -ms-transform: translateY(13.5px) rotate(-40.5deg);
    transform: translateY(13.5px) rotate(-40.5deg);
    }
    .cross:hover .bar:nth-of-type(2) {
    opacity: .1;
    }
    .cross:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-13.5px) rotate(40.5deg);
    -ms-transform: translateY(-13.5px) rotate(40.5deg);
    transform: translateY(-13.5px) rotate(40.5deg);
    }
    .backdark{
    z-index: 100;
    }
}

.info{
    height: 10vh;
    margin-bottom: 2vh;;
    .photo{
        height:10vh;
        width: 40vw;
        float:left;
        img{
            max-height: 10vh;
            max-width: 40vw;
            border-radius: 40px;
            float:left;
    
        }
    }
    .info-num{
        height:5vh;
        width: 15vw;
        float:right;
        text-align: center;
        border: 1px black solid;
        border-bottom: none;
        
    }
    .info-name{
        height:5vh;
        width: 15vw;
        float:right;
        text-align: center;
        border: 1px black solid;
        border-top: none;
        
    }
    z-index: 10000;
}