// <template>
//   <div class="lalla" id="lallaHome">
//           <div class="left">
//             <div class="user_info">
//                 <img class="myproimg" src="/img/profile1.46ead2e9.png">
//                 <p class="myusername">{{this.nickname}}</p>
//             </div>
//             <div class="lallaInfo">
//                 <div id="lallaAdmin">
//                     <img class="adminImg" src="/img/profile1.46ead2e9.png">
//                     <p class="adminName">{{this.lallaAdmin}}</p>
//                 </div>
//                 <div id="lallaBoard">
//                     <ul>
//                         <li v-for="board in boards" v-bind:key="board">
//                             {{board.title}}
//                         </li>
//                     </ul>
//                 </div>
//             </div>
//         </div>

//         <div class="right">

//         <div class="posts">
            
//             <vue-tabs 
//             active-tab-color="#ffffff77"
//             active-text-color="#4d4d4d"
//             type="pills"  
//             text-position="none"
//             direction="horizontal"
//             value="Object"
//             >
            
//                 <v-tab title="grid" icon="ti-layout-grid3-alt">

//                     <div>
//                         <ul class='Board'>
//                             <li v-for="(feed, idx) in feeds" :key="idx" v-show="feed.open < 2" class='board'>
                               

//                                 <div class="post" id="menus">
//                                       <img :src="feed.imgurl">
//                                 </div>
//                             </li>
//                         </ul>
//                     </div>
//                 </v-tab>

//                 <v-tab title="list" icon="ti-layout-media-center-alt">
//                     <div>
//                         <ul class='boardList'>
//                             <li v-for="(feed, idx) in feeds" :key="idx" v-show="feed.open < 2" class='list'>
//                                 <div class="writer">
//                                     <div class="feedProfile">
//                                         <img :src="feed.profileimg" class="proimg">
//                                         <div class="nicknameDiv"><p class="nickname">{{feed.nickname}}</p></div>
//                                     </div>
//                                     <div class="post" id="usermenu">
//                                         <img :src="feed.imgurl" width="auto" height="auto">
                                      
//                                         <div id="usermenuicon">
//                                             <span v-if="feed.likeOwn">
//                                                 <span class="usermenuicon"><i class="fas fa-laugh-wink"></i></span>
//                                             </span>
//                                             <span v-else>
//                                                 <span class="usermenuicon"><i class="fas fa-smile"></i></span>
//                                             </span>
//                                                 <span class="usermenuicon"><i class="fas fa-comment-alt"></i></span>
//                                                 <span class="usermenuicon"><i class="fas fa-share-alt"></i></span>
//                                         </div>  
//                                         <!-- 주석필요!!! 좋아요 <input type="text" class="likes"  v-bind="this.likes"  @click="getLike(feed.fid)" ><br><br>  -->

//                                         <div>
//                                             <p class="nicknameContents">{{feed.nickname}}</p> <div class="contents"><p id="contents">{{feed.contents}}</p></div>
//                                         </div><br>
 
//                                         <p v-if="feed.writedate !== 0"> {{feed.writedate}} </p>
                                        
//                                     </div>
//                                 </div>
//                             </li>
//                         </ul>
//                     </div>
//                 </v-tab>
//             </vue-tabs>

            
//         </div>
//   </div>
// </template>

// <script>
// export default {
//     data: () => {
            
//             return {
//                 board: {
//                     title:"제목추가하장..",
//                 },
                  
//                 boards: [],
//                 nickname:'본인닉네임',
//                 profileimg: '',
//                 imgurl: '',
//                 feedTime: '',
//                 change: false,
//                 tabs: null,
//                 lallaAdmin: '',
//             }
//         },
//         mounted() {
         
//         },
//         methods: {
          
//         },
//         props: {
           
//         },
// }
// </script>
