// <template>
//   <div class="lalla" id="main">
//           <div class="left">
//             <div class="sideMenu" id="user_info">
//                 <img class="myproimg" src="/img/profile1.46ead2e9.png">
//                 <p class="myusername">{{this.nickname}}</p>
//             </div>
//             <div class="sideMenu" id="lullu">
//                 <router-link v-bind:to="{name:'MainFeed'}" class="hov btn--text">룰루</router-link>
//             </div>
//             <div class="sideMenu" id="lallaInfo">
//                 <div id="lallaAdmin">
//                     <img class="adminImg" src="/img/profile1.46ead2e9.png">
//                     <p class="adminName">{{this.lallaAdmin}}</p>
//                 </div>
//                 <div id="lallaBoard">
//                     <ul>
//                         <li v-for="board in boards" v-bind:key="board">
//                             {{board.title}}
//                         </li>
//                     </ul>
//                 </div>
                
//             </div>
//             <div class="board"></div>
//         </div>

//         <div class="right">

//         <div class="posts">
            
//             <vue-tabs 
//             active-tab-color="#ffffff77"
//             active-text-color="#4d4d4d"
//             type="pills"  
//             text-position="none"
//             direction="horizontal"
//             value="Object"
//             >
            
//                 <v-tab title="grid" icon="ti-layout-grid3-alt">

//                     <div>
//                         <ul class='Board'>
//                             <li v-for="(feed, idx) in feeds" :key="idx" v-show="feed.open < 2" class='board'>
                               

//                                 <div class="post" id="menus">
//                                       <img :src="feed.imgurl">
//                                 </div>
//                             </li>
//                         </ul>
//                     </div>
//                 </v-tab>

//                 <v-tab title="list" icon="ti-layout-media-center-alt">
//                     <div>
//                         <ul class='boardList'>
//                             <li v-for="(feed, idx) in feeds" :key="idx" v-show="feed.open < 2" class='list'>
//                                 <div class="writer">
//                                     <div class="feedProfile">
//                                         <img :src="feed.profileimg" class="proimg">
//                                         <div class="nicknameDiv"><p class="nickname">{{feed.nickname}}</p></div>
//                                     </div>
//                                     <div class="post" id="usermenu">
//                                         <img :src="feed.imgurl" width="auto" height="auto">
                                      
//                                         <div id="usermenuicon">
//                                             <span v-if="feed.likeOwn">
//                                                 <span class="usermenuicon"><i class="fas fa-laugh-wink"></i></span>
//                                             </span>
//                                             <span v-else>
//                                                 <span class="usermenuicon"><i class="fas fa-smile"></i></span>
//                                             </span>
//                                                 <span class="usermenuicon"><i class="fas fa-comment-alt"></i></span>
//                                                 <span class="usermenuicon"><i class="fas fa-share-alt"></i></span>
//                                         </div>  
//                                         <!-- 주석필요!!! 좋아요 <input type="text" class="likes"  v-bind="this.likes"  @click="getLike(feed.fid)" ><br><br>  -->

//                                         <div>
//                                             <p class="nicknameContents">{{feed.nickname}}</p> <div class="contents"><p id="contents">{{feed.contents}}</p></div>
//                                         </div><br>
 
//                                         <p v-if="feed.writedate !== 0"> {{feed.writedate}} </p>
                                        
//                                     </div>
//                                 </div>
//                             </li>
//                         </ul>
//                     </div>
//                 </v-tab>
//             </vue-tabs>

            
//         </div>
//   </div>
// </template>

// <script>
// export default {
//     data: () => {
            
//             return {
//                 feed: {
//                     likeOwn:false,
//                 },
                  
//                 feeds: [],
//                 nickname:'본인닉네임',
//                 profileimg: '',
//                 imgurl: '',
//                 feedTime: '',
//                 intro:'테스트인트로',
//                 change: false,
//                 tabs: null,
//             }
//         },
//         mounted() {
//             // let {nickname, profileImg, feedImg, feedTime} = this;
//             // let data = {nickname, profileImg, feedImg, feedTime};
//             let {uid} = this;
//             let data = {uid};
//             FeedApi.requestFeed(data,res=>{
//                      console.log(res);
//                         if(res.data.status){
//                               this.feeds = res.data.object.feedlist;        
//                         }
//                         else
//                            console.log("훙 .. 피드리스트불러오기..fail..");

//                     },error=>{  
//                         alert("피드 불러오기 에러! 룰루랄라에 문의해주세요,,, ");
//                         console.log("피드 불러오는 중 에러");
//                     })

            
           
    

//             this.$emit('update:title', "")
//             this.$emit('update:sidebarTitle', "로그인이 필요합니다.")
//             this.$emit('update:headerInvisible', false)
//         },
//         methods: {
//             getPic(name) {
//                 console.log(name)
//                 return name
//             },
//             getLike(fid){
//                 let data = {fid};
//                  FeedApi.requestLikes(data,res=>{
//                      console.log("좋아요~"+res);
//                         if(res.data.status){
//                                this.likes = res.data.object.likeCount;       
//                         }
//                         else
//                            console.log("훙 .. 피드좋아요 불러오기..fail..");

//                     },error=>{  
//                         alert("피드 불러오기 에러! 룰루랄라에 문의해주세요,,,! ");
//                         console.log("피드좋아요 불러오는 중 에러");
//                     });
//             }
//         },
//         props: {
//             title: {
//             type: String,
//             require: false,
//             },
//             sidebarTitle: {
//             type: String,
//             require: false,
//             },
//             headerInvisible:{
//             type: Boolean,
//             require: false,
//             },
//         },
// }
// </script>
