<template>
    <div class="user wrapC" id="login">
        <button class="btn-style" @click="change = !change" style="float:right;">수정하기</button>
        <h1>정보 수정</h1>
        <p>
        이메일 : {{email}}
        </p>
        <div v-show="!this.change">
        <p>
        닉네임 : {{nickname}} 
        </p>
        <p>
        한 줄 소개 : {{intro}} 
        </p>
        </div>
        <div v-show="this.change">
            <div class="input-with-label changeinfo">
                <input type="text" v-model="this.nickname" placeholder="이메일" style="height:30px;">
                <label for="nickname"  style="height:30px; top:8px">닉네임</label>
            </div>
            <div class="input-with-label changeinfo">
                <input type="text" v-model="this.intro" placeholder="한 줄 소개" style="height:30px;">
                <label for="intro"  style="height:30px; top:8px">한 줄 소개</label>
            </div>
            <div class="input-with-label changeinfo">
                <input type="password" v-model="this.password" placeholder="비밀번호" style="height:30px;">
                <label for="password"  style="height:30px; top:8px">비밀번호</label>
            </div>
            <button class="btn-style">변경 하기</button>

            <button>수정 취소</button>
        </div>

        <div class="btn-style btn--back btn--signin" @click="$router.go(-1)">
            뒤로 가기
        </div>

        <router-link :to="{name:'Login'}" class="btn--text">
            <div class="btn-style btn--back btn--signin">
                메인 화면으로
            </div>
        </router-link>
    </div>
</template>

<script>

    import '../../assets/css/changeinfo.scss'
    import PV from 'password-validator'

    export default {
        data: () => {
            return {
                modalVisible: false,
                email: 'testemail@test.email',
                nickname:'테스트닉네임',
                password: 'aasd',
                intro:'테스트인트로',
                passwordConfirm: '',
                passwordSchema: new PV(),
                isTerm: false,
                isLoading: false,
                error: {
                    email: false,
                    password: false,
                    nickname: false,
                    passwordConfirm: false,
                    term: false
                },
                isSubmit: false,
                passwordType: "password",
                passwordConfirmType: "password",
                change: false,

            }
        },
    }

</script>


