<template>
    <div class="curationwrap" id="curation">
        <cu-set
        :modalVisible.sync="modalVisible"
        :qid="qid"
        :name="name">
        </cu-set>
        <h1 class="curationtitle">큐레이션!</h1>
        <div>
            
            <div class="btn-style" style="height:50px;display:block;margin-bottom:2px;" @click="followerPopup(1)">나의 관심사 1</div>
            <div class="btn-style" style="height:50px;display:block;margin-bottom:2px;" @click="followerPopup(2)">나의 관심사 2</div>
            <div class="btn-style" style="height:50px;display:block;margin-bottom:2px;" @click="followerPopup(3)">나의 관심사 3</div>
        </div>
            
            새 큐레이션 설정하기
            시작하기 ?
    <!-- <button class="btn btn--back btn--signin" @click="$router.go(-1)">
            뒤로 가기
    </button> -->
    -----------------------------------------
        <social-sharing url="룰루랄라 URL"
            title="피드 제목"
            description="피드 내용"
            hashtags="피드 속 해시태그"
            twitter-user="트위터유저"
            inline-template>
            <div>
                <network network="email">
                    <i class="fa fa-envelope"></i> Email
                </network>
                <network network="facebook">
                    <i class="fa fa-facebook"></i> Facebook
                </network>
                <network network="googleplus">
                    <i class="fa fa-google-plus"></i> Google +
                </network>
                <network network="line">
                    <i class="fa fa-line"></i> Line
                </network>
                <network network="linkedin">
                    <i class="fa fa-linkedin"></i> LinkedIn
                </network>
                <network network="odnoklassniki">
                    <i class="fa fa-odnoklassniki"></i> Odnoklassniki
                </network>
                <network network="pinterest">
                    <i class="fa fa-pinterest"></i> Pinterest
                </network>
                <network network="reddit">
                    <i class="fa fa-reddit"></i> Reddit
                </network>
                <network network="skype">
                    <i class="fa fa-skype"></i> Skype
                </network>
                <network network="sms">
                    <i class="fa fa-commenting-o"></i> SMS
                </network>
                <network network="telegram">
                    <i class="fa fa-telegram"></i> Telegram
                </network>
                <network network="twitter">
                    <i class="fa fa-twitter"></i> Twitter
                </network>
                <network network="vk">
                    <i class="fa fa-vk"></i> VKontakte
                </network>
                <network network="weibo">
                    <i class="fa fa-weibo"></i> Weibo
                </network> 
                <network network="whatsapp">
                    <i class="fa fa-whatsapp"></i> Whatsapp
                </network>
            </div>
        </social-sharing>

    


    </div>
</template>

<script>
    import CurationSet from './CurationSet'
    import SocialSharing from 'vue-social-sharing'
    
    export default {
        components: {
            cuSet: CurationSet,
            SocialSharing
        },
        props: {
            title: {
            type: String,
            require: false,
            },
            sidebarTitle: {
            type: String,
            require: false,
            },
            headerInvisible:{
            type: Boolean,
            require: false,
            },
        },
        
        data: () => {
            return {
                modalVisible : false,
                uid: 0,
                qid: 0,
                name: '',
            }
        },
        methods: {
            
            followerPopup(qid,name){ 
                this.modalVisible = !this.modalVisible;
                this.qid = qid;
                this.name = "Quration"+qid;
                
            },
        },
        mounted() {
            this.$emit('update:title', "")
            this.$emit('update:sidebarTitle', "황영합니다 님")
            this.$emit('update:headerInvisible', false)

        },
    }

</script>


