<template>

    <div class="modal"
        v-if="modalVisible" @click.self="handleWrapperClick">
        <div class="curation" id="Curation">
           
            <div style="height:px">
                
            </div>
            <div class="curationInput">
            <h1 class="cuSetTitle">큐레이션 설정하기</h1>
            <input placeholder="키워드를 콤마(,)로 구분하여 입력해주세요" class="input-with-label-curation" v-on:keyup.enter="keywordInsert" v-model="keyword">
            키워드를 콤마(,)로 구분하여 입력해주세요
            <br/>키워드 : 
            <span v-for="(tag, idx) in tags" :key="`tag-${idx}`" class="keywords">
                {{tag}} <button style="color:red;font-" @click="deleteTag(idx)">X</button>
            </span>
            </div>
            
            
            <div></div>

            <div></div>
            <!-- <div>
            <input placeholder="키워드를 콤마(,)로 구분하여 입력해주세요" class="input-with-label" v-on:keyup.enter="personInsert" v-model="person">
            검색대상을 콤마(,)로 구분하여 입력해주세요
            </div>
            검색대상 : 
            <span v-for="(sch, indexs) in schs" :key="`sch-${indexs}`" class="searchs">
                {{sch}} <button style="color:red;font-" @click="deletesch(indexs)">X</button> ,
            </span> -->
            <button class="btn-style btn--back btn--signin" style="position:fixed; left:20vw; bottom:30vh; width:60vw" @click="saveCuration(tags, qid)">
                    저장
            </button>
            <button class="btn-style btn--back btn--signin close" @click="$emit('update:modalVisible', !modalVisible)" style="position:fixed; left:20vw; bottom:20vh; width:60vw">
                    닫기
            </button>

        </div>
    </div>
</template>

<script>
import VueCookies from "vue-cookies";
import FeedApi from '../../apis/FeedApi';
import UserApi from '../../apis/UserApi';
import axios from 'axios';

    export default {
        components: {
        },
        
        props: {
            modalVisible: {
            type: Boolean,
            require: true,
            default: false
            },
            qid: {
            type: Number,
            require: true,
            default: 1
            },
            name: {
            type: String,
            require: true,
            },
        },
        methods: {
            
            handleWrapperClick(){

                this.$emit('update:modalVisible', false)
            },
            keywordInsert() {
                var tog = this.keyword.split(',');
                tog.forEach(element => {
                    element = element.replace(/(\s*)/g, "")
                    if (this.tags.indexOf(element) === -1) {
                        this.tags.push(element)
                    }
                });
                this.keyword = ''
            },
            personInsert() {
                var tog = this.person.split(',');
                tog.forEach(element => {
                    element = element.replace(/(\s*)/g, "")
                    if (this.schs.indexOf(element) === -1) {
                        this.schs.push(element)
                    }
                });
                this.person = ''
            },
            deleteTag(i) {
                this.tags.splice(i, 1);
            },
            deletesch(i) {
                this.schs.splice(i, 1);
            },
            saveCuration(tags, qid){
        
                this.tag = this.tags.join(',');
   
                //여기다 큐레이션 저장
                this.name = "Quration"+qid;
                let {uid,name,tag} = this;
       
                let data = {
                    uid,
                    name,
                    tag
                }
          

                 UserApi.insertQuration(data,res=>{
                    if(res.data.status){ 
                    
                    //this.nickname = res.data.object["nickname"]; 
                   
                }
                 })
                 this.$emit('update:modalVisible', false);
            },
            showCuration(){
                
                let {uid,name} = this;
                let data = {
                    uid,
                    name,
                }
              
                UserApi.showCuration(data,res=>{
                     if(res.data.status){
                        this.tags = res.data.object["qurationlist"];
                        
                     }

                })
            }
        },
        data() {
            return {
            keyword: '',
            person: '',
            tags: [],
            schs: [],
            uid: 0,
            token: '',
            quration:{},
            nickname:'',
     //       name:'',
            tag:'',
            before:'',
            };
        },
        mounted() {

            this.token = VueCookies.get("lululalatoken");
            let {token,uid} = this;
            let data = {token,uid};
            let name = "";
     
            UserApi.getUser(data,res=>{
       

                if(res.data.status){ 
                    this.uid = res.data.object["uid"]; 
                    


                    //this.nickname = res.data.object["nickname"]; 
                }
                    let quration = {uid , name};
           
                })
        },
        watch: {
            modalVisible: function (v) {
                this.tags=[];
                this.showCuration();
                
            },
        },
    }

</script>

<style lang="scss" scoped>
    #Curation{
        height:100vh !important;
        max-height: 100vh;
        background-color: white;
        width: 100vw;
    }
    .keywords{
        background-color:blue;
        color:white;
        border-radius:5px;
        margin-right:1vw;
    }
    .searchs{
        background-color:yellowgreen;
        color:white;
        border-radius:5px;
        margin-right:1vw;
    }
    @media (min-width: 900px){
        .modal {
            float: left;
            padding-top: 3vh !important;
            padding-bottom: 0vw !important;
            padding-left: 0vw !important;
            padding-right: 0vw !important;
        }
    }
    @media (max-width: 900px){
        .modal {
            float: left;
            padding-top: 0vw !important;
            padding-bottom: 0vw !important;
            padding-left: 0vw !important;
            padding-right: 0vw !important;
        }
    }

    #Curation {
        transform:scaleY(.01) scaleX(0);
        animation:unfoldIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        .modal-background {
            .modal {
            transform:scale(0);
            animation: zoomIn .2s .4s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            }
        }
    }
    
    @keyframes unfoldIn {
        0% {
            transform:scaleY(.005) scaleX(0);
        }
        50% {
            transform:scaleY(.005) scaleX(1);
        }
        100% {
            transform:scaleY(1) scaleX(1);
        }
    }
        
    @keyframes unfoldOut {
        0% {
            transform:scaleY(1) scaleX(1);
        }
        50% {
            transform:scaleY(.005) scaleX(1);
        }
        100% {
            transform:scaleY(.005) scaleX(0);
        }
    }
     
    @keyframes zoomIn {
        0% {
        transform:scale(0);
        }
        100% {
        transform:scale(1);
        }
    }
    
    @keyframes zoomOut {
        0% {
        transform:scale(1);
        }
        100% {
        transform:scale(0);
        }
    }
</style>


