<template>
    <div class="user wrapC" id="pageNotFound">
        <h1>Error!</h1>
        <h3>죄송합니다 문제가 발생했어요!</h3>

    <button class="btn-style btn--back btn--signin" @click="$router.go(-1)">
            뒤로 가기
    </button>

    </div>
</template>

<script>

    export default {

    }

</script>


