<template>

    <div class="user" id="changePassword">
       
        <div class="wrapC">
             <h1>가입 시 입력한 이메일로 <br> 비밀번호를 보내드립니다.</h1>
            <div class="input-with-label">
                <input v-model="email" v-bind:class="{error : error.email, complete:!error.email&&email.length!==0}"
                       id="email" placeholder="이메일을 입력하세요."
                       type="text"/>
                <label for="email">이메일</label>
                <div class="error-text" v-if="error.email">
                    {{error.email}}
                </div>
            </div>

            <div>
                <!-- <router-link v-bind:to="{name:'SendPassword', params: {email: this.email}}" :disabled="!isSubmit"> -->
                    <button class="btn-style btn--back btn--passsend" v-on:click="changePassword" :disabled="!isSubmit" :class="{disabled : !isSubmit}">
                        비밀번호 전송
                    </button>
                <!-- </router-link> -->
            </div>

            <router-link v-bind:to="{name:'Login'}">
                    <button class="btn-style btn--back btn--login">
                        로그인 하러가기
                    </button>
            </router-link>

        </div>
    </div>
</template>

<script>
    import UserApi from '../../apis/UserApi'
    import * as EmailValidator from 'email-validator';
    import { mapGetters, mapActions} from 'vuex'
    export default {
        data: () => {
            return {
                email:'',
                error: {
                    email: false,
                },
                isSubmit: false,
            }
        },

        methods: {
            checkForm() {
                
                if (this.email.length > 0 && !EmailValidator.validate(this.email)){
                    this.error.email = "이메일 형식이 아닙니다."
                }
                else this.error.email = false;
                let isSubmit = true;
                Object.values(this.error).map(v => {
                    if (v) isSubmit = false;
                })
                this.isSubmit = isSubmit;
            },

            changePassword(){
                if (this.isSubmit === true) {
                    let {email} = this;
                    let data = {
                        email

                    }
                    //요청 후에는 버튼 비활성화
                    this.isSubmit = false;

                    
                    if(!this.error.email){
                        UserApi.requestConfirm(data,res=>{                             
                            if(res.data.data==="succ"){
            
                                alert("메일을 성공적으로 보냈습니다!!");
                                this.$router.push({name : 'Login'} );
                            }
                            else if(res.data.data==="fail"){
                         
                                alert("존재하지 않는 회원 메일입니다!!");
                            }                   
                            //AccountController.java 수정필요
                            //UserApi.js 참조
                            else{ 
                            this.loginFailMsg = "이메일인증보내기 실패했습니다..흑흑 8-8";
                            }

                        },error=>{  
                      
                        }) 
                    }

                    // UserApi.requestLogin(data,res=>{

                    //     //통신을 통해 전달받은 값 콘솔에 출력
                    //     

                    //     //요청이 끝나면 버튼 활성화
                    //     this.isSubmit = true;
                    // },error=>{  
                    //     //요청이 끝나면 버튼 활성화
                    //     this.isSubmit = true;
                    // })
                }
            },
            mailSend(){
                 
            },
        },

        watch: {
            email: function (v) {
                this.checkForm();
            }
        },
        
        mounted() {
            if (this.$route.params.email !== undefined){
                document.getElementById('email').value = this.$route.params.email
                this.email=this.$route.params.email
            }
            
            this.$emit('update:title', "비밀번호 찾기")
        },
        
        props: {
            title: {
            type: String,
            require: false,
            },
        },
    }
</script>


