<template>
    <div class="modal" id="follower"
        v-if="modalVisible" @click.self="handleWrapperClick(peopleNickName)">
      
        <div v-if="checkFollower">
              {{checkFollower}}
            <div id="followerList">
                <div class="hed">FOLLOWER LIST</div>
                <div id="list">
                    <div class="scrolls">
                        <div>
                            <ul>
                                <li v-for="follower in followers" :key="follower.uid">
                                    <div @click="gotoUrl(follower.nickname)">
                                        <img :src="follower.profileimg" id="profileImg"><span>{{follower.nickname}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button class="btn-style btn--back" id="colose" @click="$emit('update:modalVisible', !modalVisible)">
                    닫기
                </button>
            </div>
        </div>
        <div v-else>
            <div id="followerList">
                <div class="hed">FOLLOWING LIST</div>
                <div id="list">
                    <div class="scrolls">
                        <div>
                            <ul>
                                <li v-for="following in followings" :key="following.uid">
                                    <div @click="gotoUrl(following.nickname)">
                                        <img :src="following.profileimg" id="profileImg"><span>{{following.nickname}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button class="btn-style btn--back" id="colose" @click="$emit('update:modalVisible', !modalVisible)">
                    닫기
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import UserApi from '../../apis/UserApi'
    import VueCookies from "vue-cookies"
    import axios from 'axios'
    import '../../assets/css/user.scss'
    import '../../assets/css/style.scss'
    import '../../assets/css/feed.scss'
    import '../../assets/css/followerList.scss'
    import Followlist from './Followlist'
    import ProfileModal from './ProfileModal'


    export default {
        components: {
        },
        props: {
            modalVisible: {
                type: Boolean,
                require: true,
                default: false
            },
            followers:{
                type : Array,
                require : true
            },
            followings : {
                type : Array,
                require : true,
            },
            checkFollower:{
                type : Boolean,
                require : true
            },
            peopleNickName:{
                type : String,
                require : true
            },
        },
        methods: {
            handleWrapperClick(nickname){
                this.$emit('update:modalVisible', false)
                this.$emit('update:peopleNickName', nickname)
                
            },
            // goFollowerProfile(name) {
            //     console.log('sdf')
            //     this.$router.push({name : 'PeopleProfile', params : {peopleNickName : name}});
            // }
            gotoUrl (nickname) {
                // this.$router.push({name:'PeopleProfile', params:{peopleNickname:nickname}})
                this.$router.push('/user/PeopleProfile/'+nickname)
                this.handleWrapperClick(nickname)
            }
        },

        mounted(){
            this.token = VueCookies.get("lululalatoken");
            let {token,uid} = this;
            let data = { token,uid};
            UserApi.getUser(data,res=>{
                if(res.data.status){
                    this.uid = res.data.object["uid"]; 
                    this.nickname = res.data.object["nickname"]; 
                    this.profileimg = res.data.object["profileimg"]; 
                    // let {uid} = this;
                    
                    // let data = this.peopleNickname;
                   
                    
                }
                            

                },error=>{  
                    alert("피드 불러오기 에러! 룰루랄라에 문의해주세요,,, ");
                   
                })
        },
        data() {
            return {
                propleNickname: ''

            }
        },
    }
</script>