<template>

    <div class="user wrapC" id="changePassword">
        <br>
        해 시 태 그 
        
        <vue-tags-input
        class="hashinput"
        v-model="tag"
        :tags="tags"
        @tags-changed="newTags => tags = newTags"
        placeholder="태그입력"
        />
        <button v-on:click="go">검색</button>   
        1: {{tags["text"]}}
        2: {{this.tags}}
        <ul>
            <li v-for="tag in tags" v-bind:key="tag.text">
                {{tag.text}}
            </li>
        </ul>
    </div>
</template>

<script>
    import VueTagsInput from '@johmun/vue-tags-input';
    import UserApi from '../../apis/UserApi'
    import * as EmailValidator from 'email-validator';
    export default {
        components: {
            VueTagsInput,
        },
        props: {
            title: {
            type: String,
            require: false,
            },
            sidebarTitle: {
            type: String,
            require: false,
            },
        },
        mounted() {
            // this.$emit('update:title', "해시태그 검색")
            // this.$emit('update:sidebarTitle', "해시태그 검색")

        },
        data() {
            return {
            tag: '',
            tags: [],
            };
        },
        methods : {
            go() {
                  let hashtagStr = '';
                    for(var i=0; i<this.tags.length; i++){
                      hashtagStr += this.tags[i].text;
                      if(i==this.tags.length-1) break;
                      hashtagStr += ',';
                    }
                    
            }
        }

    }
</script>

<style lang="scss" scoped>
    .hashinput{
        .ti-input{

            height: 15px !important;
        }
    }
</style>
