<template>
    <div class="wrapC user hometab" id="body">
        <br><br>
        <h1>환영합니다!</h1>

        <div class="homefeed">  <!-- 탭 적용 시험 --> 
            <vue-tabs 
            active-tab-color=black
            active-text-color="blue"
            type="pills"
            text-position="none"
            direction="horizontal"
            value="Object"
            >
                <v-tab title="메뉴" icon="ti-layout-grid3-alt">
                    <div id="menus">
                        <img src="../../assets/images/menu1.png">
                    </div>
                    <div id="menus">
                        <img src="../../assets/images/menu2.png">
                    </div>
                    <div id="menus">
                        <img src="../../assets/images/menu3.png">
                    </div>
                    <div id="menus">
                        <img src="../../assets/images/menu4.png">
                    </div>
                    <div id="menus">
                        <img src="../../assets/images/menu5.png">
                    </div>
                    <div id="menus">
                        <img src="../../assets/images/menu6.png">
                    </div>
                    <div id="menus">
                        <img src="../../assets/images/menu7.png">
                    </div>
                    <div id="menus">
                        <img src="../../assets/images/menu8.png">
                    </div>
                    <div id="menus">
                        <img src="../../assets/images/menu9.png">
                    </div>
                    <div id="menus">
                        <img src="../../assets/images/menu1.png">
                    </div>
                    <div id="menus">
                        <img src="../../assets/images/menu2.png">
                    </div>
                    <div id="menus">
                        <img src="../../assets/images/menu3.png">
                    </div>
                    <div id="menus">
                        <img src="../../assets/images/menu4.png">
                    </div>
                        
                </v-tab>
                <v-tab title="유저메뉴" icon="ti-tag">
                    <!-- 데이터를 하나씩 가져와서 블록 형성 -->
                    <p>따리님의 글</p>
                    <div id="usermenu">
                        <img src="../../assets/images/user1.png">
                    </div>
                    <div id="usermenuicon">
                        <span class="ti-face-smile"> </span>
                        <span class="ti-comment"> </span>
                        <span class="ti-sharethis"> </span>
                    </div>


                        <p>
                        누구냐 넌..

                        </p>
                        <p style="color:violet">
                        #따리#고슴도치#귀여움

                        </p>
                        <p>
                        30분 전

                        </p>
                    <div id="usermenu">
                        <img src="../../assets/images/menu1.png">
                    </div>
                    <div id="usermenuicon">
                        <span class="ti-face-smile"> </span>
                        <span class="ti-comment"> </span>
                        <span class="ti-sharethis"> </span>
                    </div>


                        <p>
                        밥을 찾아 떠나는 여행..

                        </p>
                        <p style="color:violet">
                        #따리#고양이#귀여움

                        </p>
                        <p>
                        1시간 전

                        </p>
            
                    <!-- 사진추가/해시태그추가/ -->
                </v-tab>



                <!-- <v-tab title="추가" icon="ti-plus">
                    
                새 룰루 추가~
                <input>

                
                </v-tab> -->
            </vue-tabs>
<!--             
            <md-badge md-content="1">
            </md-badge> -->
        </div>
    </div>
</template>

<script>

    import '../../assets/css/tabs.scss'
    export default {
        data: () => {
            return {
                email: 'testemail@test.email',
                nickname:'테스트닉네임',
                password: 'aasd',
                intro:'테스트인트로',

            }
        },
    }
</script>


<style lang="scss" scoped>

</style>