<!--
    가입하기는 기본적인 폼만 제공됩니다
    기능명세에 따라 개발을 진행하세요.
    Sub PJT I에서는 UX, 디자인 등을 포함하여 백엔드를 제외하여 개발합니다.
 -->
<template>
    <div class="user" id="join">
        <section>
            <form action="insertUser" method="post" @submit.prevent="join()">
                <div class="wrapC"> <!-- 양식 적용-->
                    <h1>♥ 같이해요 룰루랄라 ♥</h1>
                    <p class="ment">룰루랄라의 세상에 오신 걸 환영합니다 ^0^</p>
                    <div>
                        <div class="input-with-label"> <!-- 양식 적용-->
                            <input v-model="email" v-bind:class="{error : error.email, complete:!error.email&&email.length!==0}"
                                id="email" placeholder="이메일을 입력하세요."
                                type="text" :disabled="confirm"/>
                            <label for="email">이메일</label>
                            <button class="btn--mailsend" v-on:click="mailSend" :disabled="confirm"
                                :class="{disabled : confirm}">
                                메일 인증
                            </button>
                            <div class="error-text" v-if="error.email">
                                {{error.email}}
                            </div>
                            <div class="error-text" v-if="error.email2">
                                {{error.email2}}
                            </div>
                        </div>

                        <div class="input-with-label"> <!-- 양식 적용-->
                            <input v-model="nickname" v-bind:class="{error : error.nickname, complete:!error.nickname&&password.length!==0}"
                                id="nickname"
                                placeholder="닉네임을 입력하세요." type="text"/>
                            <label for="nickname">닉네임</label>
                            <div class="error-text" v-if="error.nickname">
                                {{error.nickname}}
                            </div>
                        </div>

                        <div class="input-with-label"> <!-- 양식 적용-->
                            <input v-model="password" v-bind:class="{error : error.password, complete:!error.password&&password.length!==0}"
                                id="password" :type="passwordType"
                                placeholder="비밀번호를 입력하세요."/>
                            <label for="password">비밀번호</label>
                            <div class="error-text" v-if="error.password">
                                {{error.password}}
                            </div>
                        </div>

                        <div class="input-with-label"> <!-- 양식 적용-->
                            <input v-model="passwordConfirm" :type="passwordConfirmType" v-bind:class="{error : error.passwordConfirm, complete:!error.passwordConfirm&&passwordConfirm.length!==0}"
                                    id="password-confirm"
                                placeholder="비밀번호를 다시한번 입력하세요."/>
                            <label for="password-confirm">비밀번호 확인</label>
                             <div class="error-text" v-if="error.passwordConfirm">
                                {{error.passwordConfirm}}
                            </div>
                        </div>
                    </div>
                    <div>
                        <label>
                            <input v-model="isTerm" type="checkbox" id="term"/>
                            <span>약관을 동의합니다.</span>
                        </label>

                        <!-- 약관보기 modal -->
                        <span>
                            <button @click="termPopup" style="float : right; margin-top: 8px;">약관 보기</button>
                            <terms-components
                                title="사용 약관"
                                :isTerm.sync="isTerm"
                                :modalVisible.sync="modalVisible">
                            </terms-components>
                        </span>
                    </div>
                    <button class="bottomBtn" type="reset" value="취소" v-on:click="resetCheck">
                        취소하기
                    </button>
                    <button class="bottomBtn btn-style btn--back" type="submit" value="가입하기" :disabled="!isSubmit">
                        가입하기
                    </button><br>

                <!-- 뒤로가기 추가 -->
                <br>
                <router-link v-bind:to="{name:'Login'}" class="toMain">            
                    메인 화면으로
                </router-link>
                </div>
            </form>
               
        </section>
    </div>
</template>

<script>
import PV from 'password-validator'
import * as EmailValidator from 'email-validator'
import http from "../http-common";
import terms from './ModalTerms' //약관 vue 가져오기
import '../../assets/css/style.scss'
import '../../assets/css/user.scss'
import UserApi from '../../apis/UserApi'
import JoinMailConfirm from './JoinMailConfirm.vue'
import { mapGetters, mapActions} from 'vuex'

    export default {
        
        components: {
            termsComponents: terms // 약관 vue 가져오기
        },
        created(){
            if(localStorage.getItem("email") !== null){
               this.email = localStorage.getItem("email");
               this.confirm = true;
               localStorage.removeItem("email");
            }
            this.passwordSchema
                .is().min(8)
                .is().max(100)
                .has().digits()
                .has().letters();
        },
        data: () => {
            return {
                modalVisible: false,
                email: '',
                password: '',
                passwordConfirm: '',
                passwordSchema: new PV(),
                nickname: '',
                isTerm: false,
                isLoading: false,
                error: {
                    email: false,
                    email2: false,
                    password: false,
                    nickname: false,
                    passwordConfirm: false,
                    term: false
                },
                isSubmit: false,
                confirm: false,
                passwordType: "password",
                passwordConfirmType: "password",
            }
        },
        watch: {
            password: function (v) {
                this.checkForm();
            },
            passwordConfirm: function (v) {
                this.checkForm();
            },
            email: function (v) {
                this.checkForm();
            },
            nickname: function (v) {
                this.checkForm();
            },
            isTerm: function (v) {
                this.checkForm();
            },
            confirm: function (v) {
                this.checkForm();
            }
        },
        // App.vue로 정보전달
        props: {
            title: {
            type: String,
            require: false,
            },
            sidebarTitle: {
            type: String,
            require: false,
            },
        },
        mounted() {
            this.$emit('update:title', "회원가입")
            this.$emit('update:sidebarTitle', "로그인이 필요합니다.")
        },
        // -------------
        methods: {

            checkForm(){
                if (this.email.length > 0 && !EmailValidator.validate(this.email)){
                    this.error.email = "이메일 형식이 아닙니다."
                    this.error.emai2 = false;
                }
                else if (this.confirm === false) {
                   
                    this.error.email = false;
                    this.error.email2 = "이메일 인증을 해주세요."
                }
                
                else {
                    this.error.email = false;
                    this.error.email2 = false;
                }

                if(this.nickname === "")
                    this.error.nickname = "닉네임을 입력 해 주세요."
                else this.error.nickname = false;

                if (this.password.length > 0 && !this.passwordSchema.validate(this.password))
                    this.error.password = '영문,숫자 포함 8 자리이상이어야 합니다.'
                else this.error.password = false;

                if(this.passwordConfirm.length > 0 && this.passwordConfirm !== this.password)
                    this.error.passwordConfirm = "비밀번호가 일치하지 않습니다."
                else this.error.passwordConfirm = false;

                if(!this.isTerm){
                    this.error.term = "약관에 동의해 주세요 ^^..";
                }
                else this.error.term = false;

                let isSubmit = true;
                Object.values(this.error).map(v => {
                    if (v) isSubmit = false;
                })
                this.isSubmit = isSubmit;
            }

            , join(){
                
                if (this.isSubmit ) {
                    if(!confirm)
                        alert("이메일 인증은 필수입니다 ♪");
                
                    else {
                        //이메일 첫글자 대문자 -> 소문자로 자동 변환 후 회원가입
                        var first = this.email[0].toLowerCase();
                        for(var i=1; i<this.email.length; i++){
                            first += this.email[i];
                        }
                        this.email = first;

                        let {nickname,email,password} = this;
                        let data = {
                            nickname,email,password
                        }
                        //요청 후에는 버튼 비활성화
                        this.isSubmit = false;
                
                        UserApi.requestJoin(data,res=>{                      
                            
                            if(res.data.status){
                                alert("☆★ 룰루랄라의 가입을 환영합니다 !! ★☆ ");
                                this.$router.push('/');
                               
                            }
                                //this.$router.push({name : 'JoinSucc', params : {email : this.email}});
                            else{ 
                                this.loginFailMsg = "회원가입에 실패하였습니다.. 흑흑 8-8";
                            }

                        },error=>{  
                            //요청이 끝나면 버튼 활성화
                            
                            this.isSubmit = true;
                        })
                        
                    }
                }
            },

            termPopup(){ //약관 함수
                this.modalVisible = !this.modalVisible;
            },

            mailSend(){
                let {email} = this;
                let data = {email};
                
                if(!this.error.email){
                    
                    UserApi.Joinmailsend(data,res=>{     
                        if(res.data.data==="중복"){
                            alert("이미 존재하는 회원 메일입니다!!");
                        }                                           
                        else if(res.data.data==="succ"){
                            localStorage.setItem('passConfirm', res.data.object.random);
                            this.$router.push({name : 'JoinMailConfirm', params: { email: this.email }} );
                        }

                        else{ 
                           this.loginFailMsg = "이메일인증보내기 실패했습니다..흑흑 8-8";
                        }

                    },error=>{  
                      
                    }) 
                }
                 
            },
            resetCheck() {
                if(confirm) {
                    this.confirm = false;
                }
            },


            // insertUser: function(){
            //     let form = new FormData();
            //     // if (this.email.length >= 0 && !EmailValidator.validate(this.email)) {
            //     //     alert("이메일 형식을 맞춰주세요.");
            //     //     return;
            //     // } 
            //     // if (this.password.length >= 0 && !this.passwordSchema.validate(this.password)) {
            //     //     alert("비밀번호를 영문/숫자 혼용 8자 이상으로 해주세요.");
            //     //     return;
            //     // }
            //     // if(this.password != this.passwordConfirm){
            //     //     alert("비밀번호 확인을 제대로 해주세요.");
            //     //     return;
            //     // }
            //     // if (!this.nickname) {
            //     //     alert("nickNam을 지정해주세요.");
            //     //     return;
            //     // }
            //     // if(!this.isTerm){
            //     //     alert("약관동의 체크는 필수!");
            //     //     return;
            //     // }
            //     //alert(this.nickname);
            //     http.post('account/signup', {'email': this.email,'password':this.password,'nickname':this.nickname})
            //     .then(response => {
            //         alert(response.data.status);
            //         if (response.data.status) {
            //             alert("등록이 완료되었습니다.");
            //             //회원가입후 화면
            //             
            //             this.$router.push("/user/JoinResult");
            //         }
            //         else{
            //             alert("등록이 취소 되었습니다.");
            //             return;
            //         }
            //     })
            // }
           
        }
    }
</script>


<style lang="scss" scoped>
.toMain {
    float: right;
    text-align: right;
}
button {
    float: right;

}

</style>