<template>
   
    <div class="mainfeed">
        <pro-modal
            :proModal.sync="proModal" 
            :nowfeed="nowfeed"
            :uid="uid"
            :commentlist="commentlist"
            :likecheck="likecheck"
            :likecnt="likecnt"
            :hashtag="hashtag"
            :peopletag="peopletag">
        </pro-modal>
        <div class="left">
            <div class="user_info">
                <img class="myproimg" :src="profileimg">
                <p class="myusername">{{nickname}}</p>
            </div>
            <div class="curation">
                <div class="curationheader"> 큐레이션 </div>
                <div class="curationcontent">
                    <ul>
                        <li v-for="(curation, $index) in curations" :key="$index">
                              <span  v-for="(c,$index) in curation" @click="clickhashtag(curation)" :key="$index">{{c}}</span>     
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cafe"></div>
        </div>
        <div class="right">

        <div class="posts">
            
            <vue-tabs 
            active-tab-color="#e3dee3"
            active-text-color="#58505a"
            type="pills"  
            text-position="none"
            direction="horizontal"
            value="Object"
            >
                <v-tab class="postTab" title="메뉴" icon="ti-layout-grid3-alt">
                    <div class="feedBoard">
                        <ul>
                            <li v-for="(feed, $index) in list" :key="$index" v-show="feed.open < 2" class='board' style="display:block;">
                                <div class="post" id="menus" @click="profilePopup(feed)">
                                      <img :src="feed.imgurl">
                                </div>
                            </li>
                        </ul>
                    <infinite-loading @infinite="infiniteImage" spinner="waveDots">
                        <div slot="no-more">No more message</div>
                        <div slot="no-results">No results message</div>
                    </infinite-loading>
                    </div>
                </v-tab>
                <v-tab class="postTab" title="유저메뉴" icon="ti-layout-media-center-alt">
                    <div class='feedList'>
                        <ul>
                            <li v-for="(feed, $idx) in feedlist" :key="$idx"  v-show="feed.open < 2" class='list'>
                                <div class="writer">
                                    <div class="feedProfile">
                                        <img :src="feed.profileimg" class="proimg">
                                        <div class="nicknameDiv">{{feed.nickname}}</div>
                                    </div>
                                    <div class="post" id="usermenu">
                                        <div class="feedImg">
                                            <img :src="feed.imgurl" width="auto" height="auto">
                                        </div>
                                      
                                        <div id="usermenuicon">
                                            <span v-if="feed.likeOwn">
                                                <!-- <span class="usermenuicon" @click="likeUser"><i class="far fa-heart"></i></span> -->
                                                <span class="usermenuicon"><i class="far fa-heart"></i></span>
                                            </span>
                                            <span v-else>
                                                <!-- <span class="usermenuicon" @click="likeUser" id="likeHeart"><i class="fas fa-heart"></i></span> -->
                                                <span class="usermenuicon" id="likeHeart"><i class="fas fa-heart"></i></span>
                                                <span class="usermenuicon"><i class="far fa-heart"></i></span>
                                            </span>
                                                <span class="usermenuicon" id="comment"><i class="far fa-comment-alt"></i></span>
                                        </div>  
                                        <!-- 주석필요!!! 좋아요 <input type="text" class="likes"  v-bind="this.likes"  @click="getLike(feed.fid)" ><br><br>  -->

                                        <div class="content">
                                            <p class="contentsNickname">{{feed.nickname}}</p>
                                            <p class="contentsText">{{feed.contents}}</p>
                                            <p class="contentsHashtag">{{feed.hashtag}}</p>
                                            <p class="contentsPeopletag">{{feed.peopletag}}</p>
                                        </div>
                                        <div>
                                            <span v-if="feed.writedate !== 0" id="writeTime"> {{feed.writedate}} </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        
                    <infinite-loading @infinite="infiniteFeed" spinner="waveDots">
                        <div slot="no-more">No more message</div>
                        <div slot="no-results">No results message</div>
                    </infinite-loading>
                    </div>
                </v-tab>
            </vue-tabs>

            
        </div>
    
        </div>
    </div>
</template>

<script>

    //import '../../assets/css/feed.scss'
    import '../../assets/css/feed.scss'
    import '../../assets/css/style.scss'
    import '../../assets/css/user.scss'
    import FeedApi from '../../apis/FeedApi'
    import UserApi from '../../apis/UserApi'
    import InfiniteLoading from 'vue-infinite-loading';
    import CommentApi from '../../apis/CommentApi'
    
    import axios from 'axios';
    const api = '//hn.algolia.com/api/v1/search_by_date';
    import VueCookies from "vue-cookies";


    import ProfileModal from './ProfileModal'

    export default {
        components: {
            InfiniteLoading,
            ProModal: ProfileModal
        },
        data: () => {
            
            return {
                feed: {

                    likeOwn:false,
                },
                curations:[],
                feeds: [],
                nickname:'',
                profileimg: '',
                imgurl: '',
                feedTime: '',
                intro:'',
                change: false,
                tabs: null,
                uid: 0,
                likes: 0,
                token: '',
                //페이징 스크롤
                page: 1,
                feedpage: 1,
                list: [],
                feedlist: [],
                limit: 0,
                pageidx: 0,
                feedidx: 0,
                newsType: 'story',
                infiniteId: +new Date(),
                imageViewPerPage: 21,
                feedViewPerPage: 4,
                infiniteDatas: -1,

                nowfeed: {},
                proModal: false,
                commentlist:[],
                likecheck: false,
                likecnt: 0,
                searchPeople:0,
                searchPeopleText:'',
                peopletag: [],
                hashtag: [],
                
                cntlst: -5,
                cntfed: -5,
            }
        },
        mounted() {
            // let {nickname, profileImg, feedImg, feedTime} = this;
            // let data = {nickname, profileImg, feedImg, feedTime};
            this.token = VueCookies.get("lululalatoken");
            let {token,uid} = this;
            let data = {token,uid};
            
            
            UserApi.getUser(data,res=>{
                
                if(res.data.status){ 
                    this.uid = res.data.object["uid"]; 
                    this.nickname = res.data.object["nickname"]; 
                    this.profileimg = res.data.object["profileimg"]; 
                    let {uid} = this;
                    let data = {uid};
                    
                    UserApi.searchAllCuration(data,res => {
                        
                        for(var i = 0; i < res.data.object.qurationlist.length; i++){
                            UserApi.showCuration(res.data.object.qurationlist[i],res=>{
                                for(var j=0; j< 3;j++){
                                        if(res.data.object.qurationlist[j]!=null){
                                            this.curations.push(res.data.object.qurationlist[j]+" ");
                                        }
                                }
                            })
                        }
                    })
                    
                    FeedApi.requestlikeFeed(data,res=>{
                        
                        if(res.data.status){
                            this.feeds = res.data.object.feedlist;        
                            
                            if (this.feedidx < this.feeds.length) {
                                this.page += 1;
                                
                               
                                for (var j=this.feedidx; j<(this.feedidx+this.feedViewPerPage); j++){
                                    if (j >= this.feeds.length){
                                        break;
                                    }
                                    
                                    this.feedlist.push(this.feeds[j]);
                                }
                                this.feedidx += this.feedViewPerPage;
                            }
                            //////////////
                            if (this.pageidx < this.feeds.length) {
                                this.feedpage += 1;
                                    
                                for (var i=this.pageidx; i<(this.pageidx+this.imageViewPerPage); i++){
                                    if (i >= this.feeds.length){
                                        break;
                                    }
                                    this.list.push(this.feeds[i]);
                                }
                                this.pageidx += this.imageViewPerPage;
        
                            } 



                        }
                        
                    },error=>{  
                        alert("피드 불러오기 에러! 룰루랄라에 문의해주세요,,, ");
                        
                    })
                }
                            

                },error=>{  
                    alert("로그아웃되었습니다. 다시 로그인 해주세요");
                    
                })

                    
            
            this.$emit('update:title', "")
            this.$emit('update:sidebarTitle', "로그인이 필요합니다.")
            this.$emit('update:headerInvisible', false)
            this.$emit('update:sidebarAvailable', true)
        },
        methods: {
            clickhashtag(tag){
                this.$router.push({name : 'SeachFeedbytag', params: { keyword: tag}});
            },
            getPic(name) {
                
                return name
            },
            getLike(fid){
                let data = {fid};
                 FeedApi.requestLikes(data,res=>{
                     
                        if(res.data.status){
                               this.likes = res.data.object.likeCount;       
                        }
                        
                    },error=>{  
                        alert("피드 불러오기 에러! 룰루랄라에 문의해주세요,,,! ");
                       
                    });
            },
            infiniteImage($state) { //스크롤 페이징 처리부분
               
                if (this.list.length === 0 && this.cntlst <= 0){
                    
                    let {uid} = this;
                    let data = {uid};
                    FeedApi.requestlikeFeed(data,res=>{
                        
                        if(res.data.status){
                            this.feeds = res.data.object.feedlist;
                            
                            if (this.pageidx < this.feeds.length) {
                                this.page += 1;
                                
                                for (var i=this.pageidx; i<(this.pageidx+this.imageViewPerPage); i++){
                                    if (i >= this.feeds.length){
                                        break;
                                    }
                                    this.list.push(this.feeds[i]);
                                }
                                this.pageidx += this.imageViewPerPage;
                                $state.loaded();
                                this.infiniteDatas = this.feeds.length;
                            } else {
                                $state.complete();
                            }
                        }
                        else{
                            
                            this.cntlst ++;
                            $state.loaded();
                        }

                    },error=>{  
                        alert("피드 불러오기 에러! 룰루랄라에 문의해주세요,,, ");
                       
                    })
                }
                else{
                   
                    if (this.pageidx < this.feeds.length) {
                        this.page += 1;
                        
                        
                        for (var i=this.pageidx; i<(this.pageidx+this.imageViewPerPage); i++){
                            if (i >= this.feeds.length){
                                break;
                            }
                            this.list.push(this.feeds[i]);
                        }
                        this.pageidx += this.imageViewPerPage;
                        $state.loaded();
                    } else {
                        $state.complete();
                    }
                }
            },
            infiniteFeed($state) { // 피드 스크롤 페이징 처리부분

                
                if (this.feedidx < this.feeds.length) {
                    this.feedpage += 1;
         
                    
                    for (var i=this.feedidx; i<(this.feedidx+this.feedViewPerPage); i++){
                        if (i >= this.feeds.length){
                            break;
                        }
                        this.feedlist.push(this.feeds[i]);
                    }
                    this.feedidx += this.feedViewPerPage;
                    $state.loaded();
                } else {
                    $state.complete();
                }
            },
            profilePopup(feed){
                this.proModal = !this.proModal;
                this.nowfeed = feed;
                console.log(this.nowfeed)
 
                this.commentlist = null;


                CommentApi.searchComment(feed.fid, res=>{
                    if (res.data !== '') {

                        this.commentlist = res.data.object.commentlist;
                    for(var i = 0; i < this.commentlist.length; i++){
                        var peopleUid = this.commentlist[i].uid;
                        
                        }
                    }
                  
                })
                this.fid = this.nowfeed.fid;
                let {fid} = this;
                let data = {fid};
             
                // UserApi.getUser(data,res=>{
                //     console.log(this.res)
                //     if(res.data.status){
                //         this.uid = res.data.object["uid"];
                //         let {uid,fid} = this;
                //         data = {uid,fid};
                //         FeedApi.checklike(data,res=>{

                //             if(res.data.data == "succ"){
                //                 this.likecheck = true;
                          
                //             }else{
                //                 this.likecheck = false;
                                
                //             }
                //         },error=>{
                           
                //             alert("피드 좋아요여부 오류.. 룰루랄라에 문의 해 주세요");
                //         })
                //         FeedApi.countlike(data,res=>{
                //             if(res.data.data == "succ"){
                //                 this.likecnt = res.data.object["count"];
                               
                //             }
                //         },error=>{
                            
                //             alert("좋아요 정보 불러오기 오류.. 룰루랄라에 문의 해 주세요");
                //         })
                //         data = {fid};
                //         FeedApi.requestSearchTag(data,res=>{
                //             if(res.data.status){
                            
                //                 this.peopletag = res.data.object.peopletag;
                //                 this.hashtag = res.data.object.hashtag;
                //             }
                //         },error=>{
                            
                //             alert("태그 정보 불러오기 오류.. 룰루랄라에 문의 해 주세요");
                //         } )
                //     }
                // },error=>{
                   
                //     alert("로그인 상태 오류.. 다시 로그인 해주세요");
                // })
             
            },

            //2 월 17일 추가 
            searchProfile(searchPeople){

            
            let data = {searchPeople};

            UserApi.findUserByUid(searchPeople,res=>{
                   
                    this.searchPeopleText=  res.data.object["nickname"] ;
                  
                    this.$router.push({name : 'PeopleProfile', params: { peopleNickname: this.searchPeopleText}});
            })                       
            }

        },
        props: {
            title: { 
            type: String,
            require: false,
            },
            sidebarTitle: {
            type: String,
            require: false,
            },
            headerInvisible:{
            type: Boolean,
            require: false,
            },
            sidebarAvailable:{
            type: Boolean,
            require: false,
            },
        },
    }
</script>


<style lang="scss" scoped>

</style>