﻿
<template>

    <div class="user" id="login" >
        <div class="loginimg">
            <img src="../img/login.png" alt="">
        </div>
        <!-- <div class="loginimg">
                <div class="bd-example">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../../assets/images/lala1.png" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="lalaTitle">
                                        <p>sensibility</p>
                                    </div>
                                    <div class="lalaMent">
                                        <p>감성SNS 룰루랄라</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="../../assets/images/lala2.png" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="lalaTitle">
                                        <p>curation</p>
                                    </div>
                                    <div class="lalaMent">
                                        <p>취미공유SNS 룰루랄라</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="../../assets/images/lala3.png" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="lalaTitle">
                                        <p>룰루랄라</p>
                                    </div>
                                    <div class="lalaMent">
                                        <p>함께해요룰루랄라</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

        </div> -->
        <div class="wrapC">
            <!-- ---------------------내용시작 -->
            <div style="float:auto; ">
                <h1>룰루랄라</h1>
                <p class="ment">오늘도 룰루랄라 하세요 ♪</p>
            </div>
            
            <div class="input-with-label">
                <input v-model="email" v-bind:class="{error : error.email, complete:!error.email&&email.length!==0}"
                    @keyup.enter="login"
                    id="email" placeholder="이메일을 입력하세요."
                    type="text"/>
                <label for="email">이메일</label>
                <div class="error-text" v-if="error.email">
                    {{error.email}}
                </div>
            </div>
            <div class="input-with-label">
                <input v-model="password" type="password"
                    v-bind:class="{error : error.password, complete:!error.password&&password.length!==0}"
                    id="password"
                    @keyup.enter="login"
                    placeholder="비밀번호를 입력하세요."/>
                <label for="password">비밀번호</label>
                <div class="error-text" v-if="error.password">
                    {{error.password}}
                </div>
            </div>
            <button class="btn-style btn--back btn--login" v-on:click="login" :disabled="!isSubmit"
                :class="{disabled : !isSubmit}">
                로그인
            </button>
            <div>
                <div v-if="loginFailMsg" style="color:red">
                    {{loginFailMsg}}
                </div>
            </div>
            <div class="sns-login">
                <div class="text">
                    <p>카카오톡 로그인</p>
                    <!-- <div class="bar"></div> -->
                </div>
                <KakaoLogin :component="component"/>
                <!-- <GoogleLogin :component="component"/> -->
            </div>
            <div class="add-option">
                <!-- <div class="text">
                    <p>혹시</p>
                    <div class="bar"></div>
                    </div> -->
                <div class="wrap">
                    <router-link v-bind:to="{name:'FindPassword'}" class="hov btn--text">비밀번호를 잊으셨나요?</router-link>
                </div>
                <div class="wrap">
                <router-link v-bind:to="{name:'Join'}" class="hov btn--text">아직 회원이 아니신가요?</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import '../../assets/css/style.scss'
    import '../../assets/css/user.scss'
    import '../../assets/css/sidebar.scss'
    import '../../assets/css/feed.scss'
    import '../../assets/css/themify-icons.css'
    import PV from 'password-validator'
    import * as EmailValidator from 'email-validator';
    import KakaoLogin from '../../components/user/snsLogin/Kakao.vue'
    // import GoogleLogin from '../../components/user/snsLogin/Google.vue'
    import UserApi from '../../apis/UserApi'
    import VueCookie from 'vue-cookies';


    export default {
        components: {
            KakaoLogin,
            // GoogleLogin,
        },
        created(){
            this.component = this;



            this.passwordSchema
                .is().min(8)
                .is().max(100)
                .has().digits()
                .has().letters();


        },
        // App.vue로 정보전달
        props: {
            title: {
            type: String,
            require: false,
            },
            sidebarTitle: {
            type: String,
            require: false,
            },
            headerInvisible:{
            type: Boolean,
            require: false,
            },
            sidebarAvailable:{
            type: Boolean,
            require: false,
            },
        },
        mounted() {
            this.$emit('update:title', "로그인이 필요합니다.")
            this.$emit('update:sidebarTitle', "로그인이 필요합니다.")
            this.$emit('update:headerInvisible', true)
            this.$emit('update:sidebarAvailable', false)

            const token = VueCookie.get('lululalatoken');
            if(token != null){
                if(token.length > 5){
                    this.$router.push({name:"MainFeed"});
                }
            }
           
        },
        // -------------
        watch: {
            password: function (v) {
                this.checkForm();
            },
            email: function (v) {
                this.checkForm();
            },
        },
        methods: {
            // loginterror(){
                
            //     this.error.email = "회원정보를 확인할수 없습니다"

            // },
            checkForm(){
                if (this.email.length > 0 && !EmailValidator.validate(this.email))
                    this.error.email = "이메일 형식이 아닙니다."
                else this.error.email = false;

                if (this.password.length > 0 && !this.passwordSchema.validate(this.password))
                    this.error.password = '영문,숫자 포함 8 자리이상이어야 합니다.'
                else
                    this.error.password = false;

                if (this.password.length > 0 && this.loginFailMsg)
                    this.loginFailMsg = false;

                let isSubmit = true;
                Object.values(this.error).map(v => {
                    if (v) isSubmit = false;
                })
                this.isSubmit = isSubmit;
            }, 
            login(){

                //이메일 첫글자 대문자 -> 소문자로 자동 변환 후 로그인

                var first = this.email[0].toLowerCase();
                for(var i=1; i<this.email.length; i++){
                    first += this.email[i];
                }
                this.email = first;

                if (this.isSubmit) {
                    let {email,password} = this;
                    let data = {
                        email,password

                    }

                    //요청 후에는 버튼 비활성화
                    this.isSubmit = false;
                    

                    UserApi.requestLogin(data,res=>{
                        //통신을 통해 전달받은 값 콘솔에 출력

                        if(res.data.status){
                            
                            this.$router.push({name:"MainFeed"});
                        }
                        else{
                            this.loginFailMsg = "로그인에 실패하였습니다.. 흑흑 8-8";
                            this.password = "";
                        }

                    },error=>{  
                        alert("로그인 에러! 룰루랄라에 문의해주세요,,, ");
                       
                    })


                }
             }
            //,
            // toggleMenu() {
            //     if (this.swiper.activeIndex === 0) {
            //         this.swiper.slideNext()
            //     } else {
            //         this.menuCross = false
            //         this.swiper.slidePrev()
            //     }
            // },
            // moveWord: function(){
            //         this.show = !this.show                   
            // }
        },
        data: () => {
            return {
                email: '',
                password: '',
                passwordSchema: new PV(),
                loginFailMsg: false,
                error: {
                    email: false,
                    password: false,
                },
                isSubmit: false,
                component: this,
            }
        }
    }
</script>
