<template>
<div class="footer" style="color:white">
  <div id="foot">
    
      <router-link v-bind:to="{name:'Profile'}">
        <span><i class="fas fa-user fa-sm"></i></span>
      </router-link>
      
      <router-link v-bind:to="{name:'MainFeed'}" class="hov btn--text">
        <span><i class="fas fa-home fa-sm"></i></span>
      </router-link>
      
      <router-link v-bind:to="{name:'Hashtag'}" class="hov btn--text">
        <span><i class="fa fa-hashtag fa-sm"></i></span>
      </router-link>
      
      <router-link v-bind:to="{name:'LikeFeed'}" class="hov btn--text">
        <span><i class="fas fa-heart fa-sm"></i></span>
      </router-link>
      
  </div>
</div>
</template>

<script>

import '../../assets/css/footer.scss'

export default {
  name: 'main-footer'
}
</script>
 
<style scoped>
</style>