<template>

    <div class="modal"
        v-if="modalVisible" @click.self="handleWrapperClick">
        <div class="user" id="MainFeedModal">


        </div>
    </div>
</template>

<script>

    export default {
        components: {
        },
        
        props: {
            modalVisible: {
            type: Boolean,
            require: true,
            default: false
            },
        },
        mounted(){

        },
        methods: {
            
            handleWrapperClick(){
            this.$emit('update:modalVisible', false)
            },
        },
        data() {
            return {
            };
        },
    }

</script>


