<template>
    <div class="user wrapC" id="pageNotFound">
        <h1>페이지를 찾을 수 없습니다.</h1>
        <h3>페이지가 없거나 잘못되었습니다.</h3>

        <div class="btn-style btn--back btn--signin" @click="$router.go(-1)">
            뒤로 가기
        </div>

        <router-link :to="{name:'Login'}" class="btn--text">
            <div class="btn-style btn--back btn--signin">
                메인 화면으로
            </div>
        </router-link>
    </div>
</template>

<script>
    export default {

    }

</script>


