<template>
    <div class="profilemain">   
        <pro-modal
            :proModal.sync="proModal" 
            :nowfeed="nowfeed"
            :uid="uid"
            :commentlist="commentlist"
            :likecheck="likecheck"
            :likecnt="likecnt">
        </pro-modal>                                                                                            
        <flist
        :modalVisible.sync="modalVisible"
        :followers="followers"
        :followings="followings"
        :checkFollower="checkFollower"
        :peopleNickName.sync="peopleNickName">
        </flist>
        <pro-modal
        :proModal.sync="proModal">
        </pro-modal>
        <!-- <h1>{{this.nickname}}님의 정보</h1> -->

        <div class="myinfo">
            <div class="infoheader">
                <div class="mypagename">
                     <p>{{this.peopleUsertitle}}</p>
                </div>
                <div class="follow">
                
                    <div class="followers">팔로워</div>
                    <button class="followernum" @click="followingPopup">{{followingsLen}}</button>
                    <div class="followings">팔로잉</div>
                    <button class="followingnum" @click="followerPopup">{{followersLen}}</button>
               
                    <div class="followBtn" > 
                      <button v-if="isFollowing" type="button" class="btn btn-outline-secondary" @click="followDelete">팔로잉</button>
                      <button v-else type="button" class="btn btn-outline-primary" @click="followInsert">팔로우</button>
                    </div>
                </div>
                <!-- <div>
                    <div>
                         <ul>
                            <li v-for="follower in followers" v-bind:key="follower">
                                <div>
                                    {{follower.uid}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> -->
                
                    <!-- <button class="settingbtn">
                        <router-link  v-bind:to="{name:'UserInfo'}">
                        <img class="settingimg" src="../../assets/images/emptysetting.png">
                        </router-link>
                    </button> -->
               
            </div>
            
            <div class="profileimg">
                <div>
                    <img class="myimg" :src="this.peopleImg">
                </div>
                
            </div>
            <div class="mynickname">
                    <p>{{this.peopleNickName}}</p>
                </div>
                <div class="message">
                    <p>{{this.peopleIntro}}</p>    
            </div>
            <!-- <div class="photo">
                <img src="../../assets/images/profile1.png">
                <p>님과 관련된 글</p>
            </div>
            <div class="info-num">

                <button @click="followerPopup">2.2k명</button>
                <flist
                :modalVisible.sync="modalVisible">
                </flist>
            </div>
            <div class="info-num">
                <p>1.2k명</p>
            </div>
            <div class="info-num">
                <p>131개</p>
            </div>
            <div class="info-name">
                <p>팔로워</p>
            </div>
            <div class="info-name">
                <p>팔로잉</p>
            </div>
            <div class="info-name">
                
                <p>게시글</p>

            </div> -->
        </div>

        <div class="peopleprofeed">  
            <vue-tabs 
            active-tab-color="#e3dee3"
            active-text-color="#58505a"
            type="pills"
            text-position="none"
            direction="horizontal"
            value="Object"
            >
                <v-tab title="메뉴" icon="ti-layout-grid3-alt">
                  <div>
                        <ul class='feedBoard'>
                            
                            <li v-for="(feed, idx) in feeds" :key="idx" class='board'>
                                  <!-- feed.open이 2이하면 출력  -->
                                <div class="post" id="menus" @click="profilePopup(feed)">
                                    <img :src="feed.imgurl"> 
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- <div>
                        <button @click="profilePopup">사진 modal</button>
                        <button @click="followerPopup">2.2k명</button>
                    </div> -->
                </v-tab>
                <v-tab title="유저메뉴" icon="ti-tag">
                     <div>
                         <ul class='feedBoard'>
                            
                            <li v-for="(feed, idx) in taggedFeeds" :key="idx" class='board'>
                                  <!-- feed.open이 2이하면 출력  -->
                                <div class="post" id="menus" @click="profilePopup(feed)">
                                    <img :src="feed.imgurl"> 
                                </div>
                            </li>
                        </ul>
                    </div>
            
                     <!-- 사진추가/해시태그추가/  -->
                </v-tab>
               

            </vue-tabs>
        </div> 
    </div>
</template>

<script>
    import axios from 'axios'
    import '../../assets/css/profile.scss'
    import '../../assets/css/user.scss'
    import '../../assets/css/style.scss'
    import '../../assets/css/feed.scss'
    import FeedApi from '../../apis/FeedApi'
    import VueEmoji from 'emoji-vue'
    import FeedUpload from '../feed/FeedUpload.vue'
    import UserApi from '../../apis/UserApi'
    import CommentApi from '../../apis/CommentApi'
    import VueCookies from "vue-cookies"
    // modal들
    import Followlist from './Followlist'
    import ProfileModal from './ProfileModal'

    export default {
        components: {
           // VueEmoji,
            flist: Followlist,
            ProModal: ProfileModal
        },
        data: () => {
            return {
                email: '',
                nickname:'',
                intro:'',
                peopleIntro: '',
                usertitle: '',
                peopleUsertitle: '',
                profileimg: '',
                postImage : '',
                postHashTag : '',
                postPeopleTag : '',
                postWrite : '',
                filename: '',
                imageSrc: '',
                uid : 0,
                peopleUid : 0,
                peopleImg:'',
                
                feed: {
                    likeOwn:false,
                    },
                nowfeed : {},
                feeds: [],
                taggedFeeds : [],
                myText: '',
                inputcontent:'',
                imgurl:'',
                token: '',
                modalVisible: false,
                // 사진 자세히보기
                proModal: false,
                followers: [],
                followings:[],
                followersLen: 0,
                followingsLen: 0,
                feedidx : 0,
                pageidx: 0,
                imageViewPerPage: 21,
                feedViewPerPage: 4,
                feedlist : [],
                feedpage : 1,
                list : [],
                page: 1,
                isFollowing : false, // 내가 이 사람을 팔로우 하는지 여부
                checkFollower: false, // 팔로우, 팔로워 리스트 구분짓기 위함
                commentlist:[],
                likecheck : false,
                likecnt : 0,
                peopleNickName:'',
                preUrl: '',
                pageIndex: 0
           }
        }, 
        created() {
            
        },
        mounted(){
            if (this.$route.params.peopleNickname !== undefined){
                this.peopleNickName = this.$route.params.peopleNickname;
            }
            // this.peopleNickname = this.$route.params.peoplename;
            //this.email = this.$route.params.email
            


            this.token = VueCookies.get("lululalatoken");
            let {token,uid} = this;
            let data = { token,uid};
            
           
            UserApi.getUser(data,res=>{
                
                if(res.data.status){
                    this.uid = res.data.object["uid"]; 
                    this.nickname = res.data.object["nickname"]; 
                    this.profileimg = res.data.object["profileimg"];
                    this.intro = res.data.object["intro"];
                    this.usertitle = res.data.object["usertitle"];
                    
                    
                    UserApi.requestUserInfo(this.peopleNickName,res=>{
                    
                        this.peopleUid = res.data.object["uid"];
                        this.peopleImg = res.data.object["profileimg"];
                        this.peopleIntro = res.data.object["intro"];
                        this.peopleUsertitle = res.data.object["usertitle"];

                        var data = {
                            uid: this.peopleUid,
                        }
                        
                        // FeedApi.requestmyFeed(this.peopleUid,res=>{
                        // if(res.data.status){
                        //     this.feeds = res.data.object.feedlist;        
                           
                        //     if (this.feedidx < this.feeds.length) {
                        //         this.page += 1;
                                
                                
                        //         for (var j=this.feedidx; j<(this.feedidx+this.feedViewPerPage); j++){
                        //             if (j >= this.feeds.length){
                        //                 break;
                        //             }
                        //             this.feedlist.push(this.feeds[j]);
                        //         }
                        //         this.feedidx += this.feedViewPerPage;
                        //     }
                        //     if (this.pageidx < this.feeds.length) {
                        //         this.feedpage += 1;
                                    
                        //         for (var i=this.pageidx; i<(this.pageidx+this.imageViewPerPage); i++){
                        //             if (i >= this.feeds.length){
                        //                 break;
                        //             }
                        //             this.list.push(this.feeds[i]);
                        //         }
                        //         this.pageidx += this.imageViewPerPage;
                        //     } 
        
                        // }
                        
                        // },error=>{  
                        //     alert("피드 불러오기 에러! 룰루랄라에 문의해주세요,,, ");
                            
                        // })
                        // FeedApi.requestTaggedFeed(this.peopleUid, res =>{
                        //     this.taggedFeeds = res.data.object.feedlist;
                            
                        // })
                    })
                   
                    UserApi.requestFollower(this.peopleNickName,res=>{
                      
                        this.followers = res.data.object.userlist;
                        this.followersLen = this.followers.length;
                        
                        for(var i = 0; i < this.followers.length; i++){
                            
                            if(this.followers[i].uid === this.uid){
                                this.isFollowing = true;
                            }
                         }
                    },error=>{
                       
                    })
                     UserApi.requestFollowing(this.peopleNickName,res=>{
                       
                        this.followings = res.data.object.userlist;
                        this.followingsLen = this.followings.length;
                        
                        for(var i = 0; i < this.followings.length; i++){
                           
                            if(this.followings[i].uid === this.uid){
                                this.isFollowing = true;
                            }
                         }
                    },error=>{
                    
                    })
                }
                            

                },error=>{  
                    alert("피드 불러오기 에러! 룰루랄라에 문의해주세요,,, ");
                    
                })
            this.$emit('update:title', "")
            this.$emit('update:sidebarTitle', "로그인이 필요합니다.")
            this.$emit('update:headerInvisible', false)
            this.$emit('update:sidebarAvailable', true)

            //this.follower 
            //UserApi

        },
        watch:{
            peopleNickName: function (v) {
                this.reload()
            }
        },
        methods:{
            getPic(name) {
                // return require('../../assets/images/'+name+'.png')
            },
            reload(){
                UserApi.requestUserInfo(this.peopleNickName,res=>{
                    this.feeds = []
                    this.taggedFeeds = []
                    this.peopleUid = res.data.object["uid"];
                    this.peopleImg = res.data.object["profileimg"];
                    this.peopleIntro = res.data.object["intro"];
                    this.peopleUsertitle = res.data.object["usertitle"];

                    console.log("피드를 가져옵니다", this.peopleUid)
                    var data = {
                        uid: this.peopleUid,
                    }
                    FeedApi.requestmyFeed(data,res=>{
                    if(res.data.status){
                        this.feeds = res.data.object.feedlist;        
                        
                        if (this.feedidx < this.feeds.length) {
                            this.page += 1;
                            
                            
                            for (var j=this.feedidx; j<(this.feedidx+this.feedViewPerPage); j++){
                                if (j >= this.feeds.length){
                                    break;
                                }
                                this.feedlist.push(this.feeds[j]);
                            }
                            this.feedidx += this.feedViewPerPage;
                        }
                        if (this.pageidx < this.feeds.length) {
                            this.feedpage += 1;
                                
                            for (var i=this.pageidx; i<(this.pageidx+this.imageViewPerPage); i++){
                                if (i >= this.feeds.length){
                                    break;
                                }
                                this.list.push(this.feeds[i]);
                            }
                            this.pageidx += this.imageViewPerPage;
                        } 
    
                    }
                    
                    },error=>{  
                        alert("피드 불러오기 에러! 룰루랄라에 문의해주세요,,, ");
                        
                    })
                    FeedApi.requestTaggedFeed(this.peopleUid, res =>{
                        this.taggedFeeds = res.data.object.feedlist;
                        
                    })
                })
                
                UserApi.requestFollower(this.peopleNickName,res=>{
                    
                    this.followers = res.data.object.userlist;
                    this.followersLen = this.followers.length;
                    
                    for(var i = 0; i < this.followers.length; i++){
                        
                        if(this.followers[i].uid === this.uid){
                            this.isFollowing = true;
                        }
                        }
                },error=>{
                    
                })
                    UserApi.requestFollowing(this.peopleNickName,res=>{
                    
                    this.followings = res.data.object.userlist;
                    this.followingsLen = this.followings.length;
                    
                    for(var i = 0; i < this.followings.length; i++){
                        
                        if(this.followings[i].uid === this.uid){
                            this.isFollowing = true;
                        }
                        }
                },error=>{
                
                })
                
            },
            fileSelect(){ // data의 이미지 속성에 접근하여 데이터 담아주는 함수
               
                this.inputImageFile(event.target.files)
                this.postImage = this.$refs.postImage.files[0];
                
                const URL = 'http://localhost:8080/lululala/feed/uploadfile'; 

                var formData = new FormData();
                var content = '<a id="a"><b id="b">hey!</b></a>'; // the body of the new file...
                var blob = new Blob([content], { type: "application/json"});
                formData.append("webmasterfile", blob);
                formData.append("postImage", this.postImage);
                
                axios
                .post(URL, formData)
                .then(
                  response => {
                      
                      this.imgurl = response.data.data;
                    }
                )
                
           },
            uploadPost(event) {
                let {uid, content,inputcontent,imgurl} = this;
                let data = {
                    contents : inputcontent,
                    imgurl,
                    hashtag : '',
                    peopletag: '',
                    uid,
                    open: 0
                    
                }
                
                FeedApi.createFeed(data,res=>{   
                  
                    if(res.data.status){
                        this.$router.push('/user/MainFeed');
                    
                    }
                        //this.$router.push({name : 'JoinSucc', params : {email : this.email}});
                    else{ 
                        this.createFailMsg = "회원가입에 실패하였습니다.. 흑흑 8-8";
                    }

                },error=>{                     
                    //요청이 끝나면 버튼 활성화
                   
                    this.isSubmit = true;
                })

               
            },
             readURL(input){
                 if(input.files && input.files[0]){
                     var reader = new FileReader();
                     reader.onload = function(e){

                     }
                 }   
             },
              onDrop (event) {
                  this.inputImageFile(event.dataTransfer.files)
             },
            onClickFile(event) {
               
                this.$refs.postImage.click()
            },
            onFileChange(event) {
                
                this.inputImageFile(event.target.files)
            },
            inputImageFile (files) {
           
                if (files.length) {
                    let file = files[0]
                    if (!/^image\//.test(file.type)) {
                    alert('이미지 파일만 등록이 가능합니다')
                    return false
                    }
                    this.filename = file.name
                    this.preview(file)
                }
            },
            onClickUpload () {
              
              this.preview (this.filename)
            },
            preview (file) {
                
                if (typeof file === 'string') {
                    this.imageSrc = file
                   
                } else {
                    
                    let vm = this
                    let reader = new FileReader()
                    reader.onload = () => {
                    vm.imageSrc = reader.result
                    }
                    reader.readAsDataURL(file)
                
                }
            },
            
            onInput(event) {
                //event.data contains the value of the textarea
                
                this.inputcontent = event.data
                

            },
            clearTextarea(){
                this.$refs.emoji.clear()
            },  
            followerPopup(){
                var data = this.peopleNickName;
                this.checkFollower = true; 
                
                this.modalVisible = !this.modalVisible;
            },
            followingPopup(){
                this.checkFollower = false;
                
                this.modalVisible = !this.modalVisible;
            },
            followInsert(){
                var followuid = this.uid;
                var followeruid = this.peopleUid;
                
                var data = {followuid , followeruid};
                UserApi.insertFollow(data, res =>{
                    
                    this.isFollowing = true;
                     UserApi.requestFollowing(this.peopleNickName,res=>{
                       
                        this.followings = res.data.object.userlist;
                        this.followingsLen = this.followings.length;
                       
                        for(var i = 0; i < this.followings.length; i++){
                            
                            if(this.followings[i].uid === this.uid){
                                this.isFollowing = true;
                            }
                         }
                    },error=>{
                        
                    })
                })
            },
            followDelete(){
                var followuid = this.uid;
                var followeruid = this.peopleUid;
            
                var data = {followuid , followeruid};
                UserApi.deleteFollow(data, res =>{
                    
                    this.isFollowing = false;
                     UserApi.requestFollowing(this.peopleNickName,res=>{
                       
                        this.followings = res.data.object.userlist;
                        this.followingsLen = this.followings.length;
                        
                        for(var i = 0; i < this.followings.length; i++){
                           
                            if(this.followings[i].uid === this.uid){
                                this.isFollowing = true;
                            }
                         }
                    },error=>{
                        console.log("팔로워 불러오는 중 에러");
                    })
                })
            },
             profilePopup(feed){
                this.proModal = !this.proModal;
                this.nowfeed = feed;
               
                
                CommentApi.searchComment(feed.fid, res=>{
                    this.commentlist = res.data.object.commentlist;
                    for(var i = 0; i < this.commentlist.length; i++){
                        var peopleUid = this.commentlist[i].uid;
                        
                    }
                    
                })

                this.fid = this.nowfeed.fid;
                this.token = VueCookies.get("token");
                let {token} = this;
                let data = {token};
                UserApi.getUser(data,res=>{
                    if(res.data.status){
                        this.uid = res.data.object["uid"];
                        let {uid,fid} = this;
                        data = {uid,fid};
                        FeedApi.checklike(data,res=>{
                            if(res.data.data == "succ"){
                                this.likecheck = true;
                                
                            }else{
                                this.likecheck = false;
                               
                            }
                        },error=>{
                            
                            alert("피드 좋아요여부 오류.. 룰루랄라에 문의 해 주세요");
                        })
                        FeedApi.countlike(data,res=>{
                            if(res.data.data == "succ"){
                                this.likecnt = res.data.object["count"];
                              
                            }
                        },error=>{
                            
                            alert("좋아요 정보 불러오기 오류.. 룰루랄라에 문의 해 주세요");
                        })
                    }else{
                        console.log("겟유저 status가 false....");
                    }
                },error=>{
                
                    alert("로그인 상태 오류.. 다시 로그인 해주세요");
                })
                
            },
        },
        props: {
            title: {
            type: String,
            require: false,
            },
            sidebarTitle: {
            type: String,
            require: false,
            },
            headerInvisible:{
            type: Boolean,
            require: false,
            },
            sidebarAvailable:{
            type: Boolean,
            require: false,
            },
        },
    }

</script>


