<template>

    <div class="modal"
        v-if="proModal" @click.self="handleWrapperClick">
        <div class="feedModal">
            
            <div class="feedModalContents">
                <div class="feedModalImg" id="feedimg" style="">
                    <img class="feedimg" :src="nowfeed.imgurl"  alt="" srcset="" v-if="nowfeed">
                </div>
 
                <div class="feedModalContent">
                    <div id="userContent">
                        <div class="userNickname" id="writer">
                            <img :src="nowfeed.profileimg" alt="" @click="searchProfile(nowfeed.uid)" srcset="" v-if="nowfeed">
                            <span>{{nowfeed.nickname}}</span>
                        </div>  
                        <div id="writerContent"> 
                            <span>{{nowfeed.contents}}</span>
                             <div id="tag">
                                <span v-for="(hash, idx) in hashtag" @click="searchHashtag(hash)" v-bind:key="idx+'ht'">#{{hash}} </span>
                                <span v-for="(people, idx) in peopletag" @click="searchPeopletag(people)" v-bind:key="idx+'ppt'">@{{people}} </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="content">
                        <ul class="ulList">
                            <li v-for="(comment, $idx) in commentlists" :key="$idx" class='list'>
                                <div>
                                    <span class="userNickname">
                                        <img :src="comment.profileimg" @click="searchProfile(comment.fid)">
                                        <div class="nickname"></div>{{comment.nickname}}
                                    </span>
                                    <span>{{comment.contents}}</span>
                                    <button v-show="commentXview[$idx]" id=commentDelete @click="commentDelete(comment.cid)" style="float:right; margin-top:10px">X</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                     <div id="icons">
                        <span class="usermenuicon" @click="likeUser" :key="likecheck">
                            <span class="likeIcon" v-show="likecheck">
                                <span id="like"><i class="fas fa-heart"></i></span>
                            </span>
                            <span class="likeIcon" v-show="!likecheck">
                                <span><i class="far fa-heart"></i></span>
                            </span>
                            <span id="likeMentDiv" v-bind:key="likecnt" v-if="likecnt!=0">
                                <span id="likeMent">좋아요 {{this.likecnt}} 개</span>
                            </span>
                        </span>
                        
                    </div>
                    <div id="writeTime">
                        {{nowfeed.writedate}}
                    </div>
                    <div style="display:flex;width:100%">
                        <div id="comment" style="width:100%;margin:0;">
                            
                            <VueEmoji ref="emoji" class="commentwrite" type="text" @input="onInput" :value="contents" @keyup.enter="insertComment" placeholder="댓글달기..." width="100%" height="20px"/>
                            <!-- <input type="text" class="commentwrite"  v-model="contents" > -->
                        </div>
                        <button @click="insertComment" >게시</button>
                    </div> 
                    
                </div>
            </div>
        </div>
        <button class="btn-style btn--back btn--signin close" @click="$emit('update:proModal', !proModal)" style="position:fixed; left:92vw; top:7vh; width:5%">
                X
        </button>
    </div>
    
</template>

<script>
    import axios from 'axios'
    import FeedApi from '../../apis/FeedApi'
    import UserApi from '../../apis/UserApi'
    import CommentApi from '../../apis/CommentApi'
    import VueCookies from "vue-cookies";

    import VueEmoji from 'emoji-vue'
    export default {
        components: {
            VueEmoji,
        },
        data() {
            return {
                // feedimgurl : this.nowfeed.imgurl,
                contents : "",
                fid : 0,
                token: '',
                inputcontent: '',
                commentlists: '',
                peopletag: [],
                hashtag: [],
                searchPeople:0,
                searchPeopleText:'',
                getuid: 0,
                commentXview: [],


            };
        },
        mounted(){
            
            
        },
        props: {
            proModal: {
                type: Boolean,
                require: true,
                default: false
            },
            nowfeed:{
                type:Object,
                require: true,
            },
            uid:{
                type :Number,
                require: true 
            },
            commentlist : {
                type : Array,
                require : true
            },
            likecheck : {
                type : Boolean,
                require : true
            },
            likecnt : {
                type : Number,
                require : true
            },
            
        },
        watch: {
            likecheck: function (v) {
                
                this.checkLikeCnt();
            
            },
            commentlist: function (v) {
                
                this.checktag();
                this.commentlists = this.commentlist

                console.log(this.uid)
                this.token = VueCookies.get("lululalatoken");
                let {token} = this;
                var data = { token};
                UserApi.getUser(data,res=>{
                    if(res.data.status){
                        this.getuid = res.data.object["uid"];
                        console.log(this.getuid)
                        for(var i=0;i<this.commentlist.length;i++){
                            if(this.getuid == this.commentlist.uid){
                                this.commentXview[i] = true;
                            }else{
                                this.commentXview[i] = false;
                            }
                        }
                    }
                },error=>{
                    
                   
                })

                



            },

            
            
        },
        methods: {
            checktag(){
                this.peopletag = null
                this.hashtag = null
                this.fid = this.nowfeed.fid;
                let {fid} = this;
                let data = {fid};
                
                FeedApi.requestSearchTag(data,res=>{
                    if(res.data.status){
                        
                        this.peopletag = res.data.object.peopletag;
                        this.hashtag = res.data.object.hashtag;
                       
                    }
                },error=>{
                    
                    alert("태그 정보 불러오기 오류.. 룰루랄라에 문의 해 주세요");
                } )
            },
            handleWrapperClick(){
                this.$emit('update:proModal', false)
            },
            likeUser(){
                this.fid = this.nowfeed.fid;
                let {uid,fid} = this;
                let data = {uid,fid};
               
                if(!this.likecheck){
                    FeedApi.insertlike(data,res=>{
                        if(res.data.status){
                         
                            this.likecheck = true;
                        }
                    },error=>{
                        
                        alert("좋아요 등록 오류.. 룰루랄라에 문의 해 주세요");
                    })
                }
                else{
                    FeedApi.deletelike(data,res=>{
                        if(res.data.status){
                           
                            this.likecheck = false;
                        }
                    },error=>{
                        
                        alert("좋아요 취소하기 오류.. 룰루랄라에 문의 해 주세요");
                    })
                }

            },
            checkLikeCnt() {
                let data = {uid:this.uid, fid:this.fid};
                FeedApi.countlike(data,res=>{
                    if(res.data.data == "succ"){
                        this.likecnt = res.data.object["count"];
                    }
                },error=>{
                    
                    alert("좋아요 정보 불러오기 오류.. 룰루랄라에 문의 해 주세요");
                })

                
                
            },
            insertComment(){
                
                this.fid = this.nowfeed.fid;
                
                let {fid, uid, contents} = this;
                let data = {fid, uid, contents:this.inputcontent};
                CommentApi.insertComment(data,res=>{
                    

                    CommentApi.searchComment(this.fid, res=>{
                        if (res.data !== ''){

                            this.commentlists = res.data.object.commentlist;
                            for(var i = 0; i < this.commentlists.length; i++){
                                var peopleUid = this.commentlists[i].uid;
                                
                            }
                        }
                    
                    })
                })

                
                this.inputcontent="";
                this.$refs.emoji.clear()
            },

            onInput(event) {
                //event.data contains the value of the textarea
                this.inputcontent = event.data
            },
            clearTextarea(){
                this.$refs.emoji.clear()
            },
            searchProfile(searchPeople){
                
            
                let data = {searchPeople};
                
                UserApi.findUserByUid(searchPeople,res=>{
                  
                    
                    this.$router.push({name : 'PeopleProfile', params: { peopleNickname: res.data.object["nickname"]}});
                })                       
            },
            searchHashtag(tag){
                  
                this.$router.push({name : 'SeachFeedbytag', params: { keyword: tag}});
                                     
            },
            searchPeopletag(searchPeople){

                let data = {searchPeople};
                UserApi.requestUserInfo(searchPeople,res=>{
                    
                    this.$router.push({name : 'PeopleProfile', params: { peopleNickname: res.data.object["nickname"]}});
                      
                })  


                 
                                  
            },

            
        },
        
    }

</script>

