<template>
    <div class="profilemain">
        
        <flist
        :modalVisible.sync="modalVisible"
        :followers="followers"
        :followings="followings"
        :checkFollower="checkFollower">
        </flist>
        <pro-modal
            :proModal.sync="proModal" 
            :nowfeed="nowfeed"
            :uid="uid"
            :commentlist="commentlist"
            :likecheck="likecheck"
            :likecnt="likecnt"
            :hashtag="hashtag"
            :peopletag="peopletag">
        </pro-modal>
        <!-- <h1>{{this.nickname}}님의 정보</h1> -->

        <div class="myinfo">
            <div class="infotomid">
            <div class="infoheader">
                <div class="mypagename">
                     <p>{{this.usertitle}}</p>
                </div>
                <div class="follow">
                
                    <div class="followers">팔로워</div>
                    <button @click="followerPopup">{{followersLen}}</button>
                    <div class="followernum"></div>
                    <div class="followings">팔로잉</div>
                    <button @click="followingPopup">{{followingsLen}}</button>
                    <div class="followingnum"></div>
                </div>
                
                    <button class="settingbtn">
                        <router-link  v-bind:to="{name:'UserInfo'}">
                        <img class="settingimg" src="../../assets/images/emptysetting.png">
                        </router-link>
                    </button>
               
            </div>
            
            <div class="profileimg">
                <div>
                    <img class="myimg" :src="this.profileimg">
                </div>
                
            </div>
            <div class="mynickname">
                    <p>{{this.nickname}}</p>
                </div>
                <div class="message">
                    <p>{{this.intro}}</p>    
                </div>
            </div>
        </div>

        <div class="profeed qurafeed">  
            <vue-tabs 
            active-tab-color="#e3dee3"
            active-text-color="#58505a"
            type="pills"
            text-position="none"
            direction="horizontal"
            value="Object"
            
            >
               
                <v-tab title="유저메뉴" icon="ti-tag">
                     <div>
                        <ul class='feedBoard'>
                            <li v-for="(feed, idx) in taggedFeeds" :key="idx" class='board'>
                                  <!-- feed.open이 2이하면 출력  -->
                                <div class="post" id="menus" @click="profilePopup(feed)">
                                    <img :src="feed.imgurl"> 
                                </div>
                            </li>
                        </ul>
                    </div>
            
                </v-tab>
               
                <v-tab title="추가" icon="ti-plus">
                    <FeedUpload></FeedUpload>
                </v-tab>
            </vue-tabs>
        </div> 
    </div>
</template>

<script>
    import axios from 'axios'
    import '../../assets/css/profile.scss'
    import '../../assets/css/user.scss'
    import '../../assets/css/style.scss'
    import '../../assets/css/feed.scss'
    import FeedApi from '../../apis/FeedApi'
    import VueEmoji from 'emoji-vue'
    import FeedUpload from '../feed/FeedUpload.vue'
    import UserApi from '../../apis/UserApi'
    import VueCookies from "vue-cookies";
    // modal들
    import Followlist from './Followlist'
    import ProfileModal from './ProfileModal'
    import CommentApi from '../../apis/CommentApi'

    export default {
       
        components: {
            FeedUpload,
           // VueEmoji,
            flist: Followlist,
            ProModal: ProfileModal
        },
        data: () => {
            return {
                email: '',
                nickname:'',
                intro:'',
                usertitle: '',
                profileimg: '',
                postImage : '',
                postHashTag : '',
                postPeopleTag : '',
                postWrite : '',
                filename: '',
                imageSrc: '',
                uid : 0,
                feed: {
                    likeOwn:false,
                    },
                  
                feeds: [],
                taggedFeeds:[],
                myText: '',
                inputcontent:'',
                imgurl:'',
                token: '',
                modalVisible: false,
                // 사진 자세히보기
                followers: [],
                followersLen: 0,
                followings : [],
                followingsLen : 0,
                checkFollower : false,

                
                nowfeed: {},
                proModal: false,
                commentlist:[],
                likecheck: false,
                likecnt: 0,
                searchPeople:0,
                searchPeopleText:'',
                peopletag: [],
                hashtag: [],
            }
        },
        mounted(){
            this.email = this.$route.params.email
            
            this.token = VueCookies.get("lululalatoken");
            let {token,uid} = this;
            let data = { token,uid};
            
            
        
            UserApi.getUser(data,res=>{
                
                if(res.data.status){
                    this.uid = res.data.object["uid"]; 
                    this.nickname = res.data.object["nickname"]; 
                    this.profileimg = res.data.object["profileimg"];
                    this.intro = res.data.object["intro"];
                    this.usertitle = res.data.object["usertitle"];
                    let {uid} = this;
                    let data = {uid};
                  
                
                 
                    // FeedApi.requestmyFeed(this.uid,res=>{
                    // if(res.data.status){
                    //     this.feeds = res.data.object.feedlist;        
                    //     if (this.feedidx < this.feeds.length) {
                    //         this.page += 1;
                            
                            
                    //         for (var j=this.feedidx; j<(this.feedidx+this.feedViewPerPage); j++){
                    //             if (j >= this.feeds.length){
                    //                 break;
                    //             }
                    //             this.feedlist.push(this.feeds[j]);
                    //         }
                    //         this.feedidx += this.feedViewPerPage;
                    //     }
                    //     if (this.pageidx < this.feeds.length) {
                    //         this.feedpage += 1;
                                
                    //         for (var i=this.pageidx; i<(this.pageidx+this.imageViewPerPage); i++){
                    //             if (i >= this.feeds.length){
                    //                 break;
                    //             }
                    //             this.list.push(this.feeds[i]);
                    //         }
                    //         this.pageidx += this.imageViewPerPage;
                    //     } 
                    // }
                    
                    // },error=>{  
                    //     alert("피드 불러오기 에러! 룰루랄라에 문의해주세요,,, ");
                        
                    // })
                    FeedApi.searchFeedByHashtag(this.uid, res =>{
                        if (res.data !== ''){
                            this.taggedFeeds = res.data.object.feedlist;
                            
                        }
                    })
                   
                    UserApi.requestFollower(this.nickname,async res=>{
             
                        this.followers = await res.data.object.userlist;
                        this.followersLen = this.followers.length;
                       
                    },error=>{
                        
                    })
                    UserApi.requestFollowing(this.nickname,res=>{
                    
                        this.followings = res.data.object.userlist;
                        this.followingsLen = this.followings.length;
                        
                    })
                }
                            

                },error=>{  
                    alert("피드 불러오기 에러! 룰루랄라에 문의해주세요,,, ");
                    
                })
            this.$emit('update:title', "")
            this.$emit('update:sidebarTitle', "로그인이 필요합니다.")
            this.$emit('update:headerInvisible', false)
            this.$emit('update:sidebarAvailable', true)

            //this.follower 
            //UserApi

        },
        methods:{
            getPic(name) {
                // return require('../../assets/images/'+name+'.png')
            },
            fileSelect(){ // data의 이미지 속성에 접근하여 데이터 담아주는 함수
               
                this.inputImageFile(event.target.files)
                this.postImage = this.$refs.postImage.files[0];
                
                const URL = 'http://192.168.100.72:8080/lululala/feed/uploadfile'; 

                var formData = new FormData();
                var content = '<a id="a"><b id="b">hey!</b></a>'; // the body of the new file...
                var blob = new Blob([content], { type: "application/json"});
                formData.append("webmasterfile", blob);
                formData.append("postImage", this.postImage);
                
                axios
                .post(URL, formData)
                .then(
                  response => {
                      
                        this.imgurl = response.data.data;
                    }
                )
                
           },
            uploadPost(event) {
               
                let {uid, content,inputcontent,imgurl} = this;
                let data = {
                    contents : inputcontent,
                    imgurl,
                    hashtag : '',
                    peopletag: '',
                    uid,
                    open: 0
                    
                }
                
                FeedApi.createFeed(data,res=>{   
                      
                    if(res.data.status){
                        this.$router.push('/user/MainFeed');
                       
                    }
                        //this.$router.push({name : 'JoinSucc', params : {email : this.email}});
                    else{ 
                        this.createFailMsg = "회원가입에 실패하였습니다.. 흑흑 8-8";
                    }

                },error=>{                     
                    //요청이 끝나면 버튼 활성화
                    
                    this.isSubmit = true;
                })

               
            },
            readURL(input){
                if(input.files && input.files[0]){
                    var reader = new FileReader();
                    reader.onload = function(e){

                    }
                }   
            },
            onDrop (event) {
                this.inputImageFile(event.dataTransfer.files)
            },
            onClickFile(event) {
                
                this.$refs.postImage.click()
            },
            onFileChange(event) {
                this.inputImageFile(event.target.files)
            },
            inputImageFile (files) {
            
            if (files.length) {
                let file = files[0]
                if (!/^image\//.test(file.type)) {
                alert('이미지 파일만 등록이 가능합니다')
                return false
                }
                this.filename = file.name
                this.preview(file)
            }
            },
            onClickUpload () {
              this.preview (this.filename)
            },
            preview (file) {
               if (typeof file === 'string') {
                  this.imageSrc = file
                  
                } else {
                    let vm = this
                    let reader = new FileReader()
                    reader.onload = () => {
                     vm.imageSrc = reader.result
                    }
                    reader.readAsDataURL(file)
                
                }
            },
            
            onInput(event) {
                //event.data contains the value of the textarea
                this.inputcontent = event.data
            },
            clearTextarea(){
                this.$refs.emoji.clear()
            },  
            followerPopup(){
                this.checkFollower = true;
                this.modalVisible = !this.modalVisible;
            },
            followingPopup(){
                this.checkFollower = false;
                this.modalVisible = !this.modalVisible;
            },
            profilePopup(feed){ 
                this.proModal = !this.proModal;
                this.nowfeed = feed;
                
                this.commentlist = null;


                CommentApi.searchComment(feed.fid, res=>{
                    this.commentlist = res.data.object.commentlist;
                    for(var i = 0; i < this.commentlist.length; i++){
                        var peopleUid = this.commentlist[i].uid;
                        
                    }
                    
                })

                this.fid = this.nowfeed.fid;
                this.token = VueCookies.get("token");
                let {token} = this;
                let data = {token};
                UserApi.getUser(data,res=>{
                    if(res.data.status){
                        this.uid = res.data.object["uid"];
                        let {uid,fid} = this;
                        data = {uid,fid};
                        FeedApi.checklike(data,res=>{
                            if(res.data.data == "succ"){
                                this.likecheck = true;
                                
                            }else{
                                this.likecheck = false;
                                
                            }
                        },error=>{
                            
                            alert("피드 좋아요여부 오류.. 룰루랄라에 문의 해 주세요");
                        })
                        FeedApi.countlike(data,res=>{
                            if(res.data.data == "succ"){
                                this.likecnt = res.data.object["count"];
                                
                            }
                        },error=>{
                            
                            alert("좋아요 정보 불러오기 오류.. 룰루랄라에 문의 해 주세요");
                        })
                        data = {fid};
                        FeedApi.requestSearchTag(data,res=>{
                            if(res.data.status){
                                
                                this.peopletag = res.data.object.peopletag;
                                this.hashtag = res.data.object.hashtag;
                            }
                        },error=>{
                            
                            alert("태그 정보 불러오기 오류.. 룰루랄라에 문의 해 주세요");
                        } )
                    }else{
                        alert("로그인 상태 오류.. 다시 로그인 해주세요");
                        
                    }
                },error=>{
                    
                    alert("로그인 상태 오류.. 다시 로그인 해주세요");
                })
            },
        },
        props: {
            title: {
            type: String,
            require: false,
            },
            sidebarTitle: {
            type: String,
            require: false,
            },
            headerInvisible:{
            type: Boolean,
            require: false,
            },
            sidebarAvailable:{
            type: Boolean,
            require: false,
            },
        },
    }

</script>


