<template>
    <div class="user" id="joinMailConfirm">
        <h1>인증메일 발송</h1>
        <div class="content">      
            <h2>{{email}}</h2>
            {{this.$route.params.email}}
            <p>위의 메일로 인증메일을 발송했습니다.</p>
        </div>
        <div id="confirm">
            <input v-model="confirmCode" id="confirmCode" placeholder="인증코드를 입력해주세요." type="text">
            <button id="confirmCodeBtn" v-on:click="CertifyCode" :disabled="!isSubmit"
                    :class="{disabled : !isSubmit}">인증</button>
        </div>
        <button> 
            <router-link v-bind:to="{name:'Login'}" class="btn--text">이메일이 도착하지 않았나요?</router-link>
        </button><br>
        <button> 
            <router-link v-bind:to="{name:'Login'}" class="btn--text">로그인 화면으로 돌아가기</router-link>
        </button>
        
    </div>
</template>

<script> 
    export default {
        // props: ["email"],
        data: () => {
                return {
                    pass : localStorage.getItem('passConfirm'),
                    confirmCode: '',
                    isSubmit: false,
                    code: false,
                    email: ''
                }
        },
        mounted() {
            this.email = this.$route.params.email
        },
        watch:{
            confirmCode: function (v) {
                this.checkForm();
            }
        },
       
        methods: {

            CertifyCode(){                          //메일인증 눌렀을때
                if (this.isSubmit) {
                    if(this.confirmCode === this.pass){
                        
                        localStorage.setItem('email', this.email);
                        
                        alert("인증되었습니다 ♪");
                        this.$router.back();
                    }
                    else
                        alert("인증번호가 일치하지 않습니다.. 8-8");
                }

            },
            checkForm(){                            //인증번호 입력했는지 체크
                if(this.confirmCode.length > 0)
                    this.isSubmit = true;
                else
                    this.isSubmit = false;
            }
        }
    }
</script>
