<template>
    <div class="user" id="updateUser">
         <div>
                <div class="wrapC"> 
                    <h1> 회원 정보 수정 </h1>
                    <p class="ment"> 입력 후 저장 버튼을 눌러 주세요 ^0^</p>
                    <div>
                        <div class="input-with-label">
                            <input v-model="nickname" v-bind:class="{error : error.nickname, complete:!error.nickname&&nickname.length!==0}"
                                id="nickname"
                                placeholder="닉네임을 입력하세요." type="text"/>
                            <label for="nickname">닉네임</label>
                            <div id="nicknameCheckBtn"><button class="btn--nicknameCheck" v-on:click="nicknameCheck" :disabled="confirm"
                                :class="{disabled : confirm}">
                                중복확인
                            </button></div>
                            <div class="error-text" v-if="error.nickname">
                                {{error.nickname}}
                            </div>
                        </div>

                        <div class="input-with-label">
                            <input v-model="password" v-bind:class="{error : error.password, complete:!error.password&&password.length!==0}"
                                id="password" :type="passwordType"
                                placeholder="비밀번호를 입력하세요."/>
                            <label for="password">비밀번호</label>
                            <div class="error-text" v-if="error.password">
                                {{error.password}}
                            </div>
                        </div>

                        <div class="input-with-label"> <!-- 양식 적용-->
                            <input v-model="passwordConfirm" :type="passwordConfirmType" v-bind:class="{error : error.passwordConfirm, complete:!error.passwordConfirm&&passwordConfirm.length!==0}"
                                    id="password-confirm"
                                placeholder="비밀번호를 다시한번 입력하세요."/>
                            <label for="password-confirm">비밀번호 확인</label>
                             <div class="error-text" v-if="error.passwordConfirm">
                                {{error.passwordConfirm}}
                            </div>
                        </div>

                        <div class="input-with-label">
                            <input v-model="intro" v-bind:class="{error : error.intro, complete:!error.intro&&intro.length!==0}"
                                id="intro"
                                placeholder="한줄 소개를 입력하세요." type="text"/>
                            <label for="intro">한줄 소개</label>
                            <div class="error-text" v-if="error.usertitle">
                                {{error.intro}}
                            </div>
                        </div>

                        <div class="input-with-label">
                            <input v-model="usertitle" v-bind:class="{error : error.nickname, complete:!error.usertitle&&usertitle.length!==0}"
                                id="usertitle"
                                placeholder="피드 제목을 입력하세요." type="text"/>
                            <label for="usertitle">피드 제목</label>
                            <div class="error-text" v-if="error.usertitle">
                                {{error.usertitle}}
                            </div>
                        </div>
                    </div>

                    <div id="upload">
                        <div class="input-with-label"> 
                            <label> Image Upload </label><br><br>
                            <div class="input-group">
                        <span class="input-group-text" @click="onClickFile"><i class="fa fa-paperclip">
                            </i></span>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Input Image URL or  Drag & Drop or Select"
                            v-model="filename"
                            @dragover.prevent
                            @dragenter.prevent
                            @drop.prevent="onDrop">
                        <div class="input-group-append">
                        
                            <!-- <button
                                    class="btn btn-outline-info"
                                    @click="onClickUpload">Upload</button> -->
                        </div>
                        <input name="photoImage" type=file class="file-input" accept="image/*" ref="postImage" @change="fileSelect">
                       
                    </div>
                    <div v-show="imageSrc" class="upload-image">
                        <img :src="imageSrc">
                    </div>
                        </div>
                   
                    

            </div>


                    <button class="bottomBtn btn-style btn--back" value="수정" v-on:click="updateUser" :disabled="!isSubmit" :class="{disabled : !isSubmit}">
                        수정
                    </button>
                </div>
         </div>
    </div>
</template>

<script>
import axios from 'axios'
import PV from 'password-validator'
import * as EmailValidator from 'email-validator'
import http from "../http-common";
import '../../assets/css/style.scss'
import '../../assets/css/user.scss'
import UserApi from '../../apis/UserApi'
import FeedApi from '../../apis/FeedApi'
import VueCookies from "vue-cookies";

export default {
        data: () => {
            return {
                uid: 0,
                email: '',
                password: '',
                passwordConfirm: '',
                passwordSchema: new PV(),
                nickname: '',
                nicknameOrigin: '',
                intro: '',
                profileimg:'',
                usertitle:'',
                error: {
                    password: false,
                    nickname: false,
                    nicknameOrigin: false,
                    passwordConfirm: false,
                },
                isSubmit: false,
                confirm: true,
                passwordType: "password",
                passwordConfirmType: "password",
                // post를 위한 속성변수들
                postImage : '',
                postHashTag : '',
                postPeopleTag : '',
                postWrite : '',
                filename: '',
                imageSrc: '',
                token: '',
                

            }
        },
        created(){
            

            this.passwordSchema
                .is().min(8)
                .is().max(100)
                .has().digits()
                .has().letters();
            
        
           
        },
        mounted() {
            
            this.token = VueCookies.get("lululalatoken");
            let {token} = this;
            let data = { token};

            UserApi.getUser(data,res=>{
                if(res.data.status){
                
                    this.uid = res.data.object["uid"];
                    this.email = res.data.object["email"];
                    this.nickname = res.data.object["nickname"];
                    this.nicknameOrigin = res.data.object["nickname"];
                    this.profileimg = res.data.object["profileimg"];
                    this.intro = res.data.object["intro"];
                    this.usertitle = res.data.object["usertitle"];
                    
                }
            },error=>{
                
                alert("(회원 수정) 회원 정보 불러오기 오류.. 룰루랄라에 문의 해 주세요");
            })

        },
        watch: {
            
            password: function (v) {
                
                this.checkForm();
            },
            passwordConfirm: function (v) {
                
                this.checkForm();
            },
            nickname: function (v) {
                
                this.confirm = false;
                
                this.checkForm();
                
            },
            usertitle: function (v) {
                
                this.checkForm();
            },
            confirm: function (v) {
                
                this.checkForm();
            }
        },
        methods: {
            checkForm(){
                
                if (!this.confirm)
                    this.error.nickname = "중복확인은 필수!";
                else this.error.nickname = false;

                if (this.nickname === this.nicknameOrigin) {
                    this.error.nickname = false;
                    this.confirm = true;
                } 
                if (this.nickname.length === 0)
                    this.error.nickname = '닉네임을 설정해 주세요'
                else this.error.nickname = false;

                

                if(this.password.length == 0) 
                    this.error.password = '비밀번호입력!!'
                if (this.password.length > 0 && !this.passwordSchema.validate(this.password))
                    this.error.password = '영문, 숫자 포함 8 자리이상이어야 합니다.'
                else this.error.password = false;

                if(this.passwordConfirm.length > 0 && this.passwordConfirm !== this.password)
                    this.error.passwordConfirm = "비밀번호가 일치하지 않습니다."
                else this.error.passwordConfirm = false;
                
                if(this.usertitle.length === 0)
                    this.error.usertitle = "피드 제목은 필수 입니다."
                else this.error.usertitle = false;

                let isSubmit = true;
                Object.values(this.error).map(v => {
                    if (v) isSubmit = false;
                })
                this.isSubmit = isSubmit;
                
            },
            
            nicknameCheck() {   // 중복확인
                let {nickname} = this;
                let data = {nickname};
                UserApi.requestNicknameCheck(data,res=>{
                    
                    if(res.data.status){
                        alert("사용가능한 닉네임입니다 ♪");
                        this.confirm = true;
                    }
                    else{
                        alert("이미 존재하는 닉네임입니다..8-8");
                        this.confirm = false;
                    }
                },error=>{
                    alert("닉네임: " + this.nickname + " 의 중복확인 중 문제가 생겼습니다. 룰루랄라에 문의 해 주세요!");
                    
                })
                this.confirm = true;
            },
            updateUser() {
                let {nickname, email, password, intro, profileimg, usertitle} = this;
                let data = {nickname, email, password, intro, profileimg, usertitle};
                UserApi.requestUpdate(data,res=>{
                   

                    alert(this.nickname+"님의 정보 수정이 완료되었습니다 !");
                    this.$router.push('/user/MainFeed');    //돌아가는 위치 바꾸기
                },error=>{
                    alert("회원정보 수정 중 문제가 생겼습니다. 룰루랄라에 문의 해 주세요!");
                    
                })
            },
            getPic(name) {
                // return require('../../assets/images/'+name+'.png')
            },
            fileSelect(){ // data의 이미지 속성에 접근하여 데이터 담아주는 함수
              
                this.inputImageFile(event.target.files)
                this.postImage = this.$refs.postImage.files[0];
                
                const URL = 'http://192.168.100.72:8080/lululala/account/uploadfile'; 

                var formData = new FormData();
                var content = '<a id="a"><b id="b">hey!</b></a>'; // the body of the new file...
                var blob = new Blob([content], { type: "application/json"});
                formData.append("webmasterfile", blob);
                formData.append("postImage", this.postImage);
                
                axios
                .post(URL, formData)
                .then(
                  response => {
                      
                      this.profileimg = response.data.data;
                    }
                )
                
           },
            uploadPost(event) {
                let {uid, content,} = this;
                let data = {
                    feed : this.content,
                    hashtag : '2',
                    peopletag: '3',
                    
                }
                
                FeedApi.createFeed(data,res=>{   
                             
                    if(res.data.status){
                        this.$router.push('/');
                        
                    }
                        //this.$router.push({name : 'JoinSucc', params : {email : this.email}});
                    else{ 
                        this.createFailMsg = "회원가입에 실패하였습니다.. 흑흑 8-8";
                    }

                },error=>{                     
                    //요청이 끝나면 버튼 활성화
                    
                    this.isSubmit = true;
                })

               
            },
             readURL(input){
                 if(input.files && input.files[0]){
                     var reader = new FileReader();
                     reader.onload = function(e){

                     }
                 }   
             },
              onDrop (event) {
                  this.inputImageFile(event.dataTransfer.files)
             },
            onClickFile(event) {
                
                this.$refs.postImage.click()
            },
            onFileChange(event) {
                
                 this.inputImageFile(event.target.files)
            },
            inputImageFile (files) {
            
            if (files.length) {
                let file = files[0]
                if (!/^image\//.test(file.type)) {
                alert('이미지 파일만 등록이 가능합니다')
                return false
                }
                this.filename = file.name
                this.preview(file)
            }
            },
            onClickUpload () {
              
              this.preview (this.filename)
            },
            preview (file) {
                
                if (typeof file === 'string') {
                  this.imageSrc = file
                  
                } else {
                    
                    let vm = this
                    let reader = new FileReader()
                    reader.onload = () => {
                    vm.imageSrc = reader.result
                    }
                    reader.readAsDataURL(file)
                
                }
            },
        }

}
</script>

<style>

</style>