<template>
  <div class="user" id="userInfo" >
        <div class="wrapC">
            <h1> 회원 정보 </h1>
            <div class="infoList"> 
                <label for="email">이메일</label>
                <p>{{this.email}}</p>
            </div>
            <div class="infoList">
                <label for="nickname">닉네임</label>
                <p>{{this.nickname}}</p>
            </div>
            <div class="infoList">
                <label for="intro">한줄 소개</label>
                <p>{{this.intro}}</p>
            </div>
            <div>
                <label for="profileimg">프로필 사진</label>
                <img width="200px" height="200px" :src="this.profileimg">
            </div>
            <div>
                <label for="usertitle">피드 제목</label>
                <p>{{this.usertitle}}</p>
            </div>
            <div>
                <button class="bottomBtn btn-style btn--back" v-on:click="update">
                    수정하기
                </button>
            </div>
            <div>
                <button class="bottomBtn" v-on:click="deleteUser">
                    탈퇴하기
                </button>
            </div>
        </div>
  </div>
</template>

<script>
import UserApi from '../../apis/UserApi'
import VueCookies from "vue-cookies";


export default {
    data: () => {
        return {
            uid: 0,
            email: '',
            nickname: '',
            intro: '',
            profileimg:'',
            usertitle:'',
            error: {
                nickname: false,
            },
            token: '',
        }
    },
    created(){
        this.token = VueCookies.get("lululalatoken");
        let {token,uid} = this;
        let data = { token,uid};
        

        UserApi.getUser(data,res=>{
            if(res.data.status){
                this.uid = res.data.object["uid"];
                this.email = res.data.object["email"];
                this.nickname = res.data.object["nickname"]; 
                this.profileimg = res.data.object["profileimg"];
                this.intro = res.data.object["intro"];
                this.usertitle = res.data.object["usertitle"];
                this.$session.set('userEmail',this.email); 
            }
        },error=>{  
            alert("유저 정보를 불러올수 없습니다. ");
           
        })

    },
    mounted() {
        
        
    },
    methods: {
        update() {
            this.$router.push('/user/UpdateUser');
        },
        deleteUser() {
            //모달로 이메일 확인 한번 받고 토큰 확인...?
            UserApi.requestDelete(res=>{
                //토큰이 유효하면 실어보내기
                if(res.status){
                    alert("회원 탈퇴가 완료되었습니다.");
                }
                else
                    alert("로그인 세션이 만료되었습니다. 재로그인 후 탈퇴를 진행 해 주세요!");

            },
            error=>{
                
                alert("회원 탈퇴 과정에 오류가 생겼습니다. 룰루랄라에 문의해 주세요.");
            })

        }
    }
}
</script>

<style>

</style>