<template>
    <div id="app">
        <main-header
        :title.sync="title"
        v-show="!headerInvisible"
        :keywords.sync="keywords"/>
        
    <Slide v-show="sidebarAvailable">
        <div id="side">
            <div class="side-menuList" id="side-menu1">
                <div>
                    <span id="user"><i class="fas fa-user fa-sm"></i> {{this.username}}</span>
                </div>
            </div>
        <div class="side-menuList" id="side-menu2">
            <router-link v-bind:to="{name:'MyCafe'}" class="toMain">  
                <div>
                    <span><i class="fas fa-users fa-sm"></i> 가입랄라</span>
                </div>    
            </router-link>
        </div>  

        <div class="side-menuList" id="side-menu3">
            <router-link v-bind:to="{name:'Curation'}" class="toMain">  
                <div>
                    <span><i class="fas fa-copyright"></i> 큐레이션</span>
                </div>              
            </router-link>
        </div>
        <div class="side-menuList" id="side-menu4">
            <span><i class="fas fa-sign-out-alt"></i><a @click="logout"> 로그아웃</a></span>
        </div>
    </div>
        

    </Slide>

        <main id="page-wrap">
        <router-view
            :key="$route.fullPath"
            :title.sync="title"
            :username.sync="username"
            :sidebarTitle.sync="sidebarTitle"
            :headerInvisible.sync="headerInvisible"
            :sidebarAvailable.sync="sidebarAvailable"
            :keywords.sync="keywords"/>
        </main>

    </div>
</template>

<script>
    import MainHeader from './views/user/MainHeader.vue'
    import MainFooter from './views/user/MainFooter.vue'
    import Kakao from '../kakao'
    import FeedApi from './apis/FeedApi'
    import { Slide } from 'vue-burger-menu'
    import VueCookie from 'vue-cookies';

    export default {
        name: 'app',
        components: {
            'main-header' : MainHeader,
            Slide 
        },
        
        data: () => {
            return {
                uid: 1,
                feeds: [],
                title:'',
                sidebarAvailable: true,
                sidebarTitle:'',
                headerInvisible:'',
                username:'',
                keywords:'',
            }
        },
        created() {
            // 중복 init 방지위해 최상단으로 이동
             Kakao.init('c9d2ed45171c1a6e7a0c8a7d1cac9173');
        },

        mounted() {
            let {uid} = this;
            let data = {uid};
            //uid에 대한 로그인정보를 불러오기
            
        },
        methods:{
            logout(){
                VueCookie.set('lululalatoken', "", '1s' );
                VueCookie.set('token', "", '1s' );
                // Kakao.API.request({
                //     url : "/v2/user/logout",
                //     success : function(res){
                //         console.log(res);
                //         this.$router.push({name:"Login"});
                //     },
                //     //API 호출이 실패할 경우 결과를 받을 콜백 함수
                //     fail : function(errorObj){
                //         console.log(errorObj);
                //     },
                    
                    
                // });
                this.$router.push({name:"Login"});
                
            },
        },
    }
</script>

<style lang="scss">
    element.style {
        width: 180px;
    }
    #side {
        display: block;
    }
 .bm-menu {
     background-color: rgba(30, 24, 32, 0.769);
     .side-menuList {
        font-size: 17px;
        font-weight: 400;
        height: 10vh;
        color: white;
        span {
            color: white;
        }
        #user {
            color: #ffe96f;
        }
     }
     
 }
 .bm-burger-button {
      position: fixed;
      width: 20px;
      height: 15px;
      left: 2vw;
      top: 4vh !important;
      cursor: pointer;
      
      z-index: 100000 !important;
    }
.bm-burger-bars line-style{
    color: #78627e;
}

.bm-overlay {
    background: transparent !important;
}
#page-wrap{
    z-index: -1 !important;
}
// body{
//      overflow: hidden;
// }
.bm-menu{
    margin-top: 10vh;
    height: 90vh !important;
}

</style>